[2020-02-27 20:13] mattstein opened #1 "[FR] database import command"
Thinking of something like DDEV’s `import-db`, which without any arguments asks you to point to a database. Also supports a `--src` argument for the fast (non-interactive) lane.

Others mentioned adding a flag (maybe `--support`) that could parse the dump for the table prefix and adjust `.env` accordingly.

[2020-02-27 20:19] jasonmccallister opened #2 "Add remote command to share application"
This would act similar to ngrok.io and create a randomly generated port to map to a machine and host.

[code]

[2020-02-27 20:22] jasonmccallister opened #3 "[FR] add command to get the database user password"
This would display the database password which is unique to each machine and shared across each type of database.

[code]

I'm going to make this a subcommand as I think it would be interesting to try to add a backup command.

[2020-02-27 20:25] jasonmccallister opened #4 "[FR] add command option to mount a directory into the machine"
This would work as a map to a directory into a virtual machine, should be a part of the add-host command.

[2020-02-27 20:29] jasonmccallister opened #5 "[FR] add flags to init to override the machine specs"
We need a method to override the default specs that multipass uses the create machines. It should use the defaults from multipass.

[code]

[2020-02-27 20:32] jasonmccallister opened #6 "The PHP script should download the correct binary"
To not ship binaries for each OS, the php bin script should detect the OS and download the correct binary. Ideally this would work the same way that symfony phpunit works.

[2020-02-27 20:43] jasonmccallister opened #7 "[FR] add hosts command"
To obfuscate the IP address, we should add the ability to automatically edit the hosts file for the user. This library (https://github.com/txn2/txeh) might work, but need to check the license.

[code]

[2020-02-27 20:44] jasonmccallister opened #8 "[FR] add command to get machine IP address"
Make it easier to get the machines IP.

[code]

[2020-02-27 20:45] jasonmccallister opened #9 "[FR] add logs command for nginx"
Should output the logs to nginx

[code]

[2020-02-27 20:48] jasonmccallister opened #10 "Add support for HTTPS"
This command would create a certificate for local development. We should look at using this library: https://github.com/FiloSottile/mkcert

[code]

For simplicity, we should create `*.test` certificates. Still need to research the feasibility of this.

[2020-02-27 20:52] jasonmccallister opened #11 "[FR] add config file support"
In order to make providing defaults to a machine, we should offer support for a YAML file that sets these flags. The CLI package already support YAML and TOML.

[code]

Here is an example project that uses the alternate source:

[code]

Example YAML file

[code]

[2020-02-27 20:53] jasonmccallister opened #12 "Add options for installing alternate versions of PHP"

[2020-02-27 20:53] jasonmccallister opened #13 "Add command to install postgres"

[2020-02-27 21:12] #3 closed, assigned to nobody

[2020-02-28 03:31] mattstein opened #14 "[FR] add XDebug support"
Probably disabled by default (because speed!), with a console command to switch it on and off. Something like Homestead’s `xon` and `xoff`.

[2020-02-28 18:05] #8 closed, assigned to nobody

[2020-02-28 18:05] #9 closed, assigned to nobody

[2020-02-28 18:24] #5 closed, assigned to nobody

[2020-03-04 15:00] #14 closed, assigned to nobody

[2020-03-04 15:00] #12 closed, assigned to nobody

[2020-03-04 15:02] #4 closed, assigned to nobody

[2020-03-05 21:41] mattstein opened #15 "[FR] add service restart command"
It’d be ideal to have a command that could behave similarly to `systemctl` for restarting the services Nitro provides. Possibly something like...

- `nitro service start` to send a start command to all of them
- `nitro service stop` to send a stop command to all of them
- `nitro service restart` to send a restart command to all of them
- flags for each like `nitro service restart --nginx --mysql`

[2020-03-05 21:48] mattstein opened #16 "[FR] `nitro info` command"
Single command for listing commonly-important (and unique) machine details.

Example:
[code]

[2020-03-05 21:49] mattstein opened #17 "[FR] command to delete host"
It’d be nice to *delete* a host Nitro created for me if I want a do-over. Use case: I created a host using PHP 7.4, and PHP 7.5 came out.

[2020-03-05 21:52] mattstein opened #18 "Facility or best practice for customizing nginx config"
Anyone comfortable with nginx will most likely want to tailor its config with project-specific considerations like cache fragments or custom headers or whatever. Ideally there would be either a specific, prescribed way of doing that or a recommended best practice so the end user could keep their config versioned and not create a Nitro hairball. (Which would smell terrible.)

[2020-03-05 21:58] mattstein opened #19 "ImageMagick with webp support"
Installing ImageMagick, specifically with webp support for PHP, can be annoying. It would be wonderful if Nitro came out of the box with the option to use GD or ImageMagick and modern presets. (Some hosts and provisioning services do this by default and it’s fabulous—many do not and it can be a struggle.)

The end goal is to run `php --info` and see `WEBP` included in the imagick extension’s suppo

[2020-03-05 22:04] mattstein opened #20 "Recommend setup for front end complexities like HMR"
This may be a non-issue, but my DDEV/Docker setup has been tricky at times with front end testing (Codeception browser tests, Jest) and webpack (specifically HMR), so even if it’s a documentation issue (!) it’ll be good to have some best practices and recommendations around how those things should work with a project running in a Nitro machine.

[2020-03-10 18:09] angrybrad opened #21 "Figure out licensing"
Multiplass is GPL

[2020-03-10 20:34] angrybrad opened #22 "Multipass installation"
See if it's possible to check if Multipass is installed and if not, automatically download

[2020-03-10 22:49] angrybrad opened #23 "Should remove index index.html index.htm from default nginx vhost configs"

[2020-03-11 00:43] #23 closed, assigned to nobody

[2020-03-11 16:36] jasonmccallister opened #24 "[FR] add command `refresh` to update scripts"
This would make it easier to update scripts placed on the machine when changes are made.

[2020-03-11 20:00] #17 closed, assigned to nobody

[2020-03-11 20:35] #7 closed, assigned to nobody

[2020-03-11 20:52] #16 closed, assigned to nobody

[2020-03-11 21:02] jasonmccallister opened #26 "Add binary signing for macOS"
Signing the binary will allow it to run without prompts on macOS

[2020-03-11 21:03] jasonmccallister opened #27 "Documentation"
We need to add documentation, at least in the README.md, during the beta. Might be worth having @mattstein look at adding a local development section to the Craft CMS docs.

[2020-03-11 22:17] angrybrad opened #28 "Test Windows/Linux support"

[2020-03-13 12:19] #15 closed, assigned to nobody

[2020-03-17 20:56] #27 closed, assigned to nobody

[2020-03-19 00:59] angrybrad opened #30 "fastcgi_read_timeout setting"
We should set the fastcgi_read_timeout to 240 inside of the nginx vhost block for a site to match php.ini's max_execution_time as well as nginx's request_terminate_timeout.

[2020-03-19 03:59] angrybrad opened #31 "add/remove (for vhosts) too confusing with destroy/init?"

[2020-03-19 04:00] angrybrad opened #32 "init should prompt to add the first host"
at a minimum suggest to do that as the next step

[2020-03-19 04:01] angrybrad opened #33 ""add" response text"
when using add, it has this as response text "sudo nitro --machine nitro-dev hosts craft3.support.test" -

hosts doesn't exist anymore

[2020-03-19 04:02] angrybrad opened #34 "wrong server name in nginx vhost conf"
adds an extra .test at the end of the domain

[2020-03-19 04:02] angrybrad opened #35 "Default nginx conf"
review https://github.com/nystudio107/nginx-craft/

[2020-03-19 04:03] angrybrad opened #36 "add automatic db backup and restore when "soft" deleting a VM"

[2020-03-19 04:10] angrybrad opened #37 "figure out persistant storage"
sqlite?
https://github.com/dgraph-io/badger?

[2020-03-19 04:33] angrybrad opened #38 "add info command?"
Displays basic VM info. I feel like there was one, but it's gone now?

[2020-03-19 14:50] #38 closed, assigned to nobody

[2020-03-19 14:55] #34 closed, assigned to nobody

[2020-03-19 14:58] #33 closed, assigned to nobody

[2020-03-19 17:22] jasonmccallister opened #39 "Add global installation"
It would be helpful to have an installer that would enable nitro as a global cli.

There are some useful installer scripts we could use but we should also have a brew formula for macOS.

[2020-03-19 21:39] #24 closed, assigned to jasonmccallister

[2020-03-19 22:32] angrybrad opened #40 "if you call site, it should automatically modify the hosts file with the domain passed in"

[2020-03-19 22:40] angrybrad opened #41 "Look at getting rid of IP command"
Info is already in `info` and it's more useful.

[2020-03-20 13:49] jasonmccallister opened #42 "Combine init and bootstrap into single command"

[2020-03-20 13:51] #42 closed, assigned to nobody

[2020-03-20 13:53] #41 closed, assigned to nobody

[2020-03-20 15:06] #31 closed, assigned to nobody

[2020-03-20 22:19] angrybrad opened #43 "Backup command"
Would be awesome if nitro had a way to backup and database from the host and restore without having to shell in.

[2020-03-23 13:46] #32 closed, assigned to nobody

[2020-03-23 18:53] angrybrad opened #44 "machine create should prompt for the vm machine name"
can default to nitro-dev if nothing is entered

[2020-03-23 21:26] angrybrad opened #45 "the nitro exe should be location aware"
for example, if you have:

      --dev
        --projectA
        --projectB

Where `projectA` is a nitro VM and you execute `nitro` from inside that project, there shouldn't be a need to specify `--machine projectA` in CLI commands.

[2020-03-23 21:33] angrybrad opened #46 "info command weirdness"
If you have multiple VMs running and you run `nitro info`, it will only display the first VM.

You have to explicitly pass in `--machine` to see the 2nd VM's info.

Maybe `nitro info` should return all VM's by default and if you want just one, pass in the `--machine` flag?

Or maybe once https://github.com/pixelandtonic/nitro/issues/45 is implemented, and it's in the context of a project, it retur

[2020-03-23 22:00] #45 closed, assigned to nobody

[2020-03-23 23:10] angrybrad opened #47 "Postgres support busted"
[code]

Similar issue in Homestead that's been around for ages: https://github.com/laravel/homestead/issues/1338 but their workaround is already in place on our pg_hba.conf file, so it must be something different.

[2020-03-24 00:00] #47 closed, assigned to nobody

[2020-03-24 01:14] angrybrad opened #48 "Database updates"
In the current VM, the MariaDB version is 10.1.44.

We should update to the latest (10.5?) as things like native `json` column support didn't get introduced until 10.3.

[2020-03-24 17:22] angrybrad opened #49 "Install Mailhog for email"

[2020-03-24 17:22] angrybrad opened #50 "Install Blackfire.io extension"

[2020-04-03 18:50] jasonmccallister opened #51 "Add global codeception install"

[2020-04-06 15:59] jasonmccallister opened #52 "Add support for domain aliases"

[2020-04-09 21:25] angrybrad opened #54 "Should install MySQL/PostgreSQL client tools"

[2020-04-10 19:44] jasonmccallister opened #56 "Check sha256 sums when downloading nitro releases"

[2020-04-12 21:43] jasonmccallister commented on #46
Not sure this is relevant anymore?

[2020-04-12 21:44] jasonmccallister commented on #44
Maybe we should have this default to creating a machine if no nitro.yaml is found?

[2020-04-12 21:45] jasonmccallister commented on #39
Thanks to the excellent work from @angrybrad we have a get.sh installer, we still need to add a brew formulae to make it easier, and look into windows and the snap craft store.

[2020-04-12 21:45] #13 closed

[2020-04-12 21:46] jasonmccallister commented on #11
We should discuss these options based on the major rewrite to using a global config file.

[2020-04-12 21:47] jasonmccallister commented on #6
Not sure if this is needed anymore since we are focusing on a global installation option. Although it would not hurt to have a composer package to make it easier to install?

[2020-04-12 21:49] jasonmccallister opened #57 "Add php command"
Copying the idea from @angrybrad:

[2020-04-12 21:50] jasonmccallister opened #58 "Update documentation"
Since the rewrite, we need to update the README to reflect those changes.

[2020-04-12 22:33] angrybrad commented on #46
Nope.

[2020-04-12 22:33] #46 closed

[2020-04-12 23:34] angrybrad opened #59 "Add auto-update check to nitro"

[2020-04-13 01:13] angrybrad commented on #56
Resolvled in https://github.com/pixelandtonic/nitro/commit/c59aa4348a7a42abb62e630860a6dbce594ed284

[2020-04-13 01:13] #56 closed

[2020-04-13 02:35] angrybrad opened #60 "machine soft delete weirdness"
If a machine has been soft-deleted and you run `nitro machine destroy` again, it should tell you that there are no machines to destroy instead of appearing like it destroyed the machine again.

[2020-04-13 03:36] angrybrad opened #61 "Nitro context/info"
Both commands share a lot of overlapping information.

We should consider combining them (probably into info).  If we think it gets to be too much information to display, could considering displaying basic information with `nitro info` and have a `--all` or `--advanced` flag to display all info.

[2020-04-13 03:38] angrybrad opened #62 "nitro ip command"
Appears broken

[code]

Should probably get rid of it in favor of `nitro info`. Related to https://github.com/pixelandtonic/nitro/issues/61

[2020-04-13 04:04] angrybrad opened #63 "site remove not implemented"

[2020-04-13 04:18] angrybrad commented on #11
Not sure this is necessary anymore?

[2020-04-13 04:19] jasonmccallister commented on #11
Agreed

[2020-04-13 04:19] #11 closed

[2020-04-13 04:20] angrybrad commented on #48
resolved

[2020-04-13 04:20] #48 closed

[2020-04-13 04:32] angrybrad commented on #59
Auto-self updating

[2020-04-13 14:53] #63 closed

[2020-04-13 14:58] jasonmccallister commented on #61
`context` is similar to the `kubectl` command that displays the current configuration context or file. This lacks the Multipass specific information such as IP and mounted directories.

Might be a good idea to merge, but they are different in purpose. I'll defer to your judgement 👍

[2020-04-13 15:00] jasonmccallister commented on #59
I'm going to wrap this in a `version` command. This will display the currently installed version as well as check GitHub to see if there is a newer release (e.g the latest).

What do you think about having a flag `version --update` that will perform the download and print the steps to move into the bin directory.

[2020-04-13 15:07] jasonmccallister commented on #40
We cannot add this automatically, instead the `nitro hosts add` will inspect the sites in the configuration and automatically edit the /etc/hosts file. It still needs sudo permissions though.

[2020-04-13 15:08] jasonmccallister commented on #37
I think we can close this out since we moved to a global nitro.yaml file.

[2020-04-13 15:09] jasonmccallister commented on #30
This has been resolved in the latest release.

[2020-04-13 15:09] #30 closed

[2020-04-13 22:15] jasonmccallister opened #65 "Random launch failed issues"
We are getting launch failed randomly, it seems to be related to the CPU count.

Error message:

[code]

This needs to be fixed upstream and has already been identified:

Related upstream tickets:
https://github.com/canonical/multipass/issues/1481
https://github.com/canonical/multipass/issues/1480

If this is occuring, setting the nitro.yaml file CPU option to `cpus: 1` seems to resolve it.

[2020-04-14 00:28] jasonmccallister commented on #62
I think this is a duplicate ticket of #41, closing since we got rid of it

[2020-04-14 00:28] #62 closed

[2020-04-14 00:30] jasonmccallister commented on #59
scratching what I said earlier, we are going to stick to a common name of `self-update` which will download the release into /tmp and print the step to mv the file.

However, this would not be required for brew users.

[2020-04-14 00:33] jasonmccallister commented on #60
We need to step up the user output big time, I'd like to get a few examples in place and make a decision on what information we should display.

[2020-04-14 00:35] jasonmccallister commented on #44
I'm thinking a better approach would be to prompt for all inputs (if a config file is not provided) and then save that under `~/.nitro/nitro.yaml`.

[2020-04-14 00:38] jasonmccallister commented on #35
Should we setup a production nginx configuration or is the current configuration sufficient?

[2020-04-14 00:40] jasonmccallister commented on #22
Maybe instead of downloading, we can check if they have something like brew installed and then print the brew (or suitable package manager) instructions:

e.g.

[code]

[2020-04-14 03:51] angrybrad commented on #61
Kinda... name, disk info, memory info, mount info overlap between them and they are both displaying similar config/metric data about the machine.

I say we just merge it all into `nitro info`.

[2020-04-15 18:07] #37 closed

[2020-04-17 15:12] jasonmccallister commented on #52
This has been completed, there is no prompt for aliases but adding them to the file will create them

[2020-04-17 15:12] #52 closed

[2020-04-17 15:15] jasonmccallister opened #69 "remove destroys config file formatting"
In version 0.8.15, running `nitro remove` breaks the structure of the config file

[2020-04-17 15:24] jasonmccallister opened #70 "Edit command"
It would be useful to have a `nitro edit` command that would open the config file for editing using your shell defined editor (vim or nano). This would work similar to `kubectl edit` commands.

[2020-04-17 20:05] jasonmccallister commented on #69
fixed in https://github.com/pixelandtonic/nitro/commit/a98ec7ba7eec7f2e637471fb9d2763be9963b010

[2020-04-17 20:05] #69 closed

[2020-04-18 16:50] #70 closed

[2020-04-18 16:51] jasonmccallister commented on #59
Closing this, nitro version will display the latest version and there is a self-update command

[2020-04-18 16:51] #59 closed

[2020-04-18 16:51] #50 closed

[2020-04-18 16:52] #39 closed

[2020-04-18 16:52] jasonmccallister opened #71 "Add nitro to brew"
We should have a brew cask to install nitro

[2020-04-18 20:17] jasonmccallister opened #73 "Queue command"
Add command to setup or run queue workers

[2020-04-19 02:16] jasonmccallister commented on #43
I'm going to add a `backup` command that will work similar to the `logs`, `remove`, and `import` command. Meaning it will prompt you for a database to backup and export it into the current working directory.

[2020-04-19 02:19] jasonmccallister commented on #60
Trying to delete a machine twice will result in the following message:

[code]

It's not ideal, but it's slightly better.

[2020-04-20 03:16] #6 closed

[2020-04-20 03:52] angrybrad commented on #61
Meh... this has grown on me.

[2020-04-20 03:52] #61 closed

[2020-04-20 04:11] #58 closed

[2020-04-20 13:23] ademers commented on #20
I haven't yet managed to get _Codeception in browser_ testing working with Homestead <https://discordapp.com/channels/456442477667418113/585661264433250304/629048027709046785> This appears to be easily doable in Valet. See <https://craftquest.io/courses/testing-with-codeception/10255>
It would be nice if this was easily doable with Nitro.

[2020-04-20 14:12] #44 closed

[2020-04-20 14:40] angrybrad commented on #54
This will probably be resolved as a side-effect of https://github.com/pixelandtonic/nitro/issues/43?

[2020-04-20 14:41] angrybrad opened #75 "import command is broken with a ~/path/to/backup.sql type of path"

[2020-04-20 14:51] jasonmccallister commented on #1
@mattstein this was released with https://github.com/pixelandtonic/nitro/releases/tag/0.9.2

[2020-04-20 14:51] #1 closed

[2020-04-20 18:28] angrybrad opened #77 "import should default to nuking existing database"
Easiest way is to:

`DROP DATABASE nitro; CREATE DATABASE nitro;`

We could optionally add a flag to import over existing one, but it's probably the edge case.

[2020-04-20 18:30] angrybrad commented on #75
Still seems to be an issue:

[code]

[2020-04-20 18:44] angrybrad opened #78 "segfault adding a site"
[code]

nitrol.yaml when running this command

[code]

[2020-04-20 18:57] angrybrad opened #79 "User database user permissions"
The `nitro` db user should have the permissions to be able to create additional databases:

[code]

[2020-04-20 19:05] angrybrad opened #80 "Add a way to specify default databases"
Might look something like this in nitro.yaml

[code]

Along with a console command to facilitate

[2020-04-20 20:28] jasonmccallister commented on #77
should prompt before nuking the database.

[2020-04-20 21:35] jasonmccallister commented on #75
I just pushed https://github.com/craftcms/nitro/commit/214efe9fde4e9e683623cda8d2b8b032f6d8846f which should resolve this issue.

I did not add the `...` syntax yet, I'm not sure if we need to correct that yet.

[2020-04-21 14:47] csoutham commented on #78
I'm seeing the same issue on a new Nitro machine too.

[code]

Thought it was possibly related to the subdomain sitename (was using app.project.test) but is also an issue for project.test.

[2020-04-21 16:52] jasonmccallister commented on #78
I've identified this error and will resolve with the next release, which is most likely going to have breaking changes.

[2020-04-22 03:50] lukeholder opened #81 "Detect the SQL file‘s DB engine before import"
Totally not required, but a wish.

Would be cool if we could look in the SQL file when doing an import to limit the options to a compatible database engine for that dump.
When I get a database from a customer I go to import, but can't tell from the filename whether it is mysql or psql, and opening the (sometimes large) file to find out is a pain.

Around here: https://github.com/craftcms/nitro/blo

[2020-04-22 03:54] angrybrad commented on #80
Closing this in favor of the post-apply scripts concept.

[2020-04-22 03:54] #80 closed

[2020-04-22 11:41] jasonmccallister commented on #81
That would be pretty awesome, I think reading the contents of the SQL file makes a lot of sense. On larger files, that could use a lot of memory, so I’d have to look into a way to “stream” the content.

[2020-04-22 21:25] jasonmccallister commented on #40
Resolved for the next release.

[2020-04-22 21:25] #40 closed

[2020-04-22 21:35] #75 closed

[2020-04-22 21:36] #78 closed

[2020-04-22 21:36] #60 closed

[2020-04-23 12:06] jasonmccallister commented on #65
The Multipass 1.2.0 release resolves this issue.

[2020-04-23 12:06] #65 closed

[2020-04-23 14:03] lukeholder opened #85 "When adding a site there should be an option to add a database at the same time"
When adding a site, there should be an option to

1) Initialise an empty DB along side it (same as site name?)
and/or
2) Pass in a DB dump file to create the DB for the site.

[2020-04-23 14:18] lukeholder opened #86 "The `add` command adds a mount without confirming or checking for existing mounts"
Adding a site creates a mount automatically at the moment without checking if it is redundant.

Let's say I have this already:

[code]

I think this should be possible:

[code]
So the add command will still add the new sites entry & apply it for me, etc.
Just without creating a redundant mount

[2020-04-23 18:09] angrybrad opened #87 "Add lifecycle events for script"
Would live in a `script:` key in yaml config files.

e.g.

`after_apply` – list of scripts that should be run each time `apply` is run.
`after_init` - list of scripts to run after machine init

Would be useful for things like creating default databases, importing database backups, etc.

[2020-04-23 18:10] angrybrad commented on #85
We had discussed this, but opted for a lifecycle events solution instead: https://github.com/craftcms/nitro/issues/87

[2020-04-23 18:10] #85 closed

[2020-04-24 18:32] angrybrad opened #88 "Windows support TODOs"
- [x] need native windows installer/updater (installer now works on git bash)
- [x] add/host command is broken because of sudo and different hosts path
The current solution works find in Cmder and Goland console, but cmd.exe is giving this:

      C:\Users\taco\temp>nitro apply
      Applied changes from C:\Users\taco\.nitro\nitro-dev.yaml
      Editing your hosts file
      Error: exec: "sudo": e

[2020-04-29 18:56] jasonmccallister commented on #86
Thanks @lukeholder! I just addressed this and it will be tagged in the next release!

[2020-04-29 18:57] jasonmccallister commented on #88
I just pushed code that will be in the next release to correct `redis` and `ssh` errors on Windows.

[2020-04-29 21:12] jasonmccallister commented on #79
nitro user will now have the correct permissions in the next release

[2020-04-29 21:12] #79 closed

[2020-04-29 21:34] jasonmccallister commented on #87
Pondering on this one, but would these scripts run inside the machine or on the host machine?

[2020-04-29 21:49] angrybrad opened #90 "xDebug needs to be updated with PHP config file changes"
[code]

[2020-04-29 21:51] #90 closed

[2020-04-30 17:19] angrybrad commented on #87
Both?

Something like:

[code]

[2020-05-01 19:13] ryanirelan opened #91 "PHP Package Error"
The `nitro init` process results in a series of PHP package errors.

* Installed Multipass via macOS app, running version 1.2.1+mac
* Installed Nitro via [terminal command in docs](https://github.com/craftcms/nitro#installation). Running version 0.11.2
* macOS Mojave 10.14.6

* 2 CPUs selected
* 4G memory selected
* 40G disk space selected
* PHP 7.3 (and, previously, 7.4; both results errors)
* my

[2020-05-01 22:17] jasonmccallister commented on #91
@ryanirelan I'm looking into this error and trying to reproduce it. I'm trying to narrow a few things down but I cannot reproduce the error.

The PHP packages are installed in the process of virtual machine nitialization so it seems like that part is failing.

Can you run `init` again if you get the same error, can you run `nitro ssh` and attach the contents of `/var/log/cloud-init-output.log` and

[2020-05-04 02:15] angrybrad commented on #54
Took a stab at this, but not sure the best way to proceed given our support of so many different versions of MySQL and Postgres and the client tools are all version-specific. Do we want to install all possible versions of each?

[2020-05-04 02:16] angrybrad opened #92 "Install Composer by default on a new machine"

[2020-05-04 14:24] ryanirelan commented on #91
Thanks, Jason.

I get this on two machines: one runs Catalina and the other Mojave.

Attached are the logs from the default nitro-dev machine from Catalina.
[cloud-init-output.log](https://github.com/craftcms/nitro/files/4575218/cloud-init-output.log)
[cloud-init.log](https://github.com/craftcms/nitro/files/4575219/cloud-init.log)

[2020-05-04 14:27] ryanirelan commented on #91
And the logs for the Mojave machine:

[cloud-init-output.log](https://github.com/craftcms/nitro/files/4575236/cloud-init-output.log)
[cloud-init.log](https://github.com/craftcms/nitro/files/4575237/cloud-init.log)

[2020-05-04 16:01] jasonmccallister commented on #91
@ryanirelan looking through the logs gave me a few ideas:

I originally suspected that this was an error downloading packages and it was, this is what is in both of the output logs:

[code]

That leads me to suspect the following issue since you tried this at the same time 20.04 launched and they might have changed server configurations after you downloaded the multipass image.

I don't see a way

[2020-05-04 17:11] angrybrad opened #93 "MySQL should use a config cnf file to store client password"
https://dev.mysql.com/doc/refman/5.6/en/mysql-config-editor.html

That will prevent all of these warnings from appearing:

[2020-05-04 18:56] angrybrad opened #94 "Postgres import error"
ERROR:  syntax error at or near "NOT"
LINE 1: CREATE DATABASE IF NOT EXISTS nitro OWNER nitro;

https://stackoverflow.com/questions/18389124/simulate-create-database-if-not-exists-for-postgresql

[2020-05-04 19:31] jasonmccallister commented on #93
Create a file at `/opt/nitro/mysql/my.cnf` with the contents:

[code]

Update the docker run command to send `--defaults-extra-file=/opt/nitro/mysql/my.cnf`

[2020-05-04 22:53] jasonmccallister commented on #91
This was an issue when running dnsmasq on the host machine and troubleshot with this guide: https://discourse.ubuntu.com/t/troubleshooting-networking-on-macos/12901

This is going to be a common problem (nice finding this @ryanirelan and thanks for working through it with me). In order to prevent other issues, we are telling the machine to always use the DNS from CloudFlares 1.1.1.1 nameserver.

T

[2020-05-05 01:40] jasonmccallister commented on #94
resolved and ready to be tagged for release.

[2020-05-05 01:40] #94 closed

[2020-05-05 01:42] jasonmccallister commented on #92
Ready to be tagged in a release.

[2020-05-05 01:42] #92 closed

[2020-05-05 02:10] jasonmccallister commented on #91
@ryanirelan this has been addressed in https://github.com/craftcms/nitro/releases/tag/0.11.4. Can you run the installer again and let us know if you still have the same issue?

[2020-05-05 02:47] ryanirelan commented on #91
Thanks for the help, @jasonmccallister! The update fixed the issue for me and I'm able to successfully initialize a machine now. 🎊

[2020-05-05 02:47] #91 closed

[2020-05-05 11:17] brandonkelly opened #95 "More verbose output for `apply`"
The `apply` command should output info about everything it’s doing, based on the changes it finds. At least in the case of adding new mounts, there is no mention of it.

#### Steps to reproduce

1. Add a new mount to the config:

[code]

2. Run `apply`.

[code]

[2020-05-05 11:23] brandonkelly opened #96 "apply not removing mounts"
If you have a custom mount and then remove it by removing the whole `mounts` array in the config, running `nitro apply` will not delete the mount. I even tried running `nitro restart`, but that didn’t help either.

#### Steps to reproduce

1. Add a new mount to the config:

[code]

2. Run `nitro apply`

3. Verify that the new mount was added successfully.

[code]

4. Delete the mount from the conf

[2020-05-05 11:32] brandonkelly commented on #86
@jasonmccallister I don’t think this is resolved yet. I just tried running `add` on 0.11.4 within a directory a couple levels below an already-mounted directory, and Nitro tried to create the mount:

[code]

[2020-05-05 18:10] angrybrad commented on #22
If we do this, we have to link to their license and prompt the end-user to accept.

[2020-05-05 18:11] #21 closed

[2020-05-05 18:28] angrybrad opened #97 "MySQL 8 support"
Add it back in and change the default authentication plugin back to the MySQL 5.x native one: https://mysqlserverteam.com/upgrading-to-mysql-8-0-default-authentication-plugin-considerations/

[2020-05-05 19:08] chasegiunta opened #98 ""Error: open : no such file or directory" on nitro add"
😕 I'm not sure how to provide any more helpful info in this case! The `web` directory is definitely _there_, but perhaps Nitro is trying to open something _else_ within `web`?

![image](https://user-images.githubusercontent.com/1377169/81105525-b1c8dd80-8ed9-11ea-93aa-7843ea9636cc.png)
![image](https://user-images.githubusercontent.com/1377169/81105659-dfae2200-8ed9-11ea-8f1b-cc2742f8f26c.png)

[2020-05-05 19:17] jasonmccallister commented on #98
@chasegiunta thanks for the report. Can you provide the output of `nitro context` on this ticket and verify the `mounts` and `sites` paths look correct based on your setup?

[2020-05-05 19:22] ademers commented on #98
I'm getting the same.

[2020-05-05 19:26] jasonmccallister commented on #98
I just created a new machine and walked through adding a basic craft install and I cannot reproduce this issue.

Can you provide the following:

1. OS and version
2. Output of `nitro context`
3. If you can open and remove the site and mount from your nitro.yaml can you run `nitro add --debug` and provide the output?

<img width="1082" alt="Screen Shot 2020-05-05 at 3 24 16 PM" src="https://user-im

[2020-05-05 19:27] chasegiunta commented on #98
`nitro context` outputs `Error: no configuration file being used`

[2020-05-05 19:28] chasegiunta commented on #98
I think this is probably just a documentation error.

[code]
does not create a new machine, so that's probably what the issue is.

[2020-05-05 19:29] jasonmccallister commented on #98
Ahh, ok. Did you run `nitro init` and follow the prompts?

[2020-05-05 19:30] chasegiunta commented on #98
Nope! Just ran per documentation [here](https://getnitro.sh/) and [here](https://github.com/craftcms/nitro#installation) 😜

[2020-05-05 19:32] jasonmccallister commented on #98
yep, we added the init call, but forgot to call it. Updating the install script now.

[2020-05-05 19:33] ademers commented on #98
`nitro info` gives me `instance "nitro-dev" does not exist`

[2020-05-05 19:37] jasonmccallister commented on #98
That makes sense @ademers - you need to run `nitro init` before calling add which the script is supposed to ask for you. I just updated the `install.sh` (https://github.com/craftcms/nitro/commit/6c7b92ca7f279db1cf1039db6ca295ae02023759) script so it will now prompt you to create a new machine.

Can you both run the installer again? It should now ask you to create the machine and prompt for details

[2020-05-05 19:40] ademers commented on #98
I get following when run installer command above. Also when prefixing with `sudo`. Is this normal?
[code]

[2020-05-05 19:42] jasonmccallister commented on #98
Your user does not have permissions, which makes sense. It won't prompt you to create a new machine in that case so you need to run `nitro init`. We should cleanup the error messages to check for a machine and be more explicit.

[2020-05-05 19:44] ademers commented on #98
This may seem like a silly, question, but where should the command be run? My home dire in macOS Terminal or in the Multipass shell?

[2020-05-05 19:45] jasonmccallister commented on #98
@ademers its a global command, so its anywhere you want to use it.

[2020-05-05 19:50] ademers commented on #98
`nitro init`:
[code]

[2020-05-05 19:55] jasonmccallister commented on #98
@ademers Ryan has a quick introduction that covers the first time setup if that is helpful: https://craftquest.io/courses/localhosting-craft-cms/26221

[2020-05-05 19:58] ademers commented on #98
Got it sorted running `nitro init`:
[code]

[2020-05-05 20:17] ademers commented on #98
Running `nitro add` assumes that I've already installed Craft. And Craft is typically installed via Composer. I don't have Composer installed in macOS, because I've been using Homestead which includes Composer. Do I need to install Composer in macOS? Or, should I install it in Multipass:
[code]

[2020-05-05 20:40] byronrode commented on #98
Hey team, just an FYI, I ran this about 15 minutes ago, and I get the following error - I am using ZSH:

`bash: line 252: nit: command not found`

I went through the script and found the call for `nitro init` which is running at the moment (thanks slow interwebz), but not sure why it gives the error above. Last 18 lines of the current script I saw is below.

[code]

[2020-05-05 20:42] #98 closed

[2020-05-05 20:45] byronrode opened #99 "bash: line 252: nit: command not found"
Reposting here as #98 is now closed. If resolved, will close this.

---
Hey team, just an FYI, I ran this about 15 minutes ago, and I get the following error - I am using ZSH:

`bash: line 252: nit: command not found`

I went through the script and found the call for `nitro init` which is running at the moment (thanks slow interwebz), but not sure why it gives the error above. Last 18 lines of the

[2020-05-05 20:47] nevsie commented on #28
Willing to Windows Test
Win10 Pro - Build 18362 Currently

[2020-05-05 20:50] peteheaney opened #100 "PHP memory_limit should be 256M"
The PHP memory limit seems to be set to 128M.  If this is supposed to be tuned for Craft, shouldn't it be set to 256M?

<img width="1171" alt="image" src="https://user-images.githubusercontent.com/234166/81114526-199f1880-8f1a-11ea-9340-8f28b88bb506.png">

[2020-05-05 21:03] jasonmccallister commented on #99
@byronrode thank you for the report, we just pushed a change to resolve this. It might take a second for the DNS/cache from GitHub to catch up.

[2020-05-05 21:05] angrybrad commented on #100
Might as well turn it up to 11.  Or `512M`

[2020-05-05 21:06] #99 closed

[2020-05-05 21:16] jasonmccallister commented on #100
We are setting the memory limit for fpm here: https://github.com/craftcms/nitro/blob/master/internal/cmd/init.go#L235.

@peteheaney can you run `nitro restart` and check it again? I'm wondering if we just need to restart php-fpm during the install/setup.

[2020-05-05 21:24] angrybrad commented on #100
Weird... just created a fresh machine and did a fresh Craft install and definitely seeing 256M

<img width="890" alt="CleanShot 2020-05-05 at 14 24 02@2x" src="https://user-images.githubusercontent.com/61869/81117524-18e79180-8edc-11ea-8119-a54f657eba91.png">

[2020-05-05 21:28] angrybrad commented on #100
@peteheaney What version of PHP did you create the machine with?

Can you `nitro ssh` into the box and open up `/etc/php/(your PHP version)/fpm/php.ini`, then check what `memory_limit` is set to in there?

[2020-05-05 21:36] jasonmccallister commented on #96
@brandonkelly can you try this in on the latest release? I just ran through a few scenarios locally and can't reproduce.

[2020-05-05 21:37] peteheaney commented on #100
@jasonmccallister @angrybrad Sorry all, I've got Valet running on my machine as well and it looks like I was getting some conflict with that. I thought the site was being served by Nitro but it was actually Valet.  Sorry for the false alarm!

[2020-05-05 21:39] angrybrad commented on #100
@peteheaney no worries! going to go ahead and close this out.

[2020-05-05 21:39] #100 closed

[2020-05-06 09:42] JMKelley opened #101 "Download Craft via Nitro"
Just installed this and got it set-up. Really epic stuff. From recently building sites with the likes of the Ghost.org Command Line Tools. It'd be great if:

- Download Craft & Start Installation using `nitro install craft` or `nitro new *sitename*`.

Downloads latest craft and starts a new setup in Nitro. I know it's easy to download Craft via command line but it'd be a nice additional feature to

[2020-05-06 12:43] jasonmccallister opened #102 "Provide more options when running init with an existing machine"
The `init` command will prompt you for the machine specs even if a machine exists. We should provide more options to the init command if the machine exists or just output the machine exists and stop any prompts.

[2020-05-06 12:48] jasonmccallister opened #103 "Prompt to init a new machine on add"
When adding a site and no machine exists, the user should be prompted to init a machine if we cannot find an existing machine.

[2020-05-06 12:58] pieter-janDB opened #104 "nitro remove hinting not 0 based."
Nitro remove passes 1 as default instead of 0 to remove the first element.
`$ nitro remove`

[code]

[2020-05-06 13:05] pieter-janDB commented on #104
This also happens with  "nitro import <db-path>" when you choose which database engine to import into.

[2020-05-06 13:09] jasonmccallister commented on #104
Thank you for the report @pieter-janDB. We swapped out prompt package for our own yesterday that has better windows support (https://github.com/pixelandtonic/prompt) and I missed that. I'll get this ready for the next release!

[2020-05-06 14:08] brandonkelly commented on #101
We plan to do this post-1.0 ;)

[2020-05-06 14:18] brandonkelly opened #105 "Allow sites to specify PHP version"
Each site should be able to specify their own PHP version via a `php` property under `sites` in the config, and Nitro should auto-install the required versions if they don’t exist.

[code]

[2020-05-06 14:23] jasonmccallister commented on #104
This has been pushed to `develop` and will be ready for the next release.

[2020-05-06 14:26] peirix commented on #57
Is there any way to modify the ini file today?

[2020-05-06 14:37] brandonkelly opened #106 "`php restart` command"
Would be cool if Nitro had a `php restart` command, which called `service php7.4-fpm restart` inside the VM – saving you from having to SSH into the VM (or remember the correct service name).

The service name would default to the default PHP version, but there could be a `-v` option that lets you specify a different version, and an `--all` flag for restarting all PHP versions.

[2020-05-06 14:51] jasonmccallister commented on #57
@peirix you can log into the machine and you are free the edit the php.ini manually using:

1. `nitro ssh`
2. `sudo vim /etc/php/7.4/fpm/php.ini`
3. `sudo service php7.4-fpm restart`

Just replace the version of PHP with your installed version.

[2020-05-06 15:24] jasonmccallister commented on #104
@pieter-janDB I just tagged `1.0.0-beta.2` which should resolve this issue.

You can run `nitro self-update` to get the latest version.

[2020-05-06 15:24] #104 closed

[2020-05-06 15:45] peimansh opened #107 "Uninstalling Nitro"
I was wondering if there is any script for uninstalling this tool ?

[2020-05-06 15:50] johndwells commented on #49
Came here to find and upvote this. :)

[2020-05-06 16:33] angrybrad commented on #106
Probably falls under https://github.com/craftcms/nitro/issues/57

[2020-05-06 16:41] simeon-smith opened #108 "Add information about providing multipassd full disk access."
When I initially installed multipassd and nitro on MacOS it would not mount when using `nitro add` or `nitro apply`. It gave me the following error.

[code]

I was able to determine that multipass did not have access to read the folders. Doing the following steps fixed that:

Go to:
  System Preferences
  Security & Privacy
  Full Disk Access

And then check multipassd to provide it full disk read

[2020-05-06 16:47] #107 closed

[2020-05-06 16:47] brandonkelly commented on #107
Hey @peimansh, just added an [Uninstalling Nitro](https://github.com/craftcms/nitro#uninstalling-nitro) section to the readme.

[2020-05-06 16:51] angrybrad commented on #108
@simeon-smith did you install multipass using their native installer or through brew?

[2020-05-06 16:52] simeon-smith commented on #108
@angrybrad I did it through their native installer.

[2020-05-06 16:55] simeon-smith commented on #87
So, how would setting up a database look in this since there won't be a configuration for specifying a project specific DB?

[2020-05-06 17:06] simeon-smith commented on #28
I can test on Windows.

[2020-05-06 17:09] simeon-smith commented on #87
Also, it would be great if `nitro add` would ask you if you wanted to create a database.

[2020-05-06 17:52] ademers commented on #101
Would this work with our custom Craft starter projects on Packagist?

[2020-05-06 18:06] khalwat commented on #101
I sure hope so @ademers !

[2020-05-06 21:06] bjerenec opened #109 "Missing mysqldump?"
I got database backup error while trying to update Craft 2 site to Craft 3 site.
`2020-05-06 20:53:15 [-][-][-][error][craft\controllers\UpdaterController::actionBackup] Error backing up the database: The shell command "mysqldump <all the arguments>  failed with exit code 127: sh: 1: mysqldump: not found`.

Manually installing mysql-client-5.7 on VM solves this problem, but I guess `mysqldump` sho

[2020-05-06 21:23] jasonmccallister commented on #95
Just pushed verbose output (https://github.com/craftcms/nitro/commit/ab928e66fb9e3335df101c3e0d9105f687ea8e4e).

[2020-05-06 21:27] jasonmccallister commented on #95
Here is an example from `add`:

[code]

[2020-05-06 21:39] angrybrad commented on #109
This will be solved via https://github.com/craftcms/nitro/issues/54 so going to go ahead and close this one.

[2020-05-06 21:39] #109 closed

[2020-05-07 03:02] jalendport commented on #19
Been a while since I launched a site with webp (😬), but here's what I think I've run in the past to install it:

[code]

[2020-05-07 03:22] angrybrad commented on #28
Thanks, all... Linux support is solid and Windows is a WIP you can follow in this [issue](https://github.com/craftcms/nitro/issues/88) - getting pretty close to done now.  Going to go ahead and close this one.

[2020-05-07 03:22] #28 closed

[2020-05-07 04:40] lukeholder commented on #97
Just an idea, a central list of configs changes like this should exist in the docs so that if someone moves their site to production they can ensure their production config of mysql8 can be configured the same.

[2020-05-07 04:43] lukeholder commented on #105
Just an idea if this goes ahead, the machine should probably have a setting for the default CLI PHP version. or ability to change the CLI PHP version in use which ssh'd into the machine.

[2020-05-07 08:07] nfourtythree opened #110 "Ability to turn of `hosts` file editing"
Set it so that nitro doesn't automatically edit the `hosts` file.

[2020-05-07 08:07] nfourtythree opened #111 "Output `hosts` records to file"
This could be a file in the `~/.nitro` directory.

The reason for this is that if you using apps such as [switch hosts](https://oldj.github.io/SwitchHosts/) or [gas mask](https://github.com/2ndalpha/gasmask) you can use the file as a remote and have it combine with other custom host records.

This goes hand in hand with #110

[2020-05-07 08:11] bencroker opened #112 "Getting `path` repositories to work for local development"
During development, many plugin developers us use a [path repository](https://docs.craftcms.com/v3/extend/plugin-guide.html#path-repository), which symlinks the plugin into the `vendor` folder.

After doing this, Nitro throws an error as it does not appear to mount the symlink.
[code]

Any recommendations on how to get this or something similar to work?

[2020-05-07 08:27] lukeholder commented on #112
Can you link your composer.json's path repo config for the package?

Interested how it is setup. e.g:

[code]

Are you using a relative or absolute filepath for the URL?

[2020-05-07 08:30] lukeholder commented on #111
A note for others who use gasmask, I had to turn of 'override external modifications' in gasmask preferences to let nitro edit the main host file. Gasmask was monitoring it and reverting any changes made by 3rd parties.

[2020-05-07 08:33] lukeholder commented on #112
Oh, and the reason I ask is I haven't got it working either.

[2020-05-07 08:37] bencroker commented on #112
I have all my plugins in a folder next to my Craft projects, so I use this:
[code]

Setting the `url` to an absolute path doesn't seem to make any difference either.

[2020-05-07 08:51] nfourtythree opened #113 "Changing `sites` settings in `nitro-dev.yaml` doesn't update vhost after `nitro apply`"
Steps to reproduce:

1. run `nitro add` in a dir
2. edit `nitro-dev.yaml` changing `webroot`
3. run `nitro apply`
4. vhost file in nitro vm remains unchanged

[2020-05-07 09:07] olivierbon commented on #112
Not sure how you mounted the site itself but if you [create a new mount](https://github.com/craftcms/nitro#adding-mounts)

[code]

Then run `nitro apply`.

Next, in your `composer.json` set your `url` as:

[code]

With that in place, run `composer install` from inside nitro (`nitro ssh` then go to you project) it should work.

[2020-05-07 09:50] nfourtythree commented on #112
Hi @bencroker

The key here is to make sure the structure is replicated similarly in both instances, your host machine and in the VM.

I have basically the same setup as you have and here is how I have it setup.

I have a `dev` directory inside my home directory with my code in

- `craft3-commerce3` is my project/site
- `commerce` is the Commerce repository
- `cms` is the Craft CMS repository

So

[2020-05-07 10:00] nfourtythree opened #114 "Store editor choice in nitro for use with `nitro edit`"
It would be nice to be able to set the editor choice within `nitro-dev.yaml` it is a little less heavy-handed than setting it globally in your bash profile.

Keeping the bash profile as a fallback would work nicely

[2020-05-07 11:14] bencroker commented on #112
Thanks @nfourtythree. I followed your suggestions and can confirm that the `plugins` folder is now mounted. I can also see that my plugin `craft-elements-panel` is correctly symlinked, as indicated by the red colour.

![Screenshot 2020-05-07 at 13 07 17](https://user-images.githubusercontent.com/57572400/81287802-b3261180-9063-11ea-8d95-e2cd7e4bca1d.png)

However, I am still getting the error when

[2020-05-07 11:51] nfourtythree commented on #112
Hi @bencroker

This sounds like an issue with `autoload`. After changing your `composer.json` you will likely need to do a `composer install` on your host machine or do `composer dump-autoload`.

That should hopefully fix things up!

[2020-05-07 13:35] brandonkelly commented on #114
See the tip in the [edit](https://github.com/craftcms/nitro#edit) command docs.

[2020-05-07 13:50] brandonkelly opened #115 "`self-update` asks and ignores option to initialize the primary machine"
At the end of `self-update`, this happens:

[code]

(It answers its own question on whether to initialize the primary machine – I didn’t type <kbd>Return<kbd> at the prompt.)

Ideally the prompt shouldn’t even be output, since this is an _update_, not a fresh install of Nitro.

Maybe the prompt should be output depending on whether a primary machine already exists; and if not, actually pause and g

[2020-05-07 13:53] brandonkelly opened #116 "`destroy` should prompt for confirmation."
Currently running `nitro destroy` immediately permanently destroys the machine. It should prompt for confirmation first.

[code]

(While you’re in there, “removed” should be changed to “destroyed” in that last message.)

[2020-05-07 14:04] mattstein commented on #19
Sure @jalendport, but was it then magically available to ImageMagick, or was there pain and suffering required to convince ImageMagick to use it? My experience has usually been the latter. :)

[2020-05-07 14:32] bencroker commented on #112
I did that and just retried, no change. Is this working for you @lukeholder?

[2020-05-07 14:38] brandonkelly commented on #112
You should not be using `~` in your Composer repo paths, as `/nitro/` is **not** the home directory within the VM, so those relative paths will likely break. Keep them relative, e.g. `../plugins/blitz`.

Will update the readme with an example…

[2020-05-07 15:15] brandonkelly opened #117 "`apply` shouldn’t edit hosts file if no domains changed"
Currently `nitro apply` always prompts for your password and updatse updates the `hosts` file, even if there’s nothing to change in it.

Ideally, Nitro should be aware of whether anything just changed that would require a change to the `hosts` file, and skip that step if not.

[2020-05-07 15:26] #112 closed

[2020-05-07 15:27] brandonkelly commented on #112
Here, hopefully this helps: [Mounting your entire dev folder at once](https://github.com/craftcms/nitro#mounting-your-entire-dev-folder-at-once)

[2020-05-07 17:51] brandonkelly opened #118 "Ability to define environment variables from Nitro config"
It should be possible to define custom environment variables from Nitro configs, [similar to Homestead](https://laravel.com/docs/7.x/homestead#environment-variables).

[code]

[2020-05-07 17:54] brandonkelly opened #119 "DB_USER and DB_PASSWORD environment variables"
Nitro should automatically define `DB_USER` and `DB_PASSWORD` environment variables, to help keep `.env` files a bit more DRY.

Related to #118.

[2020-05-07 19:03] angrybrad commented on #116
Resovled in https://github.com/craftcms/nitro/commit/274b94e3e7438db9619488f1b93a0cf6bbe215f5

[2020-05-07 19:03] #116 closed

[2020-05-07 21:25] brandonkelly opened #121 "`add` shouldn’t break if it can’t find a webroot"
`nitro add` shouldn’t break if a webroot doesn’t exist yet.

(nginx doesn’t care if a server’s webroot doesn’t exist.)

Nitro version 1.0.0-beta.2

[2020-05-07 21:29] angrybrad commented on #115
Resovled in https://github.com/craftcms/nitro/commit/33ce88f1425538070149d087c8cef2e0b6f5756f

[2020-05-07 21:29] #115 closed

[2020-05-07 21:32] bencroker commented on #112
Thanks @brandonkelly but I'm still struggling to get this working.

If I `composer require` a plugin from the project directory (not in the VM) then the path is off so I get the error:
[code]

If I `composer require` a plugin from the project directory in the VM then it fails with:
[code]

[2020-05-08 00:17] brandonkelly opened #122 "`apply` not applying changes to sites’ webroots"
Running `nitro apply` is not applying changes to sites’ webroots.

#### Steps to reproduce

1. Add a site
2. Run `nitro edit` and change the site’s webroot to something else
3. Run `nitro apply`

#### Expected behavior

The new webroot should be reflected in `/etc/nginx/sites-available/<hostname>`, and nginx should have been restarted so the change is pulled in.

#### Actual behavior

No changes a

[2020-05-08 08:19] bencroker commented on #112
What did finally work for me was add this to `composer.json`:

[code]

And running `composer require` from the project directory in the VM (after running `nitro ssh`).

[2020-05-08 10:59] jasonmccallister commented on #121
Just pushed this change to `develop`. It will default to web:

[code]

[2020-05-08 11:16] jasonmccallister commented on #103
When running add without a machine, it will now prompt you to init

[code]

[2020-05-08 11:16] #103 closed

[2020-05-08 11:16] jasonmccallister commented on #121
Resolved for the next release

[2020-05-08 11:16] #121 closed

[2020-05-08 11:29] jasonmccallister commented on #95
Ok, I did not like the way that was implemented, so I rewrote and pushed to `develop`.

[code]

[2020-05-08 12:17] jasonmccallister commented on #86
I have the following config file:

[code]

Running this shows me an error and there is nothing else to to:

[code]

I'm going to run your example to see if I can reproduce.

[2020-05-08 13:27] jasonmccallister commented on #96
I'm pretty sure this was resolved when we tagged a beta release. I performed the following steps on my local using 1.0.0-beta.2:

1. Created machine called issue96 (`nitro -m issue96 init`)
2. Manually added a mount using `nitro -m issue96 edit`
3. Ran `nitro -m issue96 apply`
4. Verified the mount exists using `nitro -m issue96 info`
5. Manually removed the mount using `nitro -m issue96 edit`
6.

[2020-05-08 15:30] jasonmccallister commented on #96
Ok, I narrowed this down.

When we remove a mount, multipass is leaving the directory in the virtual machine. The mount is actually removed from the machine - see the attached video link - but the dir staying in the machine causes issue with trying to mount it again.

https://drive.google.com/open?id=1WpS40EwojFAnE-9tySqZntjwlYwt9QYQ

[2020-05-08 15:43] jasonmccallister commented on #96
Created a ticket in multipass to get some feedback: https://github.com/canonical/multipass/issues/1527

[2020-05-08 18:21] clarknelson commented on #88
When I run `bash <(curl -sLS http://installer.getnitro.sh)` on windows powershell I get this error:

[code]

Hope this helps!

[2020-05-08 18:36] clarknelson commented on #88
I believe my issue is multipass is installed on windows (PS) and not WSL or bash

[2020-05-08 19:00] brandonkelly opened #123 "`init` doesn’t add existing sites to hosts file"
If you run `nitro init` for a machine that already has a matching config file in place, Nitro seems to do a good job creating the appropriate mounts and nginx configs, however it does not add the sites’ host names to `/etc/hosts`, so you still end up needing to run `nitro apply` afterward to make that change.

Nitro version: 1.0.0-beta.2

[2020-05-08 19:04] brandonkelly commented on #122
Even after manually editing the webroot in `/etc/nginx/sites-available/<hostname>`, the Xdebug config was still off, and thinking the files lived within the old webroot. I tried running `nitro xdebug configure` again but that didn’t help.

Destroyed and reinitialized the machine, with no changes to the config file, and now Xdebug is configured properly again.

[2020-05-08 19:47] angrybrad commented on #88
@clarknelson Yup... Git Bash is required https://github.com/craftcms/nitro/blob/windows/README.md#installation

[2020-05-08 19:51] angrybrad commented on #108
Looks like this: https://github.com/canonical/multipass/issues/1389

Guessing you were trying to mount in one of these protected folders?

[2020-05-08 20:14] brandonkelly opened #124 "`import --help` usage example doesn’t mention file arg"
The Usage example that’s output when you run `nitro import --help` doesn’t mention that there’s a required file argument:

[code]

But it’s clearly required:

[code]

[2020-05-08 20:28] nfourtythree commented on #122
Think this is a duplicate of #113

[2020-05-09 05:20] jasonmccallister commented on #124
We can add `examples` to each command and it would output like so:

[code]

We should definitely update the usage on the command, but we would need to alter quite a bit of the commands to create a custom template. There is also a 1.0.0 release to the package we are using that has some nice upgrades. I'm going to look into that effort and see if they have made it easier to define usage.

[2020-05-09 05:25] #124 closed

[2020-05-09 05:26] jasonmccallister commented on #124
This will be released in 1.0.0-beta.3!

[2020-05-09 05:27] jasonmccallister commented on #123
Going to add this in after the changes to support windows host editing.

[2020-05-09 05:28] jasonmccallister commented on #95
This will be released with 1.0.0-beta.3

[2020-05-09 05:28] #95 closed

[2020-05-09 05:52] #110 closed

[2020-05-09 05:52] jasonmccallister commented on #110
Will be released in 1.0.0-beta.3.

[2020-05-09 07:31] nfourtythree commented on #111
@jasonmccallister would be amazing to get this now that #110 is possible!

[2020-05-09 13:16] rmales opened #125 "Can't use localhost as Craft DB server host"
When I try to use `localhost` as the DB server host for a Craft site in Nitro it can't connect, `127.0.0.1` does work. Not sure if this could be something I've done wrong or a quirk of my set up.

[2020-05-09 13:23] rmales opened #126 "Request entity too large error from Nginx when uploading >1MB file"
When I try to upload a file to a new Craft site in Nitro I get a `413 (Request Entity Too Large)` error from Nginx (which incidentally the Craft uploader Javascript does not catch). I'm sure I could fix this by modifying the Nginx config, but I assume Nitro should come with reasonable defaults for Craft out of the box.

[2020-05-09 17:38] adamthedorsey opened #127 "Error: exit status 100"
**Running** macOS Catalina, 10.15.4 (19E287)

**Installed Multipass and then ran:**

`bash <(curl -sLS http://installer.getnitro.sh)`

**Ended with** `Error: exit status 100`

[code]

Looking forward to trying it out. Love the idea.

Thanks,
Adam

[2020-05-09 18:40] clarknelson commented on #126
I'm curious what you typically set this to? I set to 10MB and larger files I try to offload to CDNs.

[2020-05-09 18:47] RyanRoberts commented on #125
I believe you need to use the machine's IP address, type `nitro info` in the CLI and you'll find it.

[2020-05-09 18:55] RyanRoberts commented on #125
Here you go https://github.com/craftcms/nitro#connecting-to-the-database

[2020-05-09 21:44] jasonmccallister commented on #127
Hey @adamthedorsey, this sounds related to https://github.com/craftcms/nitro/issues/91 - specifically a DNS issue discussed here: https://github.com/craftcms/nitro/issues/91#issuecomment-623749760.

Although it failed to install the software, it still created the `nitro-dev` machine. This can sometimes occur from DNS issues from running Laravel Valet - so make sure those are stopped, specifically

[2020-05-09 23:12] jasonmccallister commented on #125
@rmales that is intended behavior. Docker is running the databases in containers within the nitro virtual machine, so you will access them when inside the virtual machine using `127.0.0.1`.

If you are looking to use a GUI like SequelPro you should use the IP address of the machine in the docs that @RyanRoberts provided.

[2020-05-09 23:12] #125 closed

[2020-05-09 23:29] jasonmccallister commented on #88
I need to work on the paths for the apply command, path destinations are coming out strange on Windows:

[code]

[2020-05-10 00:14] clarknelson commented on #88
Thanks, I suppose that makes sense I am new to windows development.

Here is what I have now. The command runs but it wont let me input a command before it terminates:

![nitro-install-windows](https://user-images.githubusercontent.com/4106671/81488019-49effb00-9229-11ea-9d09-9875b7be0936.jpg)

[2020-05-10 04:56] angrybrad commented on #88
@clarknelson yup resolved here and will be in the next beta release, early next week. https://github.com/craftcms/nitro/issues/115

[2020-05-10 04:57] angrybrad commented on #88
@jasonmccallister I'm sure you already know, but gotta "" those Windows paths take into account spaces.

[2020-05-10 13:17] clarknelson commented on #88
Great! I will start with Homestead and come back to Nitro when the new release is out :)

[2020-05-10 23:16] angrybrad opened #129 "Opcache should be disabled by default"
Usually ends up being a pain for local development

[2020-05-11 07:50] bencroker commented on #129
So that explains why file changes often don't take effect immediately, +1 for this!

[2020-05-11 09:23] RyanRoberts opened #130 "https"
Apologies if this has been covered somewhere already but I can't find anything in the docs, issues or even the Nitro code.

Is it possible yet to secure a local site via Nitro?

[2020-05-11 11:12] jasonmccallister commented on #130
@RyanRoberts we have #10 to cover this, but it is not very clear as to "what" that means in the title. I'm going to update that tickets title and that will be the best place to keep track.

[2020-05-11 11:24] jasonmccallister commented on #129
For my own curiosity, before we just blanket remove OPCache, can we tweak a setting which would tell OPCache to use the files timestamp for validation and see if we are still seeing the need for a reload?

@bencroker can you ssh into nitro (`nitro ssh`) and edit the file:

[code]

Add the the following into the file:

[code]

Finally restart php-fpm using:

[code]

If you are logged into your cont

[2020-05-11 11:30] bencroker commented on #129
@jasonmccallister Without doing this, I see that `opcache.validate_timestamps` is already set to `On`.

![Screenshot 2020-05-11 at 13 28 08](https://user-images.githubusercontent.com/57572400/81556839-46748500-938b-11ea-85a1-46292d823b09.png)

OPCache does appear to be validating timestamps, as the changes are detected, however the changes are sometimes detected immediately and sometimes takes up

[2020-05-11 11:33] jasonmccallister commented on #129
@bencroker you are right, can you instead add this setting:

[code]

and then restart php-fpm?

[2020-05-11 11:49] bencroker commented on #129
`opcache.revalidate_freq` changed from `2` to `0`. This doesn't appear to have helped though. Could it be that when I edit a file, it takes some time for Nitro to detect and mount the modified file into Multipass?

[2020-05-11 13:34] bencroker commented on #129
Tested with a PHP file and changes take effect immediately.

So, this appears to have to do with compiled twig templates being cached. I've submitted a PR to Craft core which should help resolve this.
https://github.com/craftcms/cms/pull/6046

As per my tests, with the PR above, OPCache can remain enabled as it is.

[2020-05-11 13:35] khalwat commented on #129
What would the benefit be of having opcache available in a local dev environment?

[2020-05-11 13:37] jasonmccallister commented on #129
It is faster and when @bencroker and I were troubleshooting, there was still a delay in the twig template rendering. His PR will resolve that when using `devMode`.

[2020-05-11 14:02] #130 closed

[2020-05-11 15:14] #123 closed

[2020-05-11 15:17] jasonmccallister commented on #123
Will be released in 1.0.0-beta.3.

[2020-05-11 15:39] #126 closed

[2020-05-11 15:39] jasonmccallister commented on #126
Since this is a development environment, I set the size to 100MB. Will be included in 1.0.0-beta.3.

[2020-05-11 15:42] jasonmccallister commented on #114
Should this be closed since the EDITOR is a shell configuration?

[2020-05-11 16:19] clarknelson commented on #126
perfect, thank you!

[2020-05-11 16:20] nfourtythree commented on #114
I agree EDITOR in the shell should be the default/fallback. But the reason for this FR is to be able to add it into the nitro config so I could set it to something else e.g. sublime, atom, phpstorm etc without being heavy handed and having to overwrite it for all of my shell things.

Does that make sense?

[2020-05-11 16:24] mattstein opened #131 "Windows: 404 should 404 without Craft"
If I create a bare site with Nitro and Craft isn’t installed, would-be 404s are still served by `index.php`.

I would expect to get some kind of 404 response for a non-existent route, whether it’s served by Craft or nginx.

**This behavior was identical between macOS and Windows in 0.10.13, but only happens in Windows now as of 1.0.0-beta.2.**

## Steps to Reproduce

1. Add a Nitro site for a web

[2020-05-11 16:30] khalwat commented on #129
Right, I know `opcache` is faster but for anything caching, I'd want to opt-in for local development, I'd think?

Re: the PR @bencroker my question would be... why does this only show up when doing local dev with Nitro?

[2020-05-11 16:43] bencroker commented on #129
@khalwat Possibly because of the way Nitro mounts the directory, but that's more of a question for @jasonmccallister.

[2020-05-11 16:44] jasonmccallister commented on #96
When unmounting in `apply` we should rm the directory from the vm.

[2020-05-11 18:08] simeon-smith commented on #108
Yes I was. Documents to be specific.

From: Brad Bell <notifications@github.com>
Reply-To: craftcms/nitro <reply@reply.github.com>
Date: Friday, May 8, 2020 at 12:52 PM
To: craftcms/nitro <nitro@noreply.github.com>
Cc: Simeon Smith <simeon@uxiliary.com>, Mention <mention@noreply.github.com>
Subject: Re: [craftcms/nitro] Add information about providing multipassd full disk access. (#108)

Looks lik

[2020-05-11 18:36] jasonmccallister commented on #88
I just pushed a fix for the windows `redis` and `ssh` commands. I also resolved the issue with spaces in mount paths.

[2020-05-11 18:37] jasonmccallister commented on #122
Identified the issue and will be making a change to address this.

[2020-05-11 18:38] jasonmccallister commented on #129
@khalwat I think it surfaced in Nitro but I have seem the exact same behavior when running Craft in Docker.

[2020-05-11 19:12] bencroker commented on #129
https://github.com/craftcms/cms/pull/6046 was rejected so this issue remains unresolved.

[2020-05-11 19:13] brandonkelly commented on #129
Twig determines whether a template needs to be recompiled based on its modify time, which is cached by OPcache. When you disable Twig “caching”, you’re disabling its ability to save the compiled templates as PHP files for future requests.

If we have to choose one, OPcache is the one that should be disabled, not Twig caching.

[2020-05-11 21:30] adamthedorsey commented on #127
@jasonmccallister Sorry for the delay, I try to stay away from work on the weekends.

I ran your two commands above, and it looks like a normal output...

`
; <<>> DiG 9.11.3-1ubuntu1.11-Ubuntu <<>> google.ie
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 41833
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
;

[2020-05-11 21:47] jasonmccallister commented on #129
Hmm, would be interesting to add a custom loader that does not use a filesystem: https://twig.symfony.com/doc/3.x/api.html#create-your-own-loader

[2020-05-11 21:48] jasonmccallister commented on #129
Either way, will make those changes for the next beta release.

[2020-05-11 23:29] brandonkelly commented on #129
We do use our own loader, but that wouldn’t solve this problem. That’s just for loading the actual template files, which are always going to be file-based, so will suffer from this problem as long as OPcache is enabled.

[2020-05-11 23:32] brandonkelly commented on #122
Sorry, missed #113 @nfourtythree . Will close this as a duplicate, and added #113 to the 1.0 milestone.

[2020-05-11 23:32] #122 closed

[2020-05-11 23:42] #114 closed

[2020-05-11 23:44] brandonkelly commented on #114
I’m not a huge fan of this FR, since your preferred editor is a _personal_ choice, not a part of machine configuration (or something you’d want to set differently from one machine to the next).

I just updated the [`edit`](https://github.com/craftcms/nitro#edit) docs to mention that you can open the config file using the system’s `open` command, which will open with the system’s default `.yaml` ed

[2020-05-12 00:03] brandonkelly commented on #119
These need to be available for php-fpm as well if they’re going to be helpful.

[2020-05-12 00:13] #119 closed

[2020-05-12 00:38] brandonkelly commented on #125
Going forward (Nitro 1.0 Beta 3+ and Craft 3.4.19+) Craft will stop asking for the DB server’s IP address, user & password, if running in Nitro.

<img width="829" alt="Screenshot 2020-05-11 at 17 35 05@2x" src="https://user-images.githubusercontent.com/47792/81625593-4043d000-93ae-11ea-92db-f174ff1fd8f7.png">

[2020-05-12 00:44] brandonkelly commented on #86
Looks like in that example you are adding the exact site that is already mounted. What happens if you try to add a site that is buried a few levels deep within `~/dev/craft-dev/` though?

[2020-05-12 13:05] jasonmccallister commented on #127
No worries @adamthedorsey. Can you run the following commands and see if its working?

1. `multipass delete --all -p` (this will permanently delete all of the multipass machines on your computer)
2. `nitro init` will try to create the machine again

[2020-05-12 14:07] khalwat opened #132 "Support .gz for `nitro import`"
Adding support for `.gz` compressed `.sql` files like generated by the Craft CMS backup command for direct importing via `nitro import`

Craft Scripts does this using [zcat](https://linux.die.net/man/1/zcat) ->

https://github.com/nystudio107/craft-scripts/blob/master/scripts/pull_db.sh#L80

This would be super convenient, and faster too.

[2020-05-12 14:19] #129 closed

[2020-05-12 14:19] jasonmccallister commented on #129
This will be released with beta 3.

[2020-05-12 15:34] #113 closed

[2020-05-12 16:57] bmorykon opened #133 "Changing MySQL Configuration Variables via my.cnf"
On a page with a large dataset, I ran into the error: Got a packet bigger than 'max_allowed_packet' bytes.

So I tried updating that variable by modifying /etc/mysql/my.cnf which now reads:

[code]

I couldn't figure out how to restart mysql from nitro (`sudo service mysql restart` doesn't work from within the machine), so I ran `nitro restart` from the host. After nitro restarts, max_allowed_pack

[2020-05-12 17:20] angrybrad opened #134 "Home folder transition"
Look at moving main sites folder from /nitro/sites directly into the ubuntu home folder.

Sites go in:

    /home/ubuntu/sites/x.tld

And other custom mounts in:

    /home/ubuntu/*

[2020-05-12 17:40] brandonkelly opened #135 "Store databases in the config"
Machine configs should keep track of databases:

[code]

Then the `apply` / `init` commands (and any other commands that apply config changes internally) should start ensuring that each of the configured databases exist.

(`apply` **should not** remove databases that have been removed from the config, though, since that could end up removing databases people created manually within the VM.)

[2020-05-12 17:52] brandonkelly opened #136 "`init` should automatically backup & restore all configured DBs for existing machines"
If you run `init` for a machine that already exists, then any DBs listed in the config (#135) should be automatically backed up and then restored after the config has been fully applied.

Backups should probably live at `~/.nitro/backups/<machine>/<db>/<dbname>_YYMMDD_HHMMSS.sql` (or `.sql.gz` after #132).

Ex: `~/.nitro/backups/nitro-dev/mysql:5.7/craft3_200512_105130.sql`

[2020-05-12 17:54] brandonkelly commented on #134
This will reduce confusion i.e. #114

[2020-05-12 18:11] jasonmccallister commented on #134
I just wrapped up this change and everything looks good to go!

There is one issue going from `1.0.0-beta.2` or previous machines. Since we moved the sites to `/home/ubuntu/sites` when adding a site after upgrading there is a error mounting the site:

[code]

This is something we can resolve in the upgrade guide. The steps to resolve are:

1. `nitro ssh`
2. `mkdir sites`
3. `nitro apply`

[2020-05-12 20:16] RyanRoberts commented on #130
Thanks. I swear I searched for "https" 🤔

[2020-05-12 20:31] adamthedorsey commented on #127
@jasonmccallister error again...

Here is the full output...

[code]

The Nitro instance was created as before.

Thanks,
Adam

[2020-05-12 20:34] adamthedorsey commented on #127
It's not a big deal for me at the moment, just trying to help with bugs. I'm in Craft 3 every day, all day, so this was looking cool. I currently use Homestead, but I'll keep an eye out for comments. Thanks, again.

[2020-05-13 13:39] MisterMike opened #138 "php.ini max_input_vars"
I think the default value of max_input_vars should be increased to at least 5000.

I encountered the issue using php 7.4, where the variable is commented out in the php.ini and resulting in a value of 1000. For medium to big matrix fields, this is not large enough.

What do you guys think ?

[2020-05-13 14:19] jasonmccallister commented on #133
@bmorykon the databases are created as Docker containers, which is why you are having issues setting a custom my.cnf. I'm going to work on adding this to the next beta and document how to include your custom config to a database.

[2020-05-13 18:48] JeanLucEsser opened #139 "Craft 3 DB Backups Failing"
Re this closed issue: https://github.com/craftcms/cms/issues/2364

When transitioning to Nitro (default install), the above mentioned issue arose for the first time.
The referenced closed issue is about Mamp, but I guess the problem is the same here.

Looks like Craft/PHP can't find the mysqldump executable.

Here's the error log:
[code]

Nitro version is beta 2.
Craft is 3.5 beta 2, but the same

[2020-05-13 21:20] bmorykon commented on #133
Ah, got it. Thanks!

[2020-05-13 23:53] angrybrad commented on #139
This will resolve itself once https://github.com/craftcms/nitro/issues/54 is implemented.

[2020-05-14 16:34] #134 closed

[2020-05-14 16:43] jasonmccallister opened #140 "Issues when using the rename command"
When using the `rename` command and applying the changes the new website resolves with a 404.

The following are not occurring during an apply:

If the mount is a single directory, it is not being remapped. For example:

1. `nitro add demo-site`
2. `nitro rename <select demo-site>` and rename to `new-site.test`
3. Apply the changes
4. Visit new-site.test and get a 404
5. Look in `/etc/nginx/sites-

[2020-05-15 16:17] brandonkelly opened #141 "Nitro should copy SSH keys into the machines"
Similar to how Homestead lets you specify the path to your SSH key via the `authorize` setting, and copies it into the VM. (See “Set Your SSH Key” section on https://laravel.com/docs/4.2/homestead.)

[2020-05-15 16:41] lukeholder commented on #141
Not sure if this is helpful?: https://github.com/canonical/multipass/issues/965#issuecomment-591284180

[2020-05-15 16:45] lukeholder commented on #141
https://github.com/canonical/multipass/issues/1413#issuecomment-596438518

[2020-05-15 21:12] jasonmccallister commented on #133
I'm wrapping up this feature and setting some defaults - will need to provide documentation on where/how to modify configurations but coming along pretty nicely!

[2020-05-16 12:05] delixyr commented on #88
![powershell_76ESsqndk2](https://user-images.githubusercontent.com/4602841/82119380-a14b1980-979b-11ea-939a-6f65d42c2bc5.png)
I get this

[2020-05-16 22:33] #102 closed

[2020-05-16 22:34] jasonmccallister commented on #135
We discussed not adding this to the config and instead added the `db` command namespace to handle the easy creation of databases.

Are we good to close this out?

[2020-05-17 02:44] angrybrad commented on #135
Based on our last conversation, yeah.

[2020-05-17 02:44] #135 closed

[2020-05-18 11:52] lukeholder commented on #118
This would also allow the definition of variables for use by composer:

https://getcomposer.org/doc/05-repositories.md#path

[2020-05-18 12:31] lukeholder commented on #51
My 2 cents here, better to use the project's codeception installed via composer.
Tests commands run with composer scripts default to using the `./vendor/bin/codecept` anyway.

[2020-05-18 12:53] lukeholder commented on #112
@bencroker are your symlinks on your local machine in the vendor folder created correctly?

[2020-05-18 13:17] jasonmccallister commented on #141
I think during the init process we should prompt the user to add their SSH keys into the machine along with the option to run a command that will import the keys.

To @lukeholder's point, it should also add to the authorized keys, but my big thing is to keep this out of the config file. I'm thinking something along the lines of:

[code]

[code]

[2020-05-18 18:42] bencroker commented on #112
@lukeholder Doing the following works for me, otherwise it does not. What are you finding?

[2020-05-18 19:05] bencroker commented on #112
@lukeholder No, the symlinks are only created on the Nitro machine (but they do work).

[2020-05-18 23:08] jasonmccallister commented on #93
Will be resolved in beta 3!

[2020-05-18 23:08] #93 closed

[2020-05-18 23:16] jasonmccallister commented on #97
@angrybrad I have added support for mysql.cnf files for beta 3.

https://github.com/craftcms/nitro/blob/develop/internal/cmd/config.go#L20
https://github.com/craftcms/nitro/blob/develop/scripts/refresh.sh (this one still needs to get updated for the final changes)

I do wonder if we should add the authentication change (this will be used for add mysql databases) and if that would break anything?

[2020-05-18 23:17] jasonmccallister commented on #43
I just pushed this change to `develop`. Will review early tomorrow morning and tackle the upgrade/change log as well.

[2020-05-18 23:32] jasonmccallister opened #142 "Use Caddy Server instead of NGINX"
We should consider the switch to [Caddy Server](https://caddyserver.com) for Nitro instead of using [NGINX](https://www.nginx.com). While NGINX is the most popular option for deployment, Caddy Server offers an API to create sites and easy local HTTPS.

**Benefits**
- **API Driven:** We can remove the scripts inside of Nitro in favor of making an API request to the VM IP address from the CLI
- **Lo

[2020-05-19 13:36] #36 closed

[2020-05-19 13:36] jasonmccallister commented on #133
I'm testing and writing some docs, closing this for beta 3.

[2020-05-19 13:36] #133 closed

[2020-05-19 13:36] jasonmccallister commented on #43
Closing this, releasing with beta 3.

[2020-05-19 13:36] #43 closed

[2020-05-19 13:37] jasonmccallister commented on #140
Going to resolve this after beta 3

[2020-05-19 13:38] jasonmccallister commented on #136
dbs are automatically backed up when using `destroy`. The `init` command is not destructive so I think we can close this one out. I also updated the `db backups` command to use the path above.

[2020-05-19 16:13] ConversioniaDev opened #143 "Update the documentation to include the database name for the Craft install"
Maybe I missed something, but the documentation didn't include the name of the database created during the Nitro setup. I figured out that it's the root folder name.

[2020-05-19 16:39] angrybrad commented on #143
Sorry, but I don't think I'm following. `nitro init` won't create a default database at all.  We probably should update https://github.com/craftcms/nitro#connecting-to-the-database to say you'll need to manually create a database. Is that what you're referring to?

[2020-05-19 16:47] ConversioniaDev commented on #143
The name of the folder that I stored the craft install is "checkout" but I don't have a database named checkout. The only way I could install craft was to include checkout as the database name. I can connect to the database using my SQL client but I never created it.

[2020-05-19 17:42] jasonmccallister commented on #143
@ConversioniaDev that makes sense, right now we do not create a database when you add a site, we certainly have talked about adding support for that use case.

In beta 3 you will be able to add databases easily with `nitro db add`.

[2020-05-19 17:46] ConversioniaDev commented on #143
Sounds like a nice feature to be added. Looking forward to it.

[2020-05-19 17:47] jasonmccallister commented on #141
We should list the keys to select similar to this: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/eb3-init.html

[2020-05-19 19:08] angrybrad commented on #136
Closing this out... if you run `nitro init` on a machine that already exists, you get:

[2020-05-19 19:08] #136 closed

[2020-05-19 21:06] jasonmccallister commented on #138
@MisterMike we would like to introduce an easy way to edit through the CLI. We have an open issue (#57) that will add a `php` command. Since we just tagged beta 3, it will likely work along the same lines of the `db` command:

However, we will most likely have an `edit` command with some common options for editing the php settings.

Would love to get some feedback on the common items you would lik

[2020-05-19 21:09] jasonmccallister commented on #111
Maybe I am an edge case, which would not be the first time :), but I have never used tools like this for hosts files. Is this an edge case? I'm curious how we would work this into a config so we know when we should write to the external file.

Otherwise would this require everyone to use a tool like this?

[2020-05-19 21:10] jasonmccallister commented on #108
This would be good to have documented somewhere, but since this is a multipass thing, would this issue suffice as documentation?

[2020-05-19 21:23] MisterMike commented on #138
Dear Jason, thanks for the update. Many of us will be looking forward to the new enhancements!

I think most important would be settings that interfere with the general use of Craft, while there might be others from the category "nice to have".

[code]

maybe also
[code]

In general, `max_input_vars` is what I need to adjust often, paired with `upload_max_filesize`

[2020-05-19 21:28] MisterMike commented on #142
I would love to see and test Caddy, but your point of making the Dev environment as similar as possible to the production field is a strong one. Having such a simple LetsEncrypt functionality makes Caddy really wave hands.

This also includes https, unfortunately (for you as a dev ).

While not being comparable, how do Homestead or Flywheel achieve this?

[2020-05-19 21:53] simeon-smith commented on #108
I feel like there might be enough people that run into this that it could warrant a mention. It affects some of the standard folders on MacOS and I know several developers that store their files in a location that this would affect.

[2020-05-19 23:06] jasonmccallister commented on #143
@ConversioniaDev we tagged beta 3 which will make it easier to add databases. When a new machine (or adding a MySQL engine) there is a default database called nitro.

I think we will eventually create a database during add but I’m not sure if will make it in 1.0.

[2020-05-20 10:10] dhmax88 opened #144 "Error when adding new site (nitro apply)"
When trying to mount a new folder / site I keep getting this error:

[code]

I'm not sure where these arrow functions are coming from...

Using 1.0.0-beta.3

[2020-05-20 10:25] JeanLucEsser opened #145 "[beta 3 only] Issues with user ubuntu's home directory"
Maybe it's me doing something wrong, but I have some issues with the just released beta 3 and initializing a new machine:

- user ubuntu's home is not initialized with /etc/skel (no .profile, no .bashrc)
- user ubuntu' home has some weird permissions (owned by root), is this normal behavior?
- home has an empty .composer directory and composer doesn't seem to be installed

Anyone else seeing those

[2020-05-20 11:25] jasonmccallister commented on #145
Hi @JeanLucEsser, that is definitely strange. Can you run `nitro context` and `nitro info` and provide the output here?

It sounds like this is a new machine, but if you came from beta 2, can you run `nitro refresh`?

I have a feeling that the initialization process failed - and did not complete the rest of the scripts to setup. Can you run provide the log files from these commands?

1. `multipass

[2020-05-20 11:26] jasonmccallister commented on #144
Hi @dhmax88, I have seen this a few times. Can you run the following commands and provide the output?

1. `nitro context`
2. `nitro info`

That should give me a good indicator of whats happening.

[2020-05-20 11:44] dhmax88 commented on #144
Hi @jasonmccallister

I destroyed and re-initialised the box, which seems to have resolved the issue for now. It seems to happen when the box has been stopped/paused and then restarted – so I'll report back when / if it happens again.

Current results of your commands:

1. `nitro context`
[code]

2. `nitro info`
[code]

[2020-05-20 11:51] jasonmccallister commented on #144
@dhmax88 ahh ok, I have to give credit to @lukeholder for this one. There is an issue with multipass removing mounts during macOS sleep (https://github.com/canonical/multipass/issues/1531).

If this happens again, you can run `nitro restart` and it should resolve itself!

[2020-05-20 11:51] #144 closed

[2020-05-20 12:39] JeanLucEsser commented on #145
Here you go: I destroyed my previous machine and init a new nitro-dev.

`nitro context`
[code]

`nitro info`
[code]

I ran `nitro refresh` just to make sure but no change:
[code]

Requested logs attached:
[cloud-init-output.log](https://github.com/craftcms/nitro/files/4656824/cloud-init-output.log)
[cloud-init.log](https://github.com/craftcms/nitro/files/4656825/cloud-init.log)

[2020-05-20 15:11] bencroker commented on #138
I'd love to see `session.gc_maxlifetime` increased (and perhaps configurable) so that users are not logged out after 1440 seconds (24 mins) of inactivity. I would suggest a value of at least 2592000 seconds (30 days).

[2020-05-20 16:56] #141 closed

[2020-05-20 16:56] jasonmccallister commented on #141
Added the `keys` command to make this easy, should probably also prompt during init?

[2020-05-20 16:58] jasonmccallister commented on #145
If you run `nitro ssh` do you get any errors inside of the machine?

[2020-05-20 17:06] jasonmccallister commented on #145
I identified an issue with the refresh script, can you run `nitro refresh` command again?

[2020-05-20 17:08] jasonmccallister commented on #127
@adamthedorsey can you update to the latest beta and try again?

[2020-05-20 17:09] jasonmccallister commented on #106
I'm going to close this in favor of #57

[2020-05-20 17:09] #106 closed

[2020-05-20 17:10] jasonmccallister commented on #77
So we ask for a new database during import, I think we can close this out since we do not use the default nitro database?

[2020-05-20 17:10] #73 closed

[2020-05-20 17:10] JeanLucEsser commented on #145
I have 0 errors inside the machine, sites are working, I installed composer on my own, changed owner of ubuntu and it's working as well. I just ran `nitro refresh` again. As I have no errors it's difficult to see if it changed anything. Should I try and create another machine?

[2020-05-20 17:11] jasonmccallister commented on #51
I agree with you @lukeholder, this should be project specific. I'm going to close this out.

[2020-05-20 17:11] #51 closed

[2020-05-20 17:12] jasonmccallister commented on #26
This is no longer needed

[2020-05-20 17:12] #26 closed

[2020-05-20 17:13] jasonmccallister commented on #35
@angrybrad I think we are good for a local development setup? Are we good to close this out?

[2020-05-20 17:13] JeanLucEsser commented on #145
BTW, aren't new machines supposed to be 20.04? Because I'm stuck at 18.04, even for new machines. From release notes: [7a5fc04](https://github.com/craftcms/nitro/commit/7a5fc04d78667f5d52ddf35c556ed13820b438e4) New mahcines will use 20.04 LTS

[2020-05-20 17:15] jasonmccallister commented on #18
@mattstein would these types of changes be setup for local development? Maybe to test a configuration before deployment? If that is the case, the user can `nitro ssh` and modify the template.

Perhaps we should also set another directory where configs can be placed and loaded by nginx?

[2020-05-20 17:20] jasonmccallister commented on #145
@JeanLucEsser in this beta, the output of the scripts were not being displayed - there was an issue in the script that was fixed here: https://github.com/craftcms/nitro/commit/209a24f32deb6ae415c4aedc360fe4568478b54f.

As far as 20.04, I had to revert that change. Docker just tagged the versions for 20.04 today so we will most likely change it back to 20.04 in the next beta version.

If everything

[2020-05-20 17:21] mattstein commented on #18
@jasonmccallister Yep! One case I imagine is testing [Blitz’s static cache handoff](https://putyourlightson.com/plugins/blitz#nginx).

This seems ideal—I know I’m on my own if I break it, but I’d prefer to version control any customizations I make and not lose them when I nuke the VM.

[2020-05-20 17:29] dhmax88 commented on #144
I don't think this issue is resolve.

I've tried `nitro restart` but still getting the error... output below:

[code]

[code]

[code]

[2020-05-20 17:31] JeanLucEsser commented on #145
On a new machine 'nitro-refresh', after running `nitro refresh -m nitro-refresh` on it:

`ls -la`
[code]

`mkdir test`
[code]

As you can see, skeleton from /etc/skel/ (bashrc and company) still missing, owner of ubuntu is root.

[2020-05-20 17:41] angrybrad commented on #77
Yup, closing.

[2020-05-20 17:41] #77 closed

[2020-05-20 17:43] angrybrad commented on #35
I will want to do an audit - leaving it open and assigned to myself.

[2020-05-20 19:00] brandonkelly opened #146 "Not clear which DB backups are being created on destroy"
When the `destroy` command is backing up the databases, it’s not clear which database is currently getting backed up:

For example you end up staring at something like this for a while:

[code]

and it’s not clear which database that was until the filename is finally written out once it’s done:

[code]

I think that initial status line should be replaced with:

[code]

(Even if it’s quick, i think

[2020-05-20 19:04] jasonmccallister commented on #145
Ahh, I see what you are saying. Let me look into this and we should be able to resolve with the next beta.

[2020-05-20 19:05] brandonkelly opened #147 "`mysql` table getting included in MySQL backup on destroy"
When destroying a machine, the `all-dbs-...` backup file correctly ignores the `information_schema`, `performance_schema`, and `sys` tables, however the system `mysql` table does end up getting included. It should not.

[2020-05-20 19:31] adamthedorsey commented on #127
Removed everything, tried install, confirmed it was the latest beta release. Still throwing errors, unfortunately.

[code]

[2020-05-20 20:49] jasonmccallister commented on #145
Ok, this should be resolved in the next beta (4). For now you can set your permissions manually:

1. `nitro ssh`
2. `sudo chown -R ubuntu:ubuntu /home/ubuntu`

The composer installation should be resolved as well.

[2020-05-20 22:00] byronrode opened #148 "Multipass requires Full Disk Access on macOS"
Hey folks, putting this here so you can keep a reference to it, or add it to the docs.

I use an external USB-C thumb drive to store all my dev work and I was trying to add a site, and kept getting a mount issue.

[code]
At first I thought it might be related to Nitro, bBut after some investigation, I came across this issue: https://github.com/canonical/multipass/issues/1389

Multipass (at this po

[2020-05-20 22:07] byronrode commented on #108
I came across this today, using an external drive, and didn't see this issue until after I had made mine: #148

Multipass does add "multipassd" into the list of apps requiring access, but doesn't check it, as it requires authentication. In most cases (PHPStorm / TextMate etc) when you first attempt to open a folder on those drives, or protected folders it will ask for permission. Multipass will li

[2020-05-20 22:19] jasonmccallister opened #149 "Composer is not installed by default"
Composer is not installed on new machines.

[2020-05-20 22:20] jasonmccallister commented on #127
Do you have a home network that is performing scans or parental controls in place? Can you maybe try on a different network?

[2020-05-20 22:32] adamthedorsey commented on #127
No, should be fine. I can try at work, but I’m in other tools all day long
(Craft, composer, node, brew, Ubuntu, apt-get, etc) and don’t have DNS
issues.

On Wed, May 20, 2020 at 6:20 PM Jason McCallister <notifications@github.com>
wrote:

--
Adam Dorsey

443.528.0069 *cell*
adamthedorsey.com

[2020-05-21 00:20] clarknelson commented on #88
Now I have this error when trying to install:

![image](https://user-images.githubusercontent.com/4106671/82509923-d5417a00-9ace-11ea-92bd-6dd7d4504205.png)

One more for this list!

[2020-05-21 00:42] sa3dany commented on #88
I think the install script should ask you to add the nitro dir `/c/users/clark/Nitro` to your path since it can't do that on Windows easily.

What the installer script does is essentially grab the nitro.exe from the latest release tag an put it in `/c/Users/clark/Nitro` then it tries to run `nitro init`.

Windows support is still WIP since many commands don't run in Windows yet.

[2020-05-21 02:25] clarknelson commented on #88
thanks for the heads up on the path so I can keep going

[2020-05-21 07:12] delixyr commented on #88
Where does it say it requires wsl or linux distro to be installed as a pre-requisite. The commands runs only on cmd or powershell.
bash comes to play after you run an instance within powershell?

[2020-05-21 10:53] #146 closed

[2020-05-21 10:53] #145 closed

[2020-05-21 10:53] #147 closed

[2020-05-21 10:53] #149 closed

[2020-05-21 11:09] jasonmccallister commented on #108
@byronrode thank you, I think placing some documentation on the readme would be helpful. I have not ran into this issue yet since most of my sites are in `~/dev/<site>`. Having this documented on the README might be the best approach.

[2020-05-21 11:10] jasonmccallister commented on #148
This is a multipass access issue that needs to be documented, closing out in favor of #108. Thank you @byronrode!

[2020-05-21 11:10] #148 closed

[2020-05-21 11:36] jasonmccallister commented on #49
Just added this as `nitro mailhog`. Will go out with the next beta release!

[2020-05-21 13:08] jasonmccallister commented on #131
@mattstein the recommended default for NGINX is to pass all 404's to index.php for PHP applications:

[code]

When you add a site, we assume its Craft. Is this something we should remove or document? I'm not sure this is a bug since we added that configuration based on NGINX and PHP best practices?

[2020-05-21 13:33] jasonmccallister commented on #108
@mattstein can you take a stab at documenting this?

[2020-05-21 13:43] mattstein commented on #131
@jasonmccallister I might wandered into useless edge case territory. It seems ideal, for science, to use the default error page if PHP’s response doesn’t come with a 404 status. But I don’t know if that’s possible or even worth the time to work out. I won’t be offended if you slam this issue shut. :)

[2020-05-21 13:44] mattstein commented on #108
Sure thing, @jasonmccallister!

[2020-05-21 14:17] mattstein commented on #108
Noted in f05b3d7c6a3a6d1031c07b94b402e2f3cda09574.

[2020-05-21 14:17] mattstein commented on #148
Noted in f05b3d7c6a3a6d1031c07b94b402e2f3cda09574..

[2020-05-21 14:24] jasonmccallister commented on #131
@mattstein I'm going to say this is an edge case and not a bug since we purposely set the NGINX config to pass 404s to index.php.

[2020-05-21 14:24] #131 closed

[2020-05-21 17:58] jasonmccallister opened #150 "Adding sites should add the site to the virtual machines hosts file"
When trying to use browser sync inside of the VM, the proxy is not working because the virtual machine cannot reach `site-name.test`.

When a new site is added to the machine, we should add the following to the `/etc/hosts` file:

[code]

This will help with future tools like browser sync, etc.

[2020-05-22 08:18] delixyr opened #152 "Not able to fetch and install php 7.4 on nitro apply"
![php error](https://user-images.githubusercontent.com/4602841/82646806-1074a380-9bca-11ea-9601-7c04f6787734.jpg)
![php erroro 2](https://user-images.githubusercontent.com/4602841/82646813-136f9400-9bca-11ea-9a83-66cb4bd65818.jpg)

I get these error after running `nitro init` and  `nitro apply` on first machine I created.
Works fine if i choose 7.2

[2020-05-22 12:02] lukebailey commented on #152
seeing the same issue here

[2020-05-22 12:23] jasonmccallister commented on #152
@delixyr and @lukebailey this might be related to #127. If your machine did not `init` properly you are going to have issues with the other commands as well.

Can you run the following steps we discussed [here](https://github.com/craftcms/nitro/issues/127#issuecomment-626239432) to see if its a DNS problem with the virtual machine?

Also, can you attach the contents of `/var/log/cloud-init-output.

[2020-05-22 12:58] delixyr commented on #152
@jasonmccallister
[cloud-init.log](https://github.com/craftcms/nitro/files/4668134/cloud-init.log)
[cloud-init-output.log](https://github.com/craftcms/nitro/files/4668135/cloud-init-output.log)

[2020-05-22 18:38] jasonmccallister commented on #152
@delixyr I think we have identified the issue, we are install `php-cli` on `init` which includes PHP 7.2 so we can install composer automatically. We discovered `php-cli` also install OCache by default. We are removing the `php-cli` in beta 5 and moving composer to `nitro install composer`.

Hoping this resolves the issue.

[2020-05-23 19:51] travisboss commented on #152
Having same issue, will wait for Beta 5.

[2020-05-24 01:48] delixyr commented on #88
@brandonkelly @jasonmccallister

For windows there is still the need of php and composer installed as native for composer to work?
Can we cd to path/to/project and run composer of the nitro-dev to be folder to install craft?
Also we do still need to edit hosts file manually to resolve a site host name?
Can you shed light on exact steps for windows in the documentation.

[2020-05-24 05:16] angrybrad commented on #88
@delixyr

Not really related to Windows, but no for PHP and the next beta release will have Composer installed in the Nitro machine by default (see https://github.com/craftcms/nitro/issues/149).

Yes.

Yes, because of this:

<img width="657" alt="CleanShot 2020-05-23 at 22 13 19@2x" src="https://user-images.githubusercontent.com/61869/82746268-a9c6c580-9d42-11ea-80b7-71379cf8b154.png">

We will up

[2020-05-26 23:53] #49 closed

[2020-05-26 23:53] #54 closed

[2020-05-26 23:53] #96 closed

[2020-05-26 23:53] #97 closed

[2020-05-26 23:53] #140 closed

[2020-05-27 00:11] angrybrad commented on #88
We just released [Nitro 1.0.0-beta.6](https://github.com/craftcms/nitro/releases/tag/1.0.0-beta.6) which greatly improves Windows support.  Works with regular old cmd.exe, but the biggest caveats are 1) cmd.exe needs to be run with Administrator permissions and 2) installing/updating is a manual process.  Be sure and check out the README for Windows-specific instructions.

Going to go ahead and cl

[2020-05-27 00:11] #88 closed

[2020-05-27 00:13] jasonmccallister commented on #152
Beta 6 was just released which should resolve this issue. I'm going to keep this open until we are sure but if you can update to the latest beta and try `nitro init`.

[2020-05-27 00:15] jasonmccallister commented on #127
@adamthedorsey we just tagged beta 6, can you update and try again. If you can make sure you are not on a VPN and fully up to date with multipass that would be really helpful.

[2020-05-27 00:27] jasonmccallister commented on #139
@JeanLucEsser this should be resolved in the latest version (beta 6).

[2020-05-27 00:49] #139 closed

[2020-05-27 00:50] #108 closed

[2020-05-27 01:13] jalendport commented on #19
Hmm 'tis a great question. I've forgotten lol 😂

I will report back on this thread the next time I go about setting up a new server with webp with a complete list of steps (unless this is resolved before then)...

[2020-05-27 01:15] khalwat commented on #126
IMO you should be doing:

[code]

...instead. This then allows Craft to specify any upload limits with [maxUploadFileSize](https://docs.craftcms.com/v3/config/config-settings.html#maxuploadfilesize)

There's no danger in leaving it unrestricted, especially for a local dev environment, if Craft also is laying on a setting that limits it.

Otherwise you're just kicking the can down the road in terms

[2020-05-27 01:20] khalwat commented on #35
In case it's useful -> https://github.com/nystudio107/nginx-craft/tree/master/sites-available

[2020-05-27 03:04] lukeholder opened #153 "Support bash and zsh command completion in the CLI"
Bash and Zsh support command completion by pressing `tab` after typing a couple of letters of a command or sub-command.

Would be great if support was added to nitro.

example from another lib: https://github.com/urfave/cli/blob/7a390105cb3a64b56ed4cc52c4192b8469a8e339/docs/v2/manual.md#bash-completion

[2020-05-27 03:06] #153 closed

[2020-05-27 07:38] espensgr commented on #52
Should this be added to the documentation? I was waiting for this feature and didn't know i could just add the same folder to another domain/host.

[2020-05-27 14:12] michaelroper opened #154 "Private key permissions too open"
I used the `nitro keys` command to add my private key, but when I tried to use it from the VM, I got an error about the permissions on the key file being too open..

[code]

Not sure if this can be an easy fix by setting the permissions in the script that adds them, but `chmod 600 ~/.ssh/id_rsa` did the trick for me.

[2020-05-27 14:55] brandonkelly opened #155 "`init` not adding sites to hosts file"
When initializing a new machine with a config file that already defines some sites, those sites’ Nginx configs are being created within the machine, but the host OS’s `hosts` file is not touched.

Workaround is to run `nitro apply` after `nitro init`, at least until #117 is addressed.

[2020-05-27 14:57] brandonkelly opened #156 "`apply` outputs help content"
[code]

[2020-05-27 15:52] jasonmccallister commented on #156
I'm going to double check the changes on windows and then tag a release.

[2020-05-27 15:59] jasonmccallister commented on #154
thank you @michaelroper, will be included in the next release.

[2020-05-27 17:41] angrybrad opened #157 "Destroying a machine on Windows says can't edit hosts file, even though running as admin"
On `develop` on Windows, running cmd.exe with administrator permissions says it can't edit hosts file, when it should be able to.

[code]

[2020-05-27 17:43] angrybrad opened #158 "nitro apply exit status 2 on windows"
Using `develop`, have a machine successfully running with:

[code]

Change to:

[code]

Run `nitro apply` and get `Error: exit status 2`

[2020-05-27 22:36] bencroker commented on #112
@lukeholder Can I ask how you are symlinking to local folders on your nitro machine?

[2020-05-28 00:19] #154 closed

[2020-05-28 00:19] #155 closed

[2020-05-28 01:53] michaelroper opened #159 "Missing 'unzip' command"
When doing a `composer update` from my nitro VM, I get the following error during the process:
[code]
Can that (and any other common utilities) be installed as part of the base install?

--
Environment: nitro 1.0.0-beta.7, Ubuntu 20.04

[2020-05-28 13:36] jasonmccallister commented on #158
Resolved this in beta 7.

[2020-05-28 13:36] #158 closed

[2020-05-28 13:38] jasonmccallister commented on #157
This was resolved in beta 7

[2020-05-28 13:38] #157 closed

[2020-05-28 13:38] jasonmccallister commented on #156
This was resolved in beta 7

[2020-05-28 13:38] #156 closed

[2020-05-28 13:42] jasonmccallister commented on #159
Thanks @michaelroper, I'm not sure why the unzip package is not added, its set as part of the init here: https://github.com/craftcms/nitro/blob/master/internal/cmd/config.go#L4

I'll spin up a new machine and verify its good to go.

[2020-05-28 14:26] jasonmccallister commented on #159
I can't reproduce this on a new machine. Which version of PHP are you running?

[2020-05-28 15:37] michaelroper commented on #159
Huh.. not sure whats going on then - none of those seem to be installed!
I created the machine yesterday with beta.6, updated today, and its using PHP 7.4..

[2020-05-29 20:59] brandonkelly opened #160 "SQL error when importing to DB with a dash in name"
If you try to run `nitro db import` and enter a database name that contains a dash (e.g. `foo-bar`), you will get a SQL error:

[code]

[2020-05-31 14:10] brandonkelly opened #161 "`apply` not removing sites from hosts file"
When you remove a site from the config and then run `nitro apply`, the hostname is still listed in the `hosts` file.

[2020-06-01 08:09] lukeholder commented on #160
Also getting this:

[code]

[2020-06-01 08:41] lukeholder opened #162 "Local site contents deleted by nitro"
Had a nitro machine with this mount config:

[code]

then edited the `nitro-dev.yaml` to:

[code]
(I can see there is an issue with my config in that both mounts are pointing to the same location)

then ran `nitro apply`

This is the full output:

https://gist.github.com/lukeholder/16293da4583016aff929d9c28eea5f20

[code]

This has deleted the contents of `~/Code/Sites/craft-commerce3.test` on my

[2020-06-01 14:20] jasonmccallister commented on #162
@lukeholder what did you have for sites?

[2020-06-01 17:33] lukeholder commented on #162
Not sure what you mean sorry.

[2020-06-01 21:17] jasonmccallister commented on #162
Resolved for the next release @lukeholder

[2020-06-01 21:26] #162 closed

[2020-06-01 21:26] #161 closed

[2020-06-01 21:29] jasonmccallister commented on #86
Beta 8 should handle this, can you confirm and we can close this out?

[2020-06-01 23:29] jasonmccallister commented on #160
There is a limitation that we need to work around, instead for 1.0 we are going to add validation that checks for special characters.

[2020-06-02 07:41] nfourtythree opened #163 "Add `--skip-hosts` flag to `nitro add`"

[2020-06-02 19:20] jasonmccallister commented on #159
@michaelroper can you try on the latest beta (beta 8)? Also, can you change the PHP version to 7.3 using `nitro edit` and then run `nitro apply -d` and provide the output?

[2020-06-02 19:37] #160 closed

[2020-06-02 19:37] #163 closed

[2020-06-02 19:37] #86 closed

[2020-06-02 19:38] jasonmccallister commented on #117
@brandonkelly I think we can close this out, since we are forcing a remove and re-add during `apply`?

[2020-06-02 19:47] jasonmccallister commented on #35
Closing this out since it shipped in beta 9, thank you @khalwat for the awesome config!

[2020-06-02 19:47] #35 closed

[2020-06-02 20:22] jasonmccallister opened #164 "Detect nested folders in the add command"
We need to compare the working directory from `GetDirectoryArg` (which is does return) and combine with the `mount.Dest` to set the webfoot for existing mounted directories.

[2020-06-03 01:10] michaelroper commented on #159
Thanks Jason - updated to beta 9, and unzip is there, and `composer update` works without complaining now; though it does seem to take a lot longer than usual on the initial `Updating dependencies (including require-dev)` part, like at least a minute before it actually starts doing the updates.

Output from changing to 7.3 is:
[code]

[2020-06-03 01:10] #159 closed

[2020-06-03 01:26] michaelroper opened #165 "Let `nitro ssh` open straight into matching mounted directory"
Is there any way that when running the `nitro ssh` command from a local site folder, it can detect if there is a matching mounted folder, and then drop you straight into that working directory?

Eg, if my mount config looks like this:
[code]
then it would behave like this, noting the paths:
[code]
It's a little thing, but would make it a lot easier for connecting from within your project in your I

[2020-06-03 02:10] michaelroper opened #166 "Update tip around recommended mount point"
Should this tip in the `readme.md` be updated to reflect the default suggested mount point being changed to `/home/ubuntu/sites`?

https://github.com/craftcms/nitro/blame/master/README.md#L200

[2020-06-03 02:28] jasonmccallister commented on #166
Yes it definitely should be updated!

[2020-06-03 18:28] jasonmccallister commented on #165
@michaelroper I really like this idea! Ideally when we consider adding craft specific commands like `nitro craft update` it would also need to detect the current working directory and map into a vm directory.

Right now for `ssh` we are running `multipass shell` which does not have support for arguments like the directory name but I will add an issue to discuss with that team.

Going to keep this

[2020-06-03 18:35] jasonmccallister commented on #165
Hmm, those commands don't use `multipass shell` so we could consider adding those sooner than the `ssh` implementation.

Might be worth another feature request since the implementation is different underneath if you are up for adding another issue?

[2020-06-03 18:38] jasonmccallister commented on #166
Just updated this on `develop`. Planning a release soon.

[2020-06-03 18:38] #166 closed

[2020-06-04 08:39] nordentwickler commented on #150
So after Adding the domain to the hosts-file on the vm, you get browsersync to work? I'm hustling with this exact problem, i want use browsersync in the vm as well. Could you give us more information ob your configuration? How to you handle the port-forwarding between your local machine and multipass/nitro and how did you config the browsersync, what did you use for proxy, open etc?

[2020-06-04 17:15] #164 closed

[2020-06-05 15:45] michaelroper opened #167 "Pass-through shell commands for matched site directories"
As discussed in #165, it would be great to be able to 'pass through' commands like the `nitro craft update' you mentioned, that when run will pass the current working directory, and run the command from the matching mounted site directory on the VM.

[code]

Alternatively, if that's not possible, it would be good to at least have some set commands for other common tasks, like `nitro composer-insta

[2020-06-05 17:26] jasonmccallister opened #168 "Template and file changes are delayed"
There are some reports of getting random slow load times (sometimes up to 20 seconds) for pages (especially noticeable with Twig templates).

Underneath the hood, `multipass` uses `sshfs` to "mount" the directories into the virtual machine. There is a default 20 second cache timeout set when using `sshfs` through `multipass`. Right now there is no way to override the settings passed to `sshfs` whe

[2020-06-05 18:54] jasonmccallister commented on #168
Some additional research: https://blog.ja-ke.tech/2019/08/27/nas-performance-sshfs-nfs-smb.html

[2020-06-07 11:25] rostockahoi commented on #168
Thank you for the research @jasonmccallister. Does the file sync to the mount "feel" instant after applying this workaround?

[2020-06-08 15:32] jasonmccallister opened #169 "Add ability to define cron jobs"
It would be great to have a `cron` option on the config file that would define cron jobs for a virtual machine, something like this:

[code]

[2020-06-08 15:56] jasonmccallister opened #170 "Add ability to define containers"
It would be great to have support for `containers` in the config file. This would be useful for running container based tools such as [min.io](https://docs.min.io/) (an S3 API compatible storage engine) or other useful tools for local development.

[code]

[2020-06-08 19:49] jasonmccallister commented on #168
@rostockahoi it is instant and changes show up quickly. However, NFS mounting does not seem well supported on Windows and if we stop using the mount command, we are going to have more support and issues than it might be worth. The alternative, that we are hacking on now, is modifying the amount of time that multipass mount caches sshfs mounts.

Performance with NFS looks promising, but I'm not sur

[2020-06-10 13:42] knynkwl opened #171 "Templates takes awhile to refresh"
After editing a template and refreshing browser, it takes about 30 secs for the page to get updated with the new code.

I am on a fresh Craft/Nitro install and just adding a couple chars to the standard welcome screen.

Here's a screen recording. https://drive.google.com/file/d/1QwrqnbDeFycqKr4PCSqyAdBQQYHnM2B-/view?usp=sharing

[2020-06-10 15:22] angrybrad opened #172 "An nginx 500 ISE should return full error stack trace in browser"
Currently, you get a generic blank browser page.

[2020-06-10 16:43] #171 closed, assigned to nobody

[2020-06-11 10:14] jamiewade commented on #79
@jasonmccallister I'm getting this issue (Windows 10) on a clean install. Could it be anything to do with me having to use MySQL 5.6, rather than 5.7?

[2020-06-11 10:25] jamiewade opened #174 "An instance name is needed for either source or destination"
I'm getting this when trying to import an `.sql` file into one of my databases:

[code]

My Nitro server is up and running. I can get to my local site which is connected to the database, but as the database is empty it's prompting me to install Craft from scratch.

What am I doing wrong?

[2020-06-11 10:49] jamiewade commented on #174
This seems to be an issue with the path to the `.sql` file. I was pointing to a file on my desktop:

`C:\Users\jamie\Desktop\xxx.sql`

However when I ran `nitro db import C:\Users\jamie\Desktop\xxx.sql` in [Hyper](https://hyper.is/), it didn't like that path and changed the command to:

`Error: Unable to locate the file "C:\\UsersjamieDesktopxxx.sql".`

Which of course failed. So I changed the pat

[2020-06-11 12:10] jasonmccallister commented on #174
Thanks for the report @jamiewade! I’m going to take a look at that soon. That’s strange that hyper is having that issue only. We break the file part using the host operating systems path separator and I’m not sure why Hyper is stripping the slashes... is it possible Hyper shell is using bash or WSL?

[2020-06-11 12:15] jamiewade commented on #174
Cheers! Yeah it's strange indeed, but I don't think this is an issue with Nitro specifically. I'll see if there is anything I can do to stop Hyper doing what it's doing!

[2020-06-11 12:29] jamiewade commented on #86
@jasonmccallister I'm getting the `"nitro-dev:/home/ubuntu/sites" is already mounted` error locally.

I'm running Windows 10, and I have a dedicated SSD for my local sites (`S:`), so I have mounted the entire directory:

[code]

I have two sites in my config file at the moment, and those are working. To add a third site, I'm just adding:

[code]

Then running

`nitro apply`

Which returns:

[code]

[2020-06-11 13:05] jamiewade opened #175 "Unlink x: Operation not permitted"
I deleted the contents of my `storage/runtime` and `storage/logs` folders for a Craft site using Nitro. Now when I request the site, I get this:

[code]

Of course a permissions issue, but I'm not sure how to resolve it?

[2020-06-12 10:20] jamiewade commented on #175
I've just realised my Windows path has been completely wiped after I run `setx path "%PATH%;%USERPROFILE%\Nitro"` from the [docs](https://github.com/craftcms/nitro#installation). It must be related to that.

[2020-06-12 11:08] jasonmccallister commented on #175
@jamiewade It might be related to this: https://github.com/craftcms/cms/issues/4355

[2020-06-12 11:09] jasonmccallister commented on #174
@jamiewade can you and I hop on a call and work through these issues? I’d like to see if we can narrow it down to something specific.

[2020-06-12 12:19] jamiewade commented on #174
@jasonmccallister Sure, I'd be happy to. I'll drop you a message on Discord.

[2020-06-12 17:46] jasonmccallister commented on #174
It seems to be occurring when running MINGW64 (e.g. Hyper.sh). The error occurs because the fileAbsPath has the path separators stripped.

https://github.com/craftcms/nitro/blob/master/internal/cmd/db_import.go#L40

[2020-06-12 19:59] jasonmccallister commented on #175
Closing this out as setting the mutex component resolved it. Thanks @jamiewade!

[2020-06-16 09:58] jamiewade commented on #175
@jasonmccallister Unfortunately I'm still getting this issue when making Craft CMS requests on a Nitro instance (saving entries, saving Solspace Calendar events etc)

[2020-06-17 18:53] michaelrog commented on #2
Worth looking into:

*[Expose](https://github.com/beyondcode/expose)* is "a beautiful, fully open-source, tunneling service, written in pure PHP."

docs: https://beyondco.de/docs/expose/introduction
repo: https://github.com/beyondcode/expose

Would be really cool to have a `nitro expose` command to automate [client configuration](https://beyondco.de/docs/expose/client/configuration), [SSL](https:/

[2020-06-19 00:04] devinellis commented on #127
I just ran into this on the beta 10. The issue seems to have been my office VPN.

[2020-06-23 05:00] ItagMichael opened #176 "Error: exit status 2"
OS: macOS High Sierra 10.13.6 (17G12034)

After installing Multipass, downloaded and ran the installer:

[code]

Trying a second time:

[code]

Running `nitro add`:

[code]

[2020-06-23 10:20] jimhaakman opened #177 "Twigpack config"
In Twigpack I have a config that connects to the webpack dev server running on my mac. Is it possible to have an IP that connects to host machine? Like Homestead that has a special IP: `10.0.2.2`.

[code]

Thanks.

[2020-06-25 07:52] mmorkt opened #178 "Slow performance after sleep mode"
Just started testing Nitro and I'm loving it. But I'm having trouble with slow load times running Nitro on MacOS.
Tried two different Macbook Pros. Haven't tried Craft CMS yet only flat-file CMS systems.

Load time DOMContentLoaded: 2.50 s
Tried bumping up CPU and memory but without any changes in the performance.

[2020-06-25 16:45] mmorkt commented on #178
Seems like Nitro gets significantly slower after the Mac has been in sleep mode for some time.

[2020-06-25 21:14] simeon-smith commented on #178
Using multipass to stop then then start the machine back up improved things for me. I didn't need to restart my whole machine.

[2020-06-25 21:20] simeon-smith commented on #150
I think if you set "disableHostCheck: true," for you webpack dev server you can get around this issue. I'm running webpack dev server on localhost:4000 with a proxy to my site url with this config. I'm pulling SITE_URL from the craft config so they are all the same.

[code]

[2020-06-29 12:32] jasonmccallister commented on #178
@mmorkt and @simeon-smith this seems somewhat related to https://github.com/canonical/multipass/issues/1531.

When the computer goes to sleep, it stops processing the mount and when its awake it appears to take a long time to get caught up. If this occurs again, you can run `nitro restart` to stop and start the machine, which would tell the mounts to "reinitialize".

[2020-06-29 12:32] #178 closed

[2020-06-29 12:49] jasonmccallister commented on #177
@jimhaakman there is an IP address that is configured to your host machine already. By default, that IP should be `192.168.64.1`.

In order to verify, you can take the following steps:

1. `nitro ssh`
2. `ip addr show`
3. The `enp0s2` should have an IP address similar to `192.168.64.21`
4. You can replace the last octet of the IP with `1` and reach your host machine (e.g. `192.168.64.21` would be

[2020-06-29 12:53] jasonmccallister commented on #176
@ItagMichael which version of multipass do you have installed? You can view the `multipass` version using `multipass version`. You will need at least version 1.2.0 of multipass.

Since the first `nitro init` failed, it still created a machine. In order to remove that machine would can run `multipass delete nitro-dev -p`.

Once the version is verified/updated and the machine has been removed, you c

[2020-06-29 23:10] ItagMichael commented on #176
@jasonmccallister Thanks. Multipass is at version 1.3.0 so it should be good. I tried removing the machine and re-running `nitro init` but get the same output as my initial attempt.

[code]

[2020-06-29 23:22] ItagMichael commented on #176
Okay, repeating `multipass delete nitro-dev -p` and `nitro init` again after the above successfully built the machine and it seems healthy.

[2020-06-30 03:35] DouglasKGlover opened #180 "Rebooting PC causes Nitro sites to become inaccessible"
I may be missing something, but I have been trying to get Nitro up and running for local dev. Every time I get it going it's smooth and works fine, ignoring a few issues that I was able to find solutions for online relatively quickly. But when I restart or shutdown my computer and then later come back to continue working on it, the sites become inaccessible, with a generic "This site can't be reac

[2020-06-30 19:45] jasonmccallister commented on #180
@DouglasKGlover you need to disable internet sharing, this seems to be a known thing with the way multipass using the Windows hypervisor.

There is a tutorial on troubleshooting the windows networking here: https://multipass.run/docs/troubleshooting-networking-on-windows

I need to confirm, but it appears to resolve itself if you disable internet sharing on Windows.

[2020-06-30 20:19] DouglasKGlover commented on #180
@jasonmccallister I've done all of the steps provided on the tutorial you shared, as well as manually disabled Internet Sharing via Services and set it to disabled on startup. Unfortunately I am still unable to access my site for local dev. :(

[2020-07-01 10:56] JeanLucEsser opened #181 "Issue with file ownership (user 1000)"
Hi there,

I do have some strange issue with the latest beta (10).

Ownership of my project files in the vm is ubuntu:ubuntu (ubuntu is user 1000) which seems ok.
Ownership of my project files in my local folder is my-user:staff for some files, and 1000:1000 for many others, as if it wanted them to be the user ubuntu which doesn't exists locally on my machine.

If I edit a file in the vm, it chang

[2020-07-01 15:52] jasonmccallister commented on #180
@DouglasKGlover did you reboot the host machine to apply those changes?

[2020-07-01 15:53] jasonmccallister commented on #181
@JeanLucEsser which version of nitro are you using?

[2020-07-01 15:55] JeanLucEsser commented on #181
I'm using nitro beta 10 which is the latest I believe.

[2020-07-01 16:03] DouglasKGlover commented on #180
I did, yes. I'll note that the following from a user (goraxan) on Discord worked for me:

**@Doug same here (in Windows). IP changes every time I reboot. So what I do is: nitro stop; nitro start; nitro info (change .env database DSN with the new IP); nitro apply (this changes the hosts file with the new IP)**

Is there any way to prevent the machine from acquiring a new IP on Windows reboot? Not s

[2020-07-01 16:57] jasonmccallister commented on #181
@JeanLucEsser lets try the following, can you perform the following steps?

1. Stop the machine using `nitro stop`
2. Change directories to the one above the affected sites: `cd <dir/above/uc-senat-project>`
3. Force the user and group on the files using `sudo chown -R <username>:<group> <uc-senate>`
4. Run `nitro start`
5. Edit the files in the vm using `nitro ssh`
6. Verify the files permissions

[2020-07-02 08:41] JeanLucEsser commented on #181
@jasonmccallister yes it did resolve the issue.

I did the exact same thing previously without first stopping nitro and it didn't work.
I'll keep you posted if the permissions change again.

Have you been able to reproduce the issue on a fresh install?
1. Start machine
2. Create project directory on local
3. Run `nitro add` from project directory
4. SSH into machine
5. Composer install Craft to pr

[2020-07-02 08:54] jimhaakman commented on #177
@jasonmccallister thank you for your reply. However I'm getting a connection refused when trying to access that host.

For instance (from `nitro ssh`) using ` curl http://192.168.64.1:8000/assets/manifest.json` my response is:

[code]

Result from `ip addr show` is:
[code]

[2020-07-02 17:52] jasonmccallister commented on #177
@jimhaakman can you access port 8000 on your host machine to verify that it is running?

[2020-07-02 17:55] jasonmccallister commented on #176
Ok great! Not sure why the instance failed but glad its working now!

[2020-07-02 17:55] #176 closed

[2020-07-02 17:56] jasonmccallister commented on #181
I was able to reproduce it in an earlier beta when running `nitro refresh`. I can't reproduce it from a new machine on beta-10 that I created yesterday.

[2020-07-02 17:58] jasonmccallister commented on #180
@DouglasKGlover there is a hidden command called `nitro hosts` that will read the IP address of the machine and clean the hosts file. It will not touch the hosts.iscl file though.

This issue is somewhat related to multipass but the real issue is the network manager on windows hypervisors. I worked through this with someone else on windows, I will check if they are still having the issue after dis

[2020-07-03 06:40] jimhaakman commented on #177
@jasonmccallister yes it is running and accessible.

[2020-07-06 20:29] kjvdven opened #182 "After restart craft won't work anymore"
### Description

After my nitro-dev machine is restarted I can't get craft to run anymore. If I go to my assigned host name, I see the message "this site can't be reached".

All nitro commands work, I can see the info. I checked if the ip address of the VM had changed, but that was not the case.
No VPN's running, I checked to be sure.

Tried to rename the site to see what would happen and got the

[2020-07-06 20:57] jasonmccallister commented on #182
@kjvdven can you run `cat ~/.nitro/nitro-dev.yaml` and make sure its valid yaml?

[2020-07-07 06:55] kjvdven commented on #182
This is my nitro-dev.yaml

[code]

[2020-07-07 08:17] jimhaakman commented on #177
I've found a fix for this. Instead of using `localhost` as a host in your webpack config use `0.0.0.0` instead. Now it's working.

[2020-07-07 14:00] jasonmccallister commented on #177
That makes sense, glad you got it sorted out!

[2020-07-07 14:00] #177 closed

[2020-07-07 14:02] jasonmccallister commented on #182
@kjvdven that is strange, but I have seen this issue occur a couple of times. Not sure how to reproduce though.

Does the IP address from the output of `multipass info --all` match up with your IP in your `/etc/hosts`?

[2020-07-07 16:34] Coysh commented on #168
Any update on this? Or are we still waiting for a multipass update?

[2020-07-07 17:34] angrybrad commented on #168
@Coysh you can follow along on the PR here: https://github.com/canonical/multipass/pull/1605

[2020-07-08 06:56] kjvdven commented on #182
@jasonmccallister the IP addresses are the same for both locations, they are both `192.168.64.2`.

To be sure I pinged the domain name from my hosts file and I get quick responses from `192.168.64.2`.
I also did a port scan on the VM and I expected port 80 or 443 to be open, but according the tool they are not. Does that indicate something?

[2020-07-08 19:00] jasonmccallister commented on #182
Not sure if thats related, the domain is not showing any errors? Can you check the following?

1. Does `nitro info` show your mounts?
2. Does `nitro logs` (selecting nginx) show any errors?

[2020-07-09 07:22] kjvdven commented on #182
nitro info shows my mounts
[code]

The log for nginx is empty now. I know I checked it before, and I didn't see any weird errors.

[2020-07-09 12:12] jasonmccallister commented on #182
Can you send me a direct message on Discord? Would like to setup some time to troubleshoot with you if that’s alright?

[2020-07-14 13:06] jasonmccallister commented on #138
@MisterMike and @bencroker I am starting to implement these changes in #57. I have added `nitro php --restart|--stop|--start` already but looking at adding `--set-max-execution-time=120` which will tell the current version (or the one provided with a flag of `--php-version`).  Does this API make sense?

[2020-07-14 20:25] bencroker commented on #138
It feels like it might become cumbersome if you were to add a command for each individual setting. Would allowing `php.ini` settings to be set via a configuration file not being easier and more versatile in the long run?

[2020-07-15 21:30] delixyr commented on #180
@jasonmccallister The issue still persists. Guess the issue is with Windows hyper-v default switch.

[2020-07-16 09:25] aaronbest4 opened #185 "Database Connection Timeout"
### Description

Nitro is running and the server is loading Craft, however Craft is unable to connect to the DB. The credentials are correct in the .env file and I can connect to the DB using MySQL workbench on my host machine.

The following credentials are in the .env file:

[code]

### Craft is throwing:

[code]

### Additional info

- Nitro version:  1.0.0-beta.10
- Multipass version: 1.3.0+wi

[2020-07-16 12:21] jasonmccallister commented on #185
@aaronbest4 when connecting to the database inside of the virtual machine you need to use the `127.0.0.1` address. The `172.17.17.7` is only when you are accessing the database from outside of the virtual machine (e.g. from the host OS using a database GUI).

Can you change the `DB_SERVER` to `127.0.0.1` and try again?

[2020-07-17 02:07] aaronbest4 commented on #185
Changing `DB_SERVER` to `127.0.0.1` has not fixed the problem, however, I think the issue is now different:

I am getting this error if the `DB_SERVER` is any IP:

[code]

Using:

[code]

Changing the `USER `and `PASSWORD `in the `.env` file do not have an effect. Changing `DB_SERVER` to `localhost ` results in `No such file or directory` and a blank string triggers Craft to try and install.

[2020-07-20 15:15] jasonmccallister commented on #185
@aaronbest4 can you provide the content of `nitro context` as well as use `nitro logs` and select the correct database to ensure its running?

[2020-07-21 20:30] jasonmccallister opened #186 "Using 1.1.1.1 causes composer to be really slow inside the virtual machine"
### Description
Using 1.1.1.1 causes composer to be really slow inside the virtual machine

### Steps to reproduce

1. Run `composer install`
2. Remove 1.1.1.1 `/etc/resolv.conf`
3. Run composer install and its faster

### Additional info

- Nitro version: beta-10
- Multipass version: 1.4-dev and 1.3

[2020-07-22 17:32] ryanpcmcquen opened #187 "Failed to open redis DB connection"
### Description

[code]

### Steps to reproduce

I just got finished importing the db and adding my code to Nitro ... I'm sure I'm missing something easy here, but I'm getting this error when visiting the admin.

### Additional info

- Nitro version: 1.0.0-beta.10
- Multipass version: 1.3.0+mac

[2020-07-22 17:40] jasonmccallister commented on #187
@ryanpcmcquen it looks likes its trying to connect to the hostname `craft-redis`. That should be using `127.0.0.1`.

[2020-07-22 17:42] ryanpcmcquen commented on #187
@jasonmccallister, you are 100% correct, that was my config issue. Nothing to see here.

![external-content duckduckgo com](https://user-images.githubusercontent.com/772937/88209739-04c44e00-cc08-11ea-889d-a7fb04c70f9a.gif)

[2020-07-22 17:42] #187 closed

[2020-07-22 18:12] ryanpcmcquen opened #188 "Xdebug config"
### Description

What is the Xdebug config? The IP and the default port of 9000? That port isn't serving for me ...

### Steps to reproduce

1. Enable Xdebug.
2. Try to connect to Xdebug.

[2020-07-22 18:19] ryanpcmcquen commented on #188
I see, it's some random ip that you can locate in the PHP info tab:
```/admin/utilities/php-info```

[2020-07-22 18:19] #188 closed

[2020-07-22 19:57] jasonmccallister commented on #188
@ryanpcmcquen it should be setup by default for you.. were the IP addresses not matching?

[2020-07-22 20:00] ryanpcmcquen commented on #188
That's correct:
`192.168.64.2` from `nitro info` and `192.168.64.1` for Xdebug.

[2020-07-22 20:02] jasonmccallister commented on #188
The .1 should be the correct address, since it's running in a virtual machine. Is xdebug working for you with that IP?

[2020-07-22 20:16] ryanpcmcquen commented on #188
Yes!

[2020-07-22 23:09] jasonmccallister commented on #168
There is a macOS and Linux build [here](https://github.com/canonical/multipass/pull/1654#issuecomment-662477956) that lowers the caching to 3 seconds. This is quite an improvement from my setup and wanted to pass this on for testing before the multipass team makes it official.

If either of you have the time to try this out and provide feedback here it would be helpful! Thank you!

[2020-07-22 23:10] jasonmccallister commented on #185
@aaronbest4 I'm not sure why this is still occurring, can you run `nitro db restart` to restart the database and ensure its working?

If that does not do it I'm happy to hop on a call and work through this!

[2020-07-22 23:11] jasonmccallister commented on #181
@JeanLucEsser is this still an issue for you?

[2020-07-22 23:34] jasonmccallister commented on #186
I updated the `/etc/resolv.conf` to use multiple nameservers and this has improved the composer installation speed:

[code]

I will need to test behind a VPN to ensure the .53 ns does not cause any issues.

[2020-07-23 08:24] JeanLucEsser commented on #181
Unfortunately it is. I didn't follow suit because it looks like you cannot reproduce it from a new machine so maybe it is something with my setup, I'll try to find some time to fully start from scratch to see how it goes.

Something I can tell you is that forcing the user and group on the files almost did the trick. I still get the package.* files reverting to the wrong permission every time I mak

[2020-07-23 08:41] Coysh commented on #168
@jasonmccallister just tried out the latest build and seems to be significant improvement for me. Thanks!

[2020-07-23 09:55] nordentwickler commented on #168
I can confirm, it is faster and working with browsersync and webpack feels snappier.

[2020-07-23 11:31] jasonmccallister commented on #168
Thank you @Coysh and @nordentwickler for the feedback!

[2020-07-23 11:36] yanickrecher opened #189 "Add the ability to execute commands remote over ssh"
It would be helpful to run a bash command with `nitro ssh` command.

as Example:

[code]

...or without a flag (how it is usually working with ssh):
[code]

I would expect to get the result direct in the terminal of the Host System.

thank you

[2020-07-24 17:25] mightyfineyall commented on #175
@jasonmccallister Having the same issue here, adding that to app.php didn't help. Unable to even create a single section within Craft running on Nitro - which makes it unusable.

[2020-07-25 00:06] jasonmccallister commented on #138
@bencroker I agree that it might be cumbersome. I think its best to increase those by default and then expose a new command to change them only if needed.

I have that implemented in a PR that I will wrap up with SSL support and it exposes commands like:

`nitro php iniset max_input_vars <value>`

[2020-07-25 06:14] bencroker commented on #138
That sounds perfect Jason!!

[2020-07-25 19:49] jasonmccallister commented on #175
@jamiewade and @mightyfineyall can either of you create a new ticket with your project configuration files, Craft CMS version, and the content of `nitro context`? That would help me troubleshoot the issue and see if I can identify a cause. Thank you!

[2020-07-25 19:50] jasonmccallister commented on #175
I take that back, I thought I was reading a different ticket. I'm going to reopen but would still like to see those files if possible?

[2020-07-27 15:07] yanickrecher opened #190 "Default behavior when remove db"
### Description
It's maybe not that important, but i just saw that.
When i try to remove a Database which was created with nitro, i will be asked if i really want to remove a specific db.

The Default Value is [no]. If i type "any chars" and hit ENTER the database will removed any way.
I know the prompt didn't require a "yes" but it could be a bit more save. Otherwise the question if i really want

[2020-07-28 11:06] JMKelley opened #191 "Invalid catalog name: 1046 No database selected"
### Description
Having run through the install, conducted `nitro add` and got Craft loading it's install page up. When trying to finish the install I get the dreaded `install failed - check logs` screen. When checking the logs I discovered it's because of the following error `Invalid catalog name: 1046 No database selected`.

Followed the instructions to the letter, no mention of adding the DB nam

[2020-07-28 11:09] JMKelley commented on #191
Fixed by adding `DB_DATABASE="nitro"` should be added to docs.

[2020-07-28 13:59] mattstein commented on #191
Thanks @JMKelley! Updated the readme to mention the default database: https://github.com/craftcms/nitro#connecting-to-the-database

[2020-07-28 13:59] #191 closed

[2020-07-30 11:49] jasonmccallister commented on #190
Thank you for reporting @yanickrecher, I'm going to add this to the list for the next release.

[2020-07-30 14:56] tmulry opened #192 "nitro apply does not change cli php version"
### Description
If I change the version of an existing machine using nitro apply, the version used by the cli does not automatically downgrade.

### Steps to reproduce

1.  Create new machine using php 7.4

2. in `nitro-php.yaml`, change php 7.4 to 7.3
3. run `nitro apply`
4. after install completes, run `multipass exec nitro-php -- php --version`
expected:
version is php 7.3
actual:
version is st

[2020-07-30 20:18] jasonmccallister commented on #192
@tmulry thank you! I'm going to put this on the todo list!

[2020-07-31 12:45] lukeholder opened #193 "Add the ability to drop a database from the CLI"
### Description

Looking for the opposite of `nitro db add`

[2020-08-01 17:57] jasonmccallister commented on #193
@lukeholder part of the work in the `db` command is to read all of the system databases. Are you expecting the same type of interaction?

1. `nitro db drop`
2. prompts for the engine if there are multiple
3. prompts for the database inside of the engine

[2020-08-01 17:59] jasonmccallister commented on #192
@tmulry I made some changes to the apply and plan to test and get this in the next release. Thank you!

[2020-08-02 16:29] jasonmccallister opened #194 "Running init with an existing config installs PHP 7.4"
### Description
When using an existing configuration file, `nitro init` will install PHP 7.4 even if the config file has the version set as "7.3".

### Steps to reproduce

1. Create a machine with PHP 7.3
2. Destroy the machine
3. Change the version to 7.4 in the config
4. Run `nitro init` and see that PHP 7.4 is installed by default

### Additional info

- Nitro version: beta.10
- Multipass versi

[2020-08-03 14:55] jasonmccallister commented on #185
@aaronbest4 this might be related to a caching issue in an earlier version of Craft. Can you clear the cache directory and try again (if this is still an issue)?

[2020-08-07 21:29] #186 closed

[2020-08-07 21:29] #192 closed

[2020-08-08 11:33] sa3dany opened #195 "Windows: PHP Warning – yii\base\ErrorException unlink(...71.lock): Operation not permitted"
### Description

Don't know the actual trigger for this but this time I was saving an entry.
[code]

### My workaround

This issue also happened to me when I was using a custom Vagrant setup. I solved it by making a change in `config/app.php` and setting and environment variable in `.env`.
[code]

[code]

### Steps to reproduce

This happened also after I first loaded up nitro, imported a db and t

[2020-08-09 21:12] jasonmccallister commented on #195
@sa3dany this sounds related to this issue: https://github.com/craftcms/cms/issues/4355#issuecomment-498829513.

Can you try modifying that components configuration and seeing if it resolves the issue?

[2020-08-09 23:13] jasonmccallister commented on #195
@sa3dany I don't know how I missed the entire second half of your issue, but that is the only way we can really detect if the system is using *nix and windows.

Also, there is a `nitro version` command to see the version, we don't have a flag that shows the version but we could consider adding it.

[2020-08-10 10:50] sa3dany commented on #195
@jasonmccallister I've proposed some changes to the readmeto document the fix for this issue in #196.

[2020-08-10 11:27] sa3dany opened #197 "Windows: calling ./craft results in "Permission denied""
### Description
With a clean slate (empty DB & fresh uninstalled Craft), calling ./craft inside the VM results in a permision denied error. Possibly related to mounting options of the craft directory.

### Steps to reproduce

[code]

### Additional info

For reference, when I was using Vagrant I set `fmode=0774` when mounting the shared directory.

- Nitro version: 1.0.0-RC1.1
- Multipass version:

[2020-08-10 12:03] jasonmccallister commented on #195
Merged in the docs, thank you @sa3dany!

[2020-08-10 12:03] #195 closed

[2020-08-10 12:12] sa3dany commented on #197
I just want to add that I can still call craft through php directly as a workaround. So this is not big issue.
[code]

[2020-08-10 12:25] jasonmccallister commented on #197
@sa3dany the mounting system multipass uses under the hood is sshfs, that is strange that you are getting that error. I'm going to look into that issue.

[2020-08-10 12:26] sa3dany commented on #197
I also get an exception when doing a database backup from the utilities section in the control panel:
[code]

I thought about opening a separate issue for this but it looks relating to mounting options for directories created by craft.

[2020-08-10 12:54] jasonmccallister commented on #197
@sa3dany what does your .env contain?

[2020-08-10 12:56] sa3dany commented on #197
[code]
[code]

[2020-08-10 15:56] RyanRoberts opened #198 "Unable to backup the database from Craft or CLI"
### Description

Using Nitro, I can't backup from the Craft Admin or CLI, but `nitro db backup` works. Here's the error log:

[code]

### Steps to reproduce

Try to run a backup from Utilities, or update the CMS and allow it to backup the DB (I have to choose to skip backup).

### Additional info

May be related to #139

- Craft version: 3.5.2
- Nitro version: beta 10
- Multipass version: 1.3.0+ma

[2020-08-10 16:21] jasonmccallister commented on #198
@RyanRoberts can you run `nitro ssh` and `which mysqldump` to verify that it is installed?

[2020-08-10 18:35] RyanRoberts commented on #198
@jasonmccallister I get nothing returned :/

[2020-08-10 19:05] jasonmccallister commented on #198
@RyanRoberts can you run the following in your terminal and attach it to this ticket?

1. `multipass exec nitro-dev -- cloud-init collect-logs`
2. `multipass transfer nitro-dev:/home/ubuntu/cloud-init.tar.gz cloud-init.tar.gz`

That will place the `cloud-init.tar.gz` file in the current directory, this contains logs on creating a new machine and will help troubleshoot if there was an issue during

[2020-08-11 02:35] jasonmccallister commented on #190
@yanickrecher I just tagged our prompt library with the latest version. We were looking for any characters in "yes". The library will now only check return if its "y" or "yes" and not any of the characters.

[2020-08-11 08:56] sidm1983 commented on #197
@jasonmccallister I am having the same issue on Windows 10 Pro. Basically, I can't execute any craft CLI commands within the nitro VM by directly executing the `craft` file (adding `php` to the beginning works e.g. `php craft install/check`). All files seem to be stuck with a permission of 666 and I can't change the permission within the VM as I believe that is locked or set to read-only. I am usi

[2020-08-11 18:14] angrybrad commented on #197
@sa3dany @sidm1983

chmod, chown (almost all permissions related commands) won't actually work inside of a VM where the host is Windows.

You can still see that here:

Where there the executable bit still isn't set.

Yeah, that's the workaround. Going to update the docs shortly to reflect this.

Yeah, essentially the same issue. Resolved it here for the next Craft release by moving where we store

[2020-08-11 18:14] #197 closed

[2020-08-11 19:13] #190 closed

[2020-08-11 19:15] jasonmccallister commented on #127
@devinellis @adamthedorsey we made a lot of changes in the latest release to resolve DNS related issues (by using Google and CloudFlare DNS).

We also just tagged 1.0.0, I'm going to close this out for now but if it become a problem please create a new ticket.

Don't forget to update to the latest multipass (1.4.0) as well.

[2020-08-11 19:15] #127 closed

[2020-08-11 19:15] jasonmccallister commented on #168
This has been resolved with Multipass 1.4.0 and we just tagged 1.0.0! Closing this out!

[2020-08-11 19:15] #168 closed

[2020-08-11 19:51] bencroker opened #199 "Error: nitro version"
### Description

Running `nitro version` results in the version being displayed, followed by `Error: invalid character '<' looking for beginning of value`.

![Screenshot 2020-08-11 at 21 50 24](https://user-images.githubusercontent.com/57572400/89942393-c45f5b00-dc1c-11ea-922b-26d7690e03c8.png)

### Additional info

- Nitro version: 1.0.0
- Multipass version: 1.4.0 on Mac

[2020-08-11 19:54] RyanRoberts commented on #198
@jasonmccallister here we go… https://www.dropbox.com/t/NB0i70KfmowjS4fK

Thanks

[2020-08-11 19:59] jasonmccallister commented on #199
@bencroker thanks! Looks like the IDE refactor got me with this change: https://github.com/craftcms/nitro/commit/b95315f95681865c8babf3ea67fb2982ae9a9ee2#diff-09efe290bb4b1b6f325778bbcc16ac5f.

I'll update this an push a fix soon, I had mix feelings about making a API request when running that command...

[2020-08-11 20:16] jasonmccallister commented on #198
@RyanRoberts ok I see what is happening here. You created this machine on May 9th correct (cloud-init logs start on that date)? There have been a lot of changes to nitro since then. I would recommend taking the following steps:

1. `nitro db backup` to save your databases in `~/.nitro/backups/nitro-dev/<backup.sql>`
2. `nitro destroy --skip-backup` which will delete the virtual machine and not per

[2020-08-12 10:31] RyanRoberts commented on #198
@jasonmccallister OK so after causing myself a headache this morning and borking an update to the site before running your above steps I finally fixed everything and your steps sort out the original problem 👍

Thanks!

[2020-08-12 10:31] #198 closed

[2020-08-12 14:00] #199 closed

[2020-08-12 14:01] jasonmccallister commented on #138
This was released with 1.0.0, closing this ticket out!

[2020-08-12 14:01] #138 closed

[2020-08-12 15:08] jasonmccallister commented on #143
Closing this out as the documentation discusses this here: https://craftcms.com/docs/nitro/usage.html#connecting-to-the-database

[2020-08-12 15:08] #143 closed

[2020-08-12 15:25] jasonmccallister commented on #57
This was added and released with 1.0!

[2020-08-12 15:25] #57 closed

[2020-08-12 15:26] jasonmccallister commented on #142
We are looking at adding HTTPS support in #10, we will use Nginx over Caddy as most people are using Nginx in their real environments.

[2020-08-12 15:26] #142 closed

[2020-08-12 15:30] jasonmccallister commented on #19
Hmmm, I just checked the latest version of nitro and I see webp as a supported format. @mattstein or @jalendport can you confirm?

<img width="1588" alt="Screen Shot 2020-08-12 at 11 29 57 AM" src="https://user-images.githubusercontent.com/5354908/90034949-41c3b380-dc8f-11ea-9d2d-058aa17d3806.png">

[2020-08-12 15:55] mattstein commented on #19
Yep, `WEBP` is listed in ImageMagick’s supported formats and a quick test in a template transformed a lovely `.webp` as expected. Thanks @jasonmccallister!

[2020-08-12 15:56] #19 closed

[2020-08-12 17:21] benface opened #200 "Tweak the default PHP config"
I believe the default values for some of the php.ini options should be changed to match most Craft CMS dev workflows:

- `display_errors` should be set to `On`, which is the recommended value for development as per the comments in `php.ini`.
- `display_startup_errors` should also be set to `On`.
- `max_input_vars` should be set to `2000` or even `5000`, as `1000` is often too low when saving entri

[2020-08-12 17:48] lindseydiloreto commented on #200
These all seem like reasonable defaults IMO, I probably would have asked for much higher limits. 😄

I especially agree with `max_input_vars = 5000`, and the highest possible memory limits.

[2020-08-13 19:42] jasonmccallister commented on #165
So we can achieve this with the following commands:

- Navigate directly to a sites directory - `nitro ssh` when in a directory
`multipass exec nitro-dev -- bash -c 'cd sites/site-name && bash'`

- Run composer update on a project - `nitro composer update` when in a project directory
`multipass exec nitro-dev -- bash -c 'cd sites/site-name && composer update'`

[2020-08-14 00:56] brettgullan commented on #200
+1 for increasing upload defaults.
I tend to use values in the range of 16M-64M to allow for image uploads that can support various transformations. A retina resolution (2x) full-width image for a desktop breakpoint can easily exceed 3200px width. Which makes for some chunky master image sizes.

[2020-08-14 15:49] andrewmenich opened #201 "rpc error when using any of the `nitro php ...` commands"
### Description

Using any of the `nitro php ...` commands, I received the following error:

`Error: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 192.168.64.2:50051: connect: connection refused"`

I've restarted nitro as well as my physical machine without luck. Any help is appreciated!

### Steps to reproduce

1. `nitro php iniget max_inpu

[2020-08-14 15:55] jasonmccallister commented on #201
@andrewmenich I am assuming you upgraded from an earlier version of Nitro? There were some changes with the RC's that introduced a new API that runs on the virtual machine. This API allows us to treat Nitro as more of a CLI and the majority of the logic will be moved to the API going forward.

However, this indicates the API is not running on your machine and these steps will install and setup the

[2020-08-14 17:07] andrewmenich commented on #201
That did the trick! Thanks, Jason. I had indeed upgraded from an earlier version.

[2020-08-14 17:08] #201 closed

[2020-08-15 11:49] alinnert commented on #182
I have a similar issue. The symptoms match the one of @kjvdven. The last entries in the nginx log are as follows:

[code]

After some time (~10 minutes?) I did `nitro stop` and `nitro start` (with maybe one second of waiting in between) and it started working again.

Do both issues have the same cause maybe?

[2020-08-15 13:59] alinnert opened #202 "Hostnames ending with '.localhost' don't work"
### Description

It took me some time to get my site up running using Nitro. It seems like Nitro (or Multipass? Or Hyper-V?) doesn't allow hostnames to end with `.localhost`. At work we're using different virtual machines (for different kind of projects) but hostnames like `my-project.localhost` work just fine there. So, I expected this to be true for Nitro as well. In both cases the host is a Win

[2020-08-16 08:52] alinnert opened #203 "The files in "vendor/bin" point to a path on the host, and therefore cannot be found"
### Description

If I run `composer install` from inside Nitro (through a SSH connection from a Windows host) the files in the folder `vendor/bin` seem to be created in a weird state. They are symlinks but their target is a Windows path. Running `ll` prints the following (I've only replaced the actual project folder with `my-project`):

[code]

But trying to access those files directly fails:

[co

[2020-08-16 11:27] alinnert commented on #203
Small update on this one:

Running `composer install` from the host system works. But updating Craft from the UI still fails, because it still tries to run Composer inside Nitro and causes the problems mentioned above (probably if it tries to update one of the binaries).

[2020-08-18 16:45] simeon-smith opened #204 "Sessions End Up with Odd Behavior after Stop and Start"
### Description

When I've had to restart my physical computer and then restart Nitro their ends up being weird behavior related to this issue in Craft Commerce https://github.com/craftcms/commerce/issues/1634.

After restarting my computer and Nitro the user will remain logged in. However, it causes the cart in Craft Commerce to be recreated any time you try to use it. These carts are assigned to

[2020-08-18 22:38] angrybrad commented on #204
@simeon-smith can you update to the official Nitro 1.0 release and Multipass 1.4.0 and see if you're still able to reproduce with that?

[2020-08-19 02:57] dglovernfa opened #205 "SSH error status 2 using Nitro (suddenly)"
### Description

I was working all week no issue, and all day today, when suddenly it stopped. Receiving the following error:

- ssh connection failed: 'Timeout connecting to nitro-dev.mshome.net'
- Error: exit status 2

That error happens when I try to run Nitro Info, Start, Refresh, etc..

When I run Nitro Stop, it says "Stopped nitro-dev". When I follow that with Nitro Start, it says "The nitro

[2020-08-19 03:10] angrybrad commented on #204
As a follow-up, I tried this on the latest of everything and was with you up until your step 6. The item I added was still there in the cart.

[2020-08-19 13:17] jasonmccallister commented on #205
@dglovernfa ok, I have my suspicions on whats causing this based on the conversation you had with Brad on Discord. There is a strange setting on Windows that has something to do with internet sharing where the IP address in the hosts.ics does not match the IP address on the hypervisor.

Next time this occurs, can you run the following?

1. `multipass info --all` and record the IP address of the `n

[2020-08-19 13:18] jasonmccallister commented on #204
@simeon-smith how is Craft configured to use session? Are you using the redis or default file system?

[2020-08-19 13:54] jasonmccallister commented on #202
@alinnert I did a little bit of research and discovered the TLD `.localhost` resolves back to `127.0.0.1` by default due to an IETF RFC. Since Multipass creates a virtual network and assigned a new IP like `192.168.x.x` and does not use `127.0.0.1`, the `.localhost` TLD will not resolve to the IP address of the Nitro instance.

Found a write up here https://en.wikipedia.org/wiki/.localhost, I'm su

[2020-08-19 13:54] #202 closed

[2020-08-19 14:14] jasonmccallister commented on #203
@alinnert out of curiosity, did you set the file mutex as described in the Windows 10 docs? https://craftcms.com/docs/nitro/usage.html#adding-sites

[2020-08-19 20:44] alinnert commented on #203
I don't know if I did that correctly. I read the one box below and added `IS_WINDOWS=true` to my `.env`. Now that you mention it, I cannot tell if that's a replacement for the entire `mutex` setting or just for the single hardcoded `true` value and I still have to add that block but read the value from my `.env` manually.

[2020-08-20 10:14] byronrode opened #206 "macOS 11 (Big Sur) Issues"
### Description

Unable to run nitro-dev on macOS Big Sur

This is more a multipass issue, but keeping it here for reference purposes.

https://github.com/canonical/multipass/issues/1664 -- There are issues with Multipass on Big Sur, and have installed 1.4.0 but still not able to mount.

### Steps to reproduce

1. `nitro start`

[code]

### Additional info

- Nitro version: `1.0.1`
- Multipass ver

[2020-08-20 15:31] jasonmccallister commented on #206
Thank you for reporting this @byronrode! I have not been brave enough to try the beta (first time I have not) but hopefully it gets resolved before official release.

[2020-08-20 15:42] byronrode commented on #206
Unfortunately, until Oracle release a fix for VirtualBox that works, or Multipass fix the hypervisor issue, this will be unusable. Parallels works on Big Sur, but it is not supported as a virtualization engine with Multipass at the moment. At least there is Homestead as a fallback, but looking forward to using Nitro again hopefully soon.

[2020-08-21 03:48] dglovernfa commented on #205
Thanks for the response @jasonmccallister. I'll keep an eye and report back if this happens again. I have been having more instances of Nitro just up and stopping at (seemingly) random, but so far beyond this reported instance I have been able to get back up and running with what I normally have to do when I boot my PC:

`nitro stop`
`nitro start`
`nitro apply`
`nitro info` (grab the IP and add to

[2020-08-22 15:48] jasonmccallister opened #207 "upload_max_filesize is not being set"
### Description

Referencing this comment (https://github.com/craftcms/nitro/issues/201#issuecomment-678267068) the upload_max_filesize is not being set to the provided value.

### Steps to reproduce

1. `nitro php iniset upload_max_filesize 20M`
2. `nitro php iniget upload_max_filesize`

### Additional info

- Nitro version: 1.0.1
- Multipass version: 1.4

[2020-08-25 19:14] simeon-smith commented on #204
@angrybrad I updated and the issue seems to have disappeared. I'll update you here if it happens again but am closing for now.

@jasonmccallister I'm using the default session setup.

[2020-08-25 19:14] #204 closed

[2020-08-27 10:30] sa3dany commented on #207
It is actually being set (confirmed inside vm) but `nitro php iniget upload_max_filesize` is not reporting updated value for some reason.

[2020-08-27 17:32] angrybrad commented on #193
`nitro db remove` was added in 1.0.0-beta.3

[2020-08-27 17:32] #193 closed

[2020-08-29 09:52] Etsur commented on #203
Having the same issue

[2020-08-29 10:58] alinnert commented on #203
@jasonmccallister I just tried it again (removed and re-added the db, reverted all project files) but with the `isWindows` option set to `true` exactly like in the docs. Sadly, it doesn't resolve the problem. `composer install` only works from the host system, updating Craft fails.

[2020-08-29 18:13] Etsur commented on #203
@alinnert same. I did a complete fresh setup, might abandon Nitro until a better fix comes along.

[2020-08-31 01:01] jasonmccallister commented on #203
@alinnert I'm going to have to spend some time diving into that issue. I don't use Windows too often but I definitely want to get this resolved.

[2020-08-31 15:04] a-am commented on #201
@jasonmccallister I tried the suggestion and still continue to receive `Error: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 192.168.64.3:50051: connect: connection refused"` after trying to update `upload_max_filesize` with `nitro php iniset upload_max_filesize 20M `.

[2020-09-04 20:41] ryanpcmcquen opened #208 "Connection refused on Xdebug."
### Description
[code]

### Steps to reproduce

1. Enable xdebug.

### Additional info

- Nitro version: 1.0.1
- Multipass version: 1.4.0

[2020-09-04 20:48] ryanpcmcquen commented on #208
It's worth noting that Xdebug worked perfectly before, I did just update Nitro, so that may be related? I also updated the packages on my container:
```sudo apt-get update && sudo apt-get dist-upgrade -y```

[2020-09-04 23:19] ryanpcmcquen commented on #208
I noticed that all the ips for the Nitro machines went from `192.168.64.x` to `192.168.65.x` ... not sure if that is related.

[2020-09-08 16:03] jasonmccallister commented on #208
@ryanpcmcquen I am assuming that you are running Windows? The IP address from the hypervisor will change more than it does/should on other OS's. If you configured the XDebug to use the IP, try switching it to the hostname and then updating your hosts files to point to the new IP address.

[2020-09-08 16:47] ryanpcmcquen commented on #208
I am on Mac OS, should I be modifying `/etc/php/7.4/mods-available/xdebug.ini` or something else?

[2020-09-08 17:16] ryanpcmcquen commented on #208
It seems like `nitro xdebug on` completely ignores that file @jasonmccallister. I even tried rebooting and restarting `php7.4-fpm`.

[2020-09-08 21:37] ryanpcmcquen commented on #208
I had to rebuild the entire machine:
[code]

[2020-09-08 21:37] #208 closed

[2020-09-09 11:54] jasonmccallister commented on #208
@ryanpcmcquen if the IP address changed and the hosts file was updated, it should have worked. That is strange that it did not. If this occurs again I would be happy to hop on a call to troubleshoot and see if we can resolve.

[2020-09-09 17:44] ademers commented on #2
Would this allow us to log into the Craft CP without CORS issues? Thanks!

See: https://github.com/craftcms/cms/issues/4085

[2020-09-11 20:43] ryanpcmcquen opened #209 "Unable to delete a user on Craft Nitro instance because of MySQL read timeout"
### Description

I'm attempting to delete a user with 232 entries and the database times out on this. I'm using MySQL and a Nitro instance. Perhaps we can bump the default read timeout to be more than 15 seconds on Nitro?

### Steps to reproduce

1. Have a user with a lot of entries.
2. Delete that user and choose to delete all of their entries.

### Additional info

The failing SQL is:

[code]

-

[2020-09-11 21:20] ryanpcmcquen commented on #209
This is the error message:
[code]

I don't see anything with a value of 15 though.

[2020-09-14 16:23] jasonmccallister commented on #207
@sa3dany I just confirmed this and pushed a bug fix for `iniset`. I found the issue with `iniget` and looking at the best option for resolving that as well.

[2020-09-14 16:37] jasonmccallister commented on #209
@ryanpcmcquen which version of Craft CMS are you running. Do you have any plugins that might be hooking into the user events (that you know of)?

I'm going to try to replicate on my end

[2020-09-14 16:58] sa3dany commented on #203
I've ran into similar issues when running `composer install` inside the VM while working with Vagrant too recently. I haven't migrated to nitro yet since I have some sites using Vagrant and I need Hyper-V off for some VMs.

Anyway I gave up and just changed the `vendor` directory path to somewhere outside the shared folder between the vm and the host. I've chosen `/usr/local/lib/craft`.

- I've ov

[2020-09-14 17:12] ryanpcmcquen commented on #209
Craft CMS 3.4.30, the plugins shouldn't matter since even the direct SQL fails. But I don't have any that I know of that would affect user deletion.

[2020-09-14 17:53] jasonmccallister commented on #209
@ryanpcmcquen alright, I have my environment setup to replicate. Added 5k entries for a single user and will try. I'm on 3.5.8 but like you said it should not matter (missed that point in your description).

[2020-09-15 16:52] ryanpcmcquen commented on #209
@jasonmccallister, any luck?

[2020-09-16 01:19] yoroshikun opened #210 "Unable to mount or read file/folder in system mounted partition file system"
### Description
I have started to partition my disk into different sections so that I can keep my home and developer files separated from each other, however this seems to cause issues with nitro.

I am receiving a does not exist error when attempting to add site that is located in a mounted partition.

This also appears when trying to import a database using x.sql that is located on a mounted par

[2020-09-16 16:18] benface opened #211 "`nitro db import` should work on compressed DB backups"
### Description

Importing a compressed DB backup (`.sql.zip`) as generated by Craft results in an error:
[code]

### Additional info

- Nitro version: 1.0.1
- Multipass version: 1.4.0+mac

[2020-09-16 16:20] benface opened #212 "`nitro db import` fails when the DB name contains a dash (escaping issue?)"
### Description

When entering a DB name with a dash after Nitro asks to "Enter the database name to create for the import" (e.g. `site-dev`), it throws an error:

Importing a compressed DB backup (`.sql.zip`) as generated by Craft results in an error:
[code]

### Additional info

- Nitro version: 1.0.1
- Multipass version: 1.4.0+mac

[2020-09-17 13:11] byronrode commented on #206
@jasonmccallister just an update. The canonical team have been working on a fix, and the test package I used today allows `nitro start` to spin up a machine and `nitro-dev` works. I am still doing a bit of testing and feeding back to the team but it is fair to say that version 1.5.0 should allow Big Sur users to use it, and it will likely be released before the official release :)

[2020-09-17 14:11] byronrode commented on #206
Alright, I started right at the beginning, fresh install of the machine, new setups, etc and all is working great under preview release of 1.5.0, so I will confirm that with Canonical and then hopefully that should be released fairly soon.

[2020-09-17 14:18] byronrode commented on #206
<img width="1170" alt="image" src="https://user-images.githubusercontent.com/382018/93483670-584dd200-f901-11ea-96cc-d910787ba4c9.png">

All looks good using `hyperkit` will close this once the new version is released.

[2020-09-17 18:53] jasonmccallister commented on #206
Thank you @byronrode for taking a proactive look at Big Sur!

[2020-09-21 21:43] jasonmccallister commented on #209
@ryanpcmcquen I am unable to reproduce this. I am running the following Nitro machine:

[code]

I added 5000 entries and deleted a user and transferred to another user and it happened quickly. I was on the latest Craft (3.5.11.1). I'm going to downgrade to 3.4.30. I don't know of any issues related to removing users and updates.

Can you try `nitro db restart` to restart the database container and

[2020-09-22 03:38] jasonmccallister commented on #211
@benface this is a duplicate of #132. Closing out in favor of that ticket.

[2020-09-22 03:38] #211 closed

[2020-09-22 04:10] yoroshikun opened #213 "Nitro unable to edit hosts file (requires elevated privileges)"
### Description
As the title describes, nitro is unable to edit the hosts file on a linux system without the use of elevated privileges.
Nitro attempts to escalate the permissions by asking for sudo, however by escalating to sudo user nitro then attempts to read the nitro configuration from the wrong place (it does not exist in the sudo user, but under the current user) which returns the following

[2020-09-22 04:11] yoroshikun commented on #210
I have done some more research into this and I believe the information I have gathered may be of use to anyone in a similar situation to me.

#### The Issue
The issue stems from the fact that multipass (installed though snap?) does not have access to files outside of the $HOME directories. Which was commented on [Here](https://forum.snapcraft.io/t/after-upgraded-multipass-to-1-3-0-snapcraft-cannot

[2020-09-24 12:32] jasonmccallister commented on #210
@yoroshikun first of amazing work and research, I just finished reading the articles. That is one downside to the multipass installation over snap and that had not occurred to  me until I read your research.

On my Ubuntu machine, I have an multiple SSDs mounted, but they end up under `/home/jasonmccallister/dev` so I was not seeing the issue. I also did not have multipass installed through snap a

[2020-09-24 12:40] jasonmccallister commented on #213
@yoroshikun I can reproduce this problem on my setup as well.

When you run `nitro apply`, it will try to edit the hosts file again. The command to modify hosts is hidden but it is `nitro hosts`. We had to make some changes for that command on Windows machines and apparently it broke linux host editing.

I'm going to see if there is a quick fix in the mean time. However, to ignore editing the host

[2020-09-24 13:53] jasonmccallister commented on #213
I just pushed this https://github.com/craftcms/nitro/commit/e4c4581d3ea68cc31484fadea85977db5b23d53e to `develop` and that should resolve the issue. I'm going to wrap up some features for the next release and then test it on a linux machine to verify.

[2020-09-24 14:06] a-am opened #214 "Failed to open redis DB connection"
### Description
I keep running into error.  I have the `yiisoft/yii2-redis` package installed.

#### Error Output
[code]
#### App.php config file.
[code]

#### Environment Vars for Redis
[code]

When I do try to access `nitro redis` I get this output in the terminal `bash: redis-cli: command not found`.  Is it possible redis never installed?

### Steps to reproduce

1. Accessing site via `http://s

[2020-09-24 14:22] jasonmccallister commented on #214
@a-am that is strange it did not install. Can you run `nitro ssh` and run `sudo apt install redis`. That should resolve it for you.

Did you by chance install nitro from a beta version?

[2020-09-24 15:23] a-am commented on #214
@jasonmccallister Installing Redis worked, thank you.
I did install Nitro from the beta version.

[2020-09-24 15:23] #214 closed

[2020-09-25 01:01] Kravimir opened #215 "Init command results in "Error: exit status 2""
### Description

When I tried setting up a VM directly in Multipass (on Win10), I had problems with using Ubuntu 20.0.4, but Ubuntu 18.0.4 seems to work. Is there any way to force Nitro to use a different Ubuntu image?

### Additional info

- Nitro version: 1.0.1
- Multipass version: 1.4.0

[2020-09-25 17:10] jasonmccallister commented on #215
@Kravimir thank you for reporting this issue. There is no way to specify the version of ubuntu, I am going to look at the issue and try to create on my end.

In the mean time, can you [grab the multipass logs](https://multipass.run/docs/accessing-logs) for the `nitro-dev` machine and email them to support@craftcms.com? I would normally ask you to post here but I'm not confident in the content of t

[2020-09-26 00:40] Kravimir commented on #215
It's strange. I get a different error when I use HyperV instead of VirtualBox:

I've emailed the event logs for both.

[2020-09-29 02:35] agthetpaing opened #216 "Error in adding nitro to project"
### Description

I have tried to install nitro machine and add it to my project but I got errors when I do that.
First time when I tried to add nitro to my project, it says it timed out as shown below.

![image](https://user-images.githubusercontent.com/66248799/94505888-73003f00-024f-11eb-9f55-4e122a74818b.png)

Then after, I rerun `nitro add` again and it exited with error status 127 as shown be

[2020-09-29 15:06] jasonmccallister commented on #216
@agthetpaing if you are getting an error during the `init` process, nothing else will work as expected. It also looks like you are running multipass version 1.5.0 which is not officially released yet.

Can you run `multipass info --all` and verify there is a `nitro-dev` machine?

[2020-09-30 00:39] agthetpaing commented on #216
@jasonmccallister I had the same error as [https://github.com/canonical/multipass/issues/1746](url) which suggested to download build.

Yes, there is indeed a `nitro-dev` machine

![image](https://user-images.githubusercontent.com/66248799/94630472-398c0a00-0309-11eb-82d2-280ac2d5b650.png)

[2020-09-30 12:40] jasonmccallister commented on #216
@agthetpaing that means the init process did not complete. I have not tested Nitro on the 1.5.0 version of Multipass. Also if you are using Virtualbox, that has not been tested either, so I am not sure if Nitro will work completely as expected with that setup.

Also, can you attach the contents of `/var/log/cloud-init-output.log` and `/var/log/cloud-init.log` from the nitro-dev machine?

Here are

[2020-10-05 06:48] mmorkt commented on #207
@jasonmccallister is there any solution or workaround for this? Got the same problem with max_input_vars.

[code]

PHP-info shows that max_input_vars = 1000
Running the latest Multipass 1.4, Nitro 1.0.1 and updated the machine

[2020-10-05 12:57] harryfk commented on #207
Same issue here, also on the latest versions, upgraded from one of the early betas.

[2020-10-05 13:22] jasonmccallister commented on #132
Just cleaned this up a bit for the next release.

[2020-10-05 13:44] jasonmccallister commented on #212
@benface this is definitely caused by an escaping issue. I'm preparing a release that moves the database import into the gRPC API that makes the import faster and should resolve this issue. We are also going to add a "slug" feature to `db add` to help prevent this. Bottom line, more of these features are going to be moved to the API going forward.

[2020-10-05 13:58] jasonmccallister commented on #101
I'm preparing the next release that will ship with a new `nitro create` command to scaffold out a new Craft installation without PHP or Composer.

[2020-10-05 14:02] harryfk commented on #207
@mmorkt @jasonmccallister Any idea how I would set a PHP variable manually? I tried editing the `php.ini` inside the VM directly, restarted everything, but no dice (in `/etc/php/7.4/cli/php.ini`).

[2020-10-05 14:08] jasonmccallister commented on #207
@mmorkt I'm preparing a release with a lot of changes around `php iniget` and `php iniset` that will resolve these issues. I think the release will go out tomorrow when I am done giving it the once over.

[2020-10-05 16:23] khalwat commented on #101
@jasonmccallister Can that be used with custom scaffolding someone might have in their own git repo?

[2020-10-05 17:18] ademers commented on #101
I have the same question as per https://github.com/craftcms/nitro/issues/101#issuecomment-624796386

[2020-10-06 17:15] #132 closed

[2020-10-06 17:15] #207 closed

[2020-10-06 17:15] #212 closed

[2020-10-06 17:16] jasonmccallister commented on #213
@yoroshikun I just tagged 1.1.0 which should resolve this for you. I will be testing on my ubuntu machine asap.

[2020-10-06 17:18] jasonmccallister commented on #200
We just released 1.1.0 that adds `display_errors` to `iniset` and also enables `display_errors` on start up. I think we only need to add `display_startup_errors` to resolve this ticket, which we can do post 1.1.0,

[2020-10-06 17:19] #194 closed

[2020-10-06 17:20] jasonmccallister commented on #172
1.1.0 introduced `php iniset display_errors` and `init` will now enable displaying errors during machine creation.

[2020-10-06 17:20] #172 closed

[2020-10-06 17:24] jasonmccallister commented on #101
@khalwat and @ademers technically it does not, but it will make adding this feature by appending an argument in a future release. The main goal of `nitro create` was to get people without PHP or Composer up and running ASAP.

I imagine pointing to a Git repo would be similar, except using `git clone` versus downloading a `.zip` file (e.g. `nitro create https://github.com/jasonmccallister/craft-boi

[2020-10-07 11:29] alexisRippstein commented on #216
I get the error very similar:
When I want to add a **new** project I get the same error code back and the following message:

[code]
When I use `nitro apply` I get the same error back again.

I install nginx on my Mac (Catalina) with homebrew

### Additional info
Nitro version: 1.0.1 and 1.1.0 (try it with both)
Multipass version: 1.4.0

[2020-10-08 13:44] sidneywidmer opened #218 "Allow custom DB"
### Description
Currently Nitro is hardcoded in the SetupController and it is not possible to use a DB outside of the VM. Also the VM somehow seems to ignore the DB specific ENV Vars defined in .env. Our team shares a DB which is on a server in our network so it would be nice if we still would be able to ignore the whole `isNitro` stuff or somehow overwrite it?

I also understand that nitro is hig

[2020-10-08 20:59] jasonmccallister commented on #218
@sidneywidmer when you run `nitro ssh` can you connect to the database using the CLI client (e.g `mysql`)?

[2020-10-10 14:26] jasonmccallister commented on #216
@alexisRippstein can you attach the contents of `/var/log/cloud-init-output.log` and `/var/log/cloud-init.log` from the `nitro-dev` machine?

Here are some steps to get those files from the machine to your host:

`multipass transfer nitro-dev:/var/log/cloud-init-output.log cloud-init-output.log`
`multipass transfer nitro-dev:/var/log/cloud-init.log cloud-init.log`

[2020-10-10 22:12] alexisRippstein commented on #216
[cloud-init-output.log](https://github.com/craftcms/nitro/files/5360332/cloud-init-output.log)
[cloud-init.log](https://github.com/craftcms/nitro/files/5360333/cloud-init.log)

[2020-10-13 09:07] sidneywidmer commented on #218
@jasonmccallister Yes i can connect from the nitro machine to the "external" DB. I think my issues is related to #119

I also found out, that nitro respects my `DB_DSN` but overwrites `DB_USER` and `DB_PASSWORD` with the value `nitro`. So as a workaround i could create a user `nitro` on my external DB and now I can connext and everything works. But using my own credentials via the .env file is cur

[2020-10-15 04:03] yoroshikun commented on #213
@jasonmccallister What was the expected workflow? I have upgraded nitro to 1.1.0 and tried adding a new site however have encountered the same error

[code]

[code]
[code]
Some system info if it helps
![image](https://user-images.githubusercontent.com/1892447/96075813-663c4600-0ef3-11eb-99ce-4d91a958a7b9.png)

[2020-10-15 05:10] yoroshikun opened #219 "Nitro 1.1.0 - Linux silently fails importing db"
### Description
In the latest version 1.1.0 attempting to import a db silently fails.

### Steps to reproduce

1. Install nitro 1.1.0
2. run `nitro import db ./db.sql`
3. output looks like below, exits early with no error
[code]

4. nitro version 1.0.1 works with the following output
[code]

### Additional info

- Nitro version: 1.1.0
- Multipass version: 1.4.0
- Linux version:
![image](https://us

[2020-10-15 21:10] jasonmccallister commented on #219
@yoroshikun can you run the following commands in a separate terminal and then try the import command again?

- `nitro ssh`
- `journalctl -u nitrod -f`

Then on the host machine, run `nitro db import db.sql` and add the logs to this ticket. That should give me enough start troubleshooting.

[2020-10-15 21:16] clarknelson commented on #16
Have you thought of showing the directories added to the machine? Similar to 'valet list' where you can see all of the domains available.

[2020-10-15 21:18] jasonmccallister commented on #16
@clarknelson we have the `nitro context` command that will display your entire config file. We have discussed adding databases and domains => folders in the `nitro info` command. Definitely on the plate though but we don't have a current FR/issue for that yet.

[2020-10-15 23:09] jasondibenedetto commented on #219
Getting this same error on mac catalina 10.15.6.

Tried running the commands you posted @jasonmccallister but not seeing any logs outputted.

[2020-10-15 23:12] jasonmccallister commented on #219
Alright, I think I know what's going on. Can you run `nitro refresh` and `nitro restart` and try the import again?

[2020-10-15 23:21] jasondibenedetto commented on #219
It looks like that has resolved the issue – thanks @jasonmccallister

[2020-10-15 23:35] jasonmccallister commented on #219
@jasondibenedetto sorry about that! Right now the CLI and API are detached. When you update the Nitro CLI it does not automatically update the API on the virtual machine.

There are several ways to perform this, but I am looking into this [Go package](https://github.com/minio/selfupdate) to make upgrades automatic on the API. It did not make it into this release but I will work on prioritizing tha

[2020-10-18 22:43] yoroshikun commented on #219
@jasonmccallister Running the following commands worked like a charm and imports now work as intended.
[code]

Thing to note when running `nitro self-update` in non sudo mode (unconfirmed with sudo mode) the installer creates artifacts ([unintentional?] `temp_nitro_extract` and [intentional] `nitro` bin to copy as per instructions) temp is not removed before bailout I am guessing.

[2020-10-20 00:59] jasonmccallister commented on #219
@yoroshikun those are intentional. I plan, soon hopefully, to make these official packages (snap, flatpak, and brew) at some point. I'm not sure which Mint supports (snap or flatpak) but that will hopefully help with updating the CLI.

I'm going to close this out as it resolved the issue! I will be looking at hosts file on linux soon.

[2020-10-20 00:59] #219 closed

[2020-10-23 07:42] jeromecoupe opened #220 "Unable to turn Xdebug on or off"
### Description

When I am trying to turn Xdebug on or off I get the following message

### Steps to reproduce

1. `nitro start`
2. Type `nitro xdebug off` or `nitro xdebug on`

### Additional info

- Nitro version: nitro 1.1.0
- Multipass version: multipass  1.4.0+mac // multipassd 1.4.0+mac

[2020-10-23 14:26] jasonmccallister commented on #220
@jeromecoupe can you try the following?

nitro refresh
nitro restart

And see if the command will complete successfully?

[2020-10-23 14:59] jeromecoupe commented on #220
Works like a charm, thank you.
Closing this

Downloading the latest refresh script.
Running...
installing nitrod and nitrod.service
Created symlink /etc/systemd/system/multi-user.target.wants/nitrod.service → /etc/systemd/system/nitrod.service.
Refreshed the templates and configs for the machine to 1.1.0
jeromecoupe@jeromes-MacBook-Pro iad_craft % nitro xdebug on
Enabled xdebug for PHP 7.4
jeromec

[2020-10-23 14:59] #220 closed

[2020-10-26 02:26] lukeholder commented on #206
Will need to wait till multipass 1.5 it looks like: https://github.com/canonical/multipass/issues/1664#issuecomment-703587672

[2020-10-27 14:38] johndwells commented on #10
@jasonmccallister Is there any progress on this ticket? It's the one missing thing I'd love to see Nitro support! :)

[2020-10-30 13:04] kevinmu17 commented on #206
I'm running High Sierra, but getting the same error:

[code]

[2020-11-02 20:08] AugustMiller commented on #2
I was recently testing some Stripe webhooks, and realized there was one additional bit required for basic Ngrok use:

[code]

(The `-host-header` param was required so Nitro knew which virtual host to send traffic to!)

[2020-11-05 17:59] jasonmccallister commented on #10
@johndwells I am still looking into support for certificates. There are a few issues with generating certificates locally, mostly due to the Windows VM's changing IPs often.

**Transition to Caddy Server**

We are highly considering moving from NGINX to Caddy for a few reasons:

1. Caddy has an API so we can get more advanced features out of configuring sites (e.g. additional domains per site)
2.

[2020-11-05 21:07] johndwells commented on #10
Thanks @jasonmccallister for a look behind the curtain on this ticket! It's all beyond my area of expertise so I sadly cannot offer any help. :(. Anyway I appreciate knowing this ticket isn't forgotten. 👍

[2020-11-06 20:54] brandonkelly opened #221 "Nitro should edit the machine’s hosts file too"
Currently it’s not possible to send HTTP requests to Nitro sites, from within the Nitro machine.

### Steps to reproduce:

1. Create a site with a `craft.test` host name, and put a `test.txt` file within it
2. Run `nitro ssh`
3. Within Nitro, run `curl http://craft.test/test.txt`

### Expected result:

The contents of the text file would be output

### Actual result

You get the following error:

[2020-11-06 21:07] brandonkelly commented on #221
Whoops, dupe of #150.

[2020-11-06 21:07] #221 closed

[2020-11-11 10:40] jamiematrix commented on #216
I'm also getting the error
[code]

I also had several errors when installing Nitro:
[code]

nitro-dev is running.

Log files are attached.
[cloud-init-output.log](https://github.com/craftcms/nitro/files/5523478/cloud-init-output.log)
[cloud-init.log](https://github.com/craftcms/nitro/files/5523480/cloud-init.log)

[2020-11-12 19:01] J-Protz opened #222 "Cant set PHP max_input_vars"
### Description
Trying to increase input_vars for php so I can add a new module but it is not working.

### Steps to reproduce

1.   nitro php iniset max_input_vars 2000:
`Successfully changed the ini setting for max_input_vars to 2000`
2.  nitro php iniget max_input_vars :
`The setting "max_input_vars" is currently set to 1000`

### Additional info

- Nitro version:1.1.1
- Multipass version:
[cod

[2020-11-12 23:58] angrybrad commented on #222
Not able to reproduce this on Nitro 1.1.1 and Multipass 1.5.0.

[code]

Try updating to Multipass 1.5.0?

[2020-11-13 09:07] pom-pom commented on #206
Just to confirm: I updated to Big Sur, updated Multipass to 1.5 and Nitro is running without any issues 👍
I think this issue can be safely closed.

[2020-11-13 20:38] angrybrad commented on #206
Yup, looking good here. Going to close this one out.

[2020-11-13 20:38] #206 closed

[2020-11-16 19:27] brandonkelly opened #223 "Error running `db import` with a SQL file outside of working directory"
### Description

When running `nitro db import`, an error is output if the given path is anything but a file in the current working directory:

[code]

[code]

### Additional info

- Nitro version: 1.1.1
- Multipass version: 1.5.0

[2020-11-16 20:02] jasonmccallister commented on #223
I have identified this issue and need to use [`filepath#Clean`](https://pkg.go.dev/path/filepath#Clean) on the argument to get the corrected path.

Will get this pushed up soon.

[2020-11-17 09:08] designkarma opened #224 "Initialisation fails to determine IP address"
### Description

First time trying Nitro but can't get past initialisation...

[code]

### Steps to reproduce

Just following the installation steps outlined [here](https://craftcms.com/docs/nitro/installation.html#installing-nitro), and following the prompts to create my first machine.

### Additional info

- Nitro version: 1.1.1
- Multipass version: 1.5.0

[2020-11-17 14:35] remcoov commented on #200
Yeah, +1, the `upload_max_filesize` is extremely low.

[2020-11-18 10:44] toddpadwick opened #225 "Cannot seem to change post_max_size using php iniset"
### Description
I have set all other known defaults such as `max_execution_time`, `max_file_uploads`, `max_input_time`, `max_input_vars`, `memory_limit`, `upload_max_filesize` successfully. However it doesn't seem to be possible to run `nitro PHP iniset post_max_size`. doing so simply returns the available commands prompt.

I can however, confirm that running `nitro PHP iniget post_max_size` works

[2020-11-18 14:01] jasonmccallister commented on #225
@toddpadwick can you provide the contents of your `php.ini` file?

`cat /etc/php/7.4/fpm/php.ini | grep upload_max_filesize`

[2020-11-18 14:08] jasonmccallister commented on #224
@designkarma are you running a proxy or VPN on your host machine?

[2020-11-21 12:04] umkasanki commented on #177
Does anyone have a working configuration for the Windows machine?
Thanks

[2020-11-23 10:51] toddpadwick commented on #225
Hi @jasonmccallister. I don't think there is a PHP.ini file for mac PHP according to this thread.... https://stackoverflow.com/questions/40515949/where-are-ini-files-on-macosx-sierra/46383843

There is no directory `/etc/php` on my machine.

if i run `PHP -v` i get the following:
[code]

[2020-11-24 14:52] lukeholder opened #227 "When importing a Postgres DB dump/backup, no database is created and no error is raised"
Commands I am running:

[code]

As you can see above, no error message is output but it did not work with either a zip or sql. After running each command the DBs list remain the same:

<img width="346" alt="image" src="https://user-images.githubusercontent.com/133571/100109811-30519080-2ea7-11eb-9f6e-aa5fca833ab7.png">

Will DM you the files I tried to import.

[2020-11-24 23:33] jasonmccallister commented on #225
@toddpadwick apologies for not being clear. Can you perform the following steps?

1. `nitro ssh`
2. `cat /etc/php/7.4/fpm/php.ini | grep upload_max_filesize`

Then paste the output here?

[2020-11-24 23:37] jasonmccallister commented on #225
@toddpadwick I think I just found the problem, what version of PHP are you using?

[2020-11-25 00:36] jasonmccallister commented on #227
@lukeholder can you run the following in one terminal?

1. `nitro ssh`
2. `sudo journalctl -u nitrod.service -f`

In another terminal run the `nitro db import` and paste the output in the ticket?

[2020-11-25 01:01] lukeholder commented on #227
output of step 2 was:

[code]
even after running the import command in a separate terminal.

[2020-11-25 01:41] jasonmccallister commented on #227
The `nitrod` api was out of sync, running `nitro refresh` and `nitro restart` resolved the issue.

[2020-11-25 08:44] toddpadwick commented on #225
@jasonmccallister its the version Mac OS Catalina ships with which is `PHP 7.3.9`. Do i need to update this globally then?

[2020-12-03 22:58] ajanec01 commented on #213
Just a side note, if nitro is set to edit the hosts file it removes the IPs and hostnames entered manually when you apply any changes, e.g. removing one site removes all nitro sites from the host file.

[2020-12-04 17:24] jasonmccallister commented on #227
Closing this out

[2020-12-04 17:24] #227 closed

[2020-12-04 17:25] jasonmccallister commented on #225
@toddpadwick What version of PHP are you using in your `nitro.yaml` and nitro virtual machine (e.g. using `nitro ssh`)?

[2020-12-08 21:58] CharlieGentle commented on #177
@jimhaakman Any chance you can post your webpack dev server and twigpack settings? I'm struggling with the same issue. Thanks.

[2020-12-09 16:09] ohtishkin commented on #177
sure
[craft.zip](https://github.com/craftcms/nitro/files/5667153/craft.zip)

[2020-12-09 17:05] ohtishkin commented on #177
Sure
[craft.zip](https://github.com/craftcms/nitro/files/5667478/craft.zip)

[2020-12-10 00:48] RedLucas commented on #194
hey, I don't know why but I'm actually still getting this issue. I am up to date on 1.1.1. It was not finding the 7.3 service and defaulting to 7.4 when I already had global config. I deleted the global config and tried it from scratch and it worked. I was wondering what the resolution of this was, or if it was just closed because nobody else reported it.

[2020-12-14 19:04] jasonmccallister commented on #213
The next update will resolve this issue with editing the hosts file and will introduce a custom "block" for Nitro to read from which also will ensure we only _touch_ what Nitro knows about.

Here is the hosts file from my machine with the changes:

[code]

[2020-12-14 19:05] jasonmccallister commented on #180
@delixyr this is a Windows related issue and the next release will resolve this.

[2020-12-14 19:06] jasonmccallister commented on #167
This will be released with the next version. We also added a `nitro queue` command that is _context aware_ to help running queues locally.

[2020-12-14 19:08] jasonmccallister commented on #165
Closing this out in favor of #167.

[2020-12-14 19:08] #165 closed

[2020-12-17 16:06] solidevolution commented on #216
Getting this error too after fresh multipass & nitro install with brew

[2020-12-21 23:53] daltonrooney commented on #222
I'm using Nitro 1.1.1 and Multipass 1.5.0.

[code]

When I ssh into the nitro machine and check the php.ini file, the line looks like this:

`;max_input_vars = 5000 = 1000`

[2020-12-27 08:53] warpkid commented on #216
Getting the same error as you jamiematrix on Ubuntu 20.10.

Running the steup shell script completes with the error regarding moving nitro. However, trying to init, or add a site using nitro results in the following error:
`ls: cannot access '/etc/nginx/sites-enabled': No such file or directory`

The nitro-dev machine is up and running.

[2020-12-28 05:21] jasonmccallister commented on #216
Can you try running the `nitro refresh` command followed by `nitro restart` and see if that resolves the issue?

[2021-01-05 18:33] a-am commented on #198
@jasonmccallister I ran the steps above however `mysqldump` is still not installed.
I followed the steps to create the logs: https://www.dropbox.com/s/bo4lmyehzkr3d58/cloud-init.tar.gz?dl=0

Multipass Version 1.5.0
Nitro 1.1.1

[2021-01-06 01:56] jasonmccallister commented on #198
@a-am might be easier to install the tools manually. Try this:

1. `nitro ssh`
2. `sudo apt install -y mysql-client`

That should make the tools available in the virtual machine.

[2021-01-07 19:51] TonyDeStefano opened #228 "Package 'php-****' has no installation candidate"
### Description

When trying to initiate a new site, we keep running into these errors:

[code]

### Steps to reproduce

1. nitro add
2. see errors

### Additional info

- Nitro version: 1.1.1
- Multipass version: 1.5.0
- OS: OSX Big Sur

[2021-01-13 22:14] TonyDeStefano commented on #228
Is anyone else having this issue? We are still unable to get Nitro up and running because of this error.

[2021-01-17 16:03] MattWilcox opened #229 "Suddenly unable to start Nitro"
### Description

While working on a project things suddenly began timing out. So i tried to restart Nitro. It failed.
So I rebooted OSX, and tried `nitro start` ... same error.

[code]

As far as I know, nothing at all has changed, updated, or installed between it working and it not. Nitro had been working just fine for a couple of weeks, and I did not add or edit any Nitro settings in this time.

[2021-01-18 01:27] jasonmccallister commented on #229
@MattWilcox can you try the following?

1. `multipass stop nitro-dev`
2. `multipass restart nitro-dev`
3. `multipass exec nitro-dev`

The end goal should be an SSH connection into the nitro-dev machine as the `ubuntu` user...

[2021-01-18 08:35] MattWilcox commented on #229
Thanks @jasonmccallister  ... didn't work...
[code]

[2021-01-18 09:10] MattWilcox commented on #229
Here are the log-lines for today in the /Library/Logs/Multipass/multipassd.log

[code]

[2021-01-18 09:46] MattWilcox commented on #229
I shut down the whole machine, rebooted, then used the system trasy utility to try starting nitro-dev again. This is the output in the log file...

[code]

[2021-01-18 10:03] MattWilcox commented on #229
I would uninstall and re-install, but I have a feeling that'll destroy the databases too... which would be bad.

[2021-01-18 20:06] jasonmccallister commented on #229
I would not recommend uninstalling as you would lose the databases... This might be worth posting as a Multipass issue here: https://github.com/canonical/multipass as they might be able to give you a quick resolution.

[2021-01-20 09:08] MattWilcox opened #230 "No irq handler for vector"
### Description

ssh into the nitro VM and ran `composer update`. Terminal beep a few times while it was processing and a "message from kernel" I have never seen before anywhere. Unsure if this is an actual problem, but it sure is odd and seemed to stop the  progress of `Downloading aws/aws-sdk-php`

[code]

### Steps to reproduce

1. `nitro ssh`
2. `cd sites/PROJECT/craft && composer update`

###

[2021-01-20 11:43] jasonmccallister commented on #230
@MattWilcox thanks for reporting this, we have been tracking this on the Multipass repository here https://github.com/canonical/multipass/issues/1778.

It appears they have found the issue in the kernel https://github.com/canonical/multipass/issues/1778#issuecomment-759751224 and have an experimental build https://github.com/canonical/multipass/issues/1778#issuecomment-760884896

[2021-01-20 11:43] #230 closed

[2021-01-20 13:18] MattWilcox commented on #229
Just an update for anyone else stumbling on this thread... It's possible there is a bug of some sort being triggered by OSX suspending while a multipass instance is running...

I have taken the precaution of disabling Sleep on my Mac, and will be making sure to `nitro stop` before suspending / turning off my Mac.

https://github.com/canonical/multipass/issues/1924

[2021-01-27 13:46] MaartenVenema commented on #150
The workaround supplied by @simeon-smith does not seem to work for me. I'm running the **feed me** plugin and I'm trying to get a feed from a local url and running into a curl error:  `Unable to reach //li.test/import/?key=getin. Message: cURL error 6: Could not resolve host: li.test (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for http://li.test/import/?key=getin` I guess this has to

[2021-01-27 16:10] jasonmccallister commented on #150
Just an update, this has been resolved for v2 plus a lot of other fixes and additions. Only a handful of issues to resolve internally before its made public.

[2021-01-27 16:25] MaartenVenema commented on #150
Thanks for the update @jasonmccallister. Good luck with the final stretch!

[2021-01-28 12:51] mklaman commented on #229
@MattWilcox Having the same issue. From #1924, it appears there is no actual resolution though?

[2021-01-28 20:44] MattWilcox commented on #229
No resolution I'm aware of. I've just taken to disabling putting HDD to sleep in Energy Saver and making sure to manually 'nitro stop' before manually entering sleep.

[2021-01-28 23:05] angrybrad commented on #229
@mklaman @MattWilcox Should have a release of Nitro v2 out "real soon" where this won't be an issue as it's moved to Docker instead of Mulitpass for the underlying tech.

[2021-01-29 02:11] RitterKnightCreative commented on #229
Yeh this happens to me periodically as well. After trying a few things, the only thing that works is to reboot Multipass:

Stop it:
``sudo launchctl unload /Library/LaunchDaemons/com.canonical.multipassd.plist``

Start it:
``sudo launchctl load /Library/LaunchDaemons/com.canonical.multipassd.plist``

Then get nitro going again:
``nitro start``

[2021-01-29 08:00] MattWilcox commented on #229
Cheers. I'll try that if it happens again, but a full machine reboot of the host OS didn't bring it back last time, and the original VM remained dead - so I'm not hopeful. I think something got borked on the disk image.

[2021-01-29 17:44] RitterKnightCreative commented on #229
@MattWilcox IIRC I had a similar issue but I forget exactly how I solved it.  I'm pretty sure it had something to do with when I upgraded Multipass and it created another ``primary`` instance.

You can can see what VMs multipass has with:

``multipass ls``

``nitro-dev`` should be one of them.

The actual data would be stored here:
``/var/root/Library/Application Support/multipassd/vault/instances

[2021-02-03 21:51] TonyDeStefano commented on #228
We were able to get this to work by disabling several things locally: proxy, snort, pfBlocker and DNSResolver.

[2021-02-03 21:51] #228 closed

[2021-02-03 22:38] angrybrad commented on #228
@TonyDeStefano might be worth checking out https://twitter.com/CraftCMS/status/1357054202766266368

[2021-02-03 22:55] angrybrad opened #231 "Escape spaces in file names and paths in import"
### Description

We should escape spaces in file names and paths on `nitro import`

[code]

- Nitro version: 2.0.0-beta.1

[2021-02-03 23:32] jasonmccallister commented on #229
Multipass caused a lot of issues on v1. so we moved everything to Docker in v2. https://twitter.com/CraftCMS/status/1357054202766266368