[2021-02-03 23:35] jasonmccallister commented on #71
With v2, Nitro is now available via brew!

https://craftcms.com/docs/nitro/2.x/installation.html#macos-via-brew

[2021-02-03 23:35] #71 closed

[2021-02-03 23:37] #22 closed

[2021-02-03 23:37] #111 closed

[2021-02-04 15:35] michaelroper opened #232 ".env file is overwritten on nitro add"
### Description
When I tried to add an existing site using `nitro add`, it completely overwrote my existing `.env` file with only the updated DB details.

### Steps to reproduce

1. Have an existing site with a customised .env file
2. Use the `nitro add` command to add the site to the environment
3. Notice that the customised .env file has been overwritten with the base database key/values

### Ad

[2021-02-04 16:52] Jan10 opened #233 "[2 beta 1] Error response from daemon: Ports are not available"
### Description

I follow the [upgrading from Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html#back-up-databases-and-uninstall-nitro-1) guide. But after i run `nitro add` i get the following error:

[code]

When I setup nitro with `nitro init` I get the following error:

[code]

### Additional info

- Nitro CLI: 	 2.0.0-beta.1
- Nitro gRPC:
- Docker API: 	 1.41 (1.12 min)
- Docker CLI:

[2021-02-04 19:51] jasonmccallister commented on #232
This will be resolved with the next beta release. Thank you and sorry for the inconvenience!

[2021-02-04 20:10] dlindberg opened #234 "2.0.0-beta.1 mysql issue with M1 Macs"
### Description

There is a [know issue with Docker Apple M1 Tech Preview](https://docs.docker.com/docker-for-mac/apple-m1/#known-issues) that unfortunately mysql images don't work. This will cause Nitro setup to fail `Error: unable to create the container, Error response from daemon: No such image: mysql:8.0`.

The release notes suggest using mariadb instead which I'm not seeing a straightforward

[2021-02-04 20:17] jasonmccallister commented on #234
@dlindberg thank you for pointing that out, I suppose we could check if the runtime is on the M1 and prompt for mariadb instead. We just pushed some changes to our upstream docker images (https://github.com/craftcms/docker) to build ARM versions and the next beta of Nitro should have better support for the M1.

[2021-02-04 20:46] jasonmccallister commented on #234
@dlindberg 2.0.0-beta.2 is out and includes an Arm variant of the `craftcms/nitro-proxy` image to better support the M1.

After upgrading, try `nitro update` to get the latest images from docker hub.

https://github.com/craftcms/nitro/blob/main/CHANGELOG-V2.md#200-beta2---2021-02-04

[2021-02-04 20:48] jasonmccallister commented on #232
This change has been released with 2.0.0-beta.2. Please let me know if you experience this again but I verified locally on multiple files. The main issue was it copied the example env _without_ checking for an existing `.env` file..

https://github.com/craftcms/nitro/blob/main/CHANGELOG-V2.md#200-beta2---2021-02-04

[2021-02-04 21:22] jasonmccallister commented on #234
Just manually added a binary to run the `nitro` command with native support here: https://github.com/craftcms/nitro/releases/tag/2.0.0-beta.2

[2021-02-04 23:54] dlindberg commented on #234
Still double checking a couple things with my system, but looks like mysql still isn't happy. Going to setup a local db as mentioned in #233 in the interim. (Postgress does install quite happily, unfortunately my project is already mysql)

Updated nitro to nitro version 2.0.0-beta.2 and tried basic update which didn't work, then tried:
[code]

still got:
[code]

[2021-02-05 10:49] tomdavies opened #235 "[2.0.0-beta.2] nitro destroy doesn't clean up /etc/hosts entries"
### Description

Thanks for Nitro!

Running `nitro destroy` doesn't clean up any entries that have added by nitro to `/etc/hosts`.

### Steps to reproduce

1. `nitro create hosts-test`
2. `nitro destroy`
3. `cat /etc/hosts`

[code]

### Additional info

- Nitro version: 2.0.0-beta.2
- Docker version: 3.1.0
- MacOS Mojave 10.14.6
- Installed nitro via homebrew

[2021-02-05 10:53] tomdavies opened #236 "[2.0.0-beta.2] nitro destroy doesn't clean up ~/.nitro/nitro.yaml"
### Description

Not sure if this is expected behaviour but running `nitro destroy` leaves `~/.nitro/nitro.yaml` in place

This means that the following will fail:

1. `nitro create nitro-test`
2. `nitro destroy`
3. `nitro create nitro-test`

with:

```Error: hostname already exists```

### Additional info

- Nitro version: 2.0.0-beta.2
- Docker version: 3.1.0
- MacOS Mojave 10.14.6
- Installed ni

[2021-02-05 11:00] tomdavies opened #237 "[2.0.0-beta.2] Unfriendly error when user tries to create a project before nitro init"
### Description

If the user runs `nitro create project-name` before having run `nitro init`, the error message shown is somewhat unfriendly:

[code]

Also, the check only happens after the user selects a PHP version.

Would be great to check for `~/.nitro/nitro.yaml` at the start of `nitro add` / `nitro create` and show a friendlier error, along the lines of:

[code]

### Additional info

- Nitro

[2021-02-05 11:18] tomdavies opened #238 "[2.0.0-beta.2] nitro remove doesn't update `~/.nitro/nitro.yaml`"
### Description

Running `nitro remove` removes the containers & db for a site, but doesn't appear to remove the entry in the `sites` key from `~/.nitro/nitro.yaml`

### Steps to reproduce

1. `nitro create nitro-test`
2. `nitro remove nitro-test`
3. `cat ~/.nitro/nitro.yaml`

[code]

### Additional info

- Nitro version: 2.0.0-beta.2
- Docker version: 3.1.0
- MacOS Mojave 10.14.6
- Installed nitr

[2021-02-05 11:26] tomdavies opened #239 "[2.0.0-beta.2] PHP RuntimeException on `nitro composer outdated`"
### Description

Running `nitro composer outdated`

On 2.0.2-beta2 on a clean nitro install / new site created with `nitro create`

results in:

[code]

While running `composer outdated` from composer in my host machine I get the expected output:

[code]

The same error happens on some other composer commands too:

- `composer about`
- `composer cc`
- `composer status`

There are probably others a

[2021-02-05 14:12] dlindberg commented on #234
Looks like I miss read the instructions, yes that works for getting it setup with MariaDB.

[2021-02-05 15:06] jasonmccallister commented on #170
We have basic support with `nitro enable|disable` for common images, better to have a generic way to add extra containers into the nitro network...

[2021-02-05 15:14] jasonmccallister commented on #237
@tomdavies just pushed a fix for this, it will prompt you to run `nitro init` and execute the command for you (similar to `nitro apply` prompts). Will be pushed out in the next beta. Thank you!

![CleanShot 2021-02-05 at 10 12 50@2x](https://user-images.githubusercontent.com/5354908/107051808-e20c1800-679a-11eb-9eda-35aa6aa075d9.png)

[2021-02-05 15:42] jasonmccallister commented on #236
@tomdavies the `destroy` command accepts the flag `--clean` which will remove the config file but default to false to allow people to rebuild the environment quickly. Is `--clean` not removing the file when running `nitro destroy --clean`?

[2021-02-05 16:09] tomdavies commented on #236
@jasonmccallister ack, that makes sense. My failure to read the docs properly / poor mental model of what nitro is doing on my part :)

Can confirm `--clean` flag works as advertised.

Might be nice if it was interactive with sane default (`N`), as you're prompting for confirm already, or at least if the prompt was different when flag passed, i.e The prompt is always:

`Are you sure (this will rem

[2021-02-05 16:09] #236 closed

[2021-02-05 18:28] jasonmccallister commented on #235
@tomdavies just pushed an update that will resolve this issue in https://github.com/craftcms/nitro/commit/3914773b375de4c86f258c139187ef014c9a2378. This will go out in the next beta release, thank you for the report!

[2021-02-05 18:28] #232 closed

[2021-02-05 18:42] jasonmccallister commented on #234
The next beta will not default to mysql for users on M1 macs to avoid confusion

[2021-02-05 19:06] jasonmccallister commented on #10
Support for HTTPS has been added in v2.Please see the documentation here for upgrading instructions https://craftcms.com/docs/nitro/2.x/

[2021-02-05 19:06] #10 closed

[2021-02-05 19:07] jasonmccallister commented on #101
Support for downloading Craft CMS and a custom Git repository has has been added in v2 using the `nitro create` command. Please see the documentation here for upgrading instructions https://craftcms.com/docs/nitro/2.x/usage.html#creating-a-new-site-with-nitro-create

[2021-02-05 19:07] #101 closed

[2021-02-05 19:08] jasonmccallister commented on #105
Sites are now PHP version specific as well as enabling xdebug per site. Please see the documentation here for upgrading instructions https://craftcms.com/docs/nitro/2.x

[2021-02-05 19:08] #105 closed

[2021-02-05 19:09] jasonmccallister commented on #150
Hostnames and aliases are now set in the site container with v2. Please see the documentation here for upgrading instructions https://craftcms.com/docs/nitro/2.x

[2021-02-05 19:09] #150 closed

[2021-02-05 19:09] JMKelley commented on #101
Awesome! Cheers guys.

On Fri, 5 Feb 2021, 19:08 Jason McCallister, <notifications@github.com>
wrote:

[2021-02-05 19:10] jasonmccallister commented on #200
The defaults have been improved in v2 and there is a new `nitro iniset` command to tweak settings on a per site basis. Please see the documentation for further details - https://craftcms.com/docs/nitro/2.x/php-settings.html

[2021-02-05 19:10] #200 closed

[2021-02-05 19:12] jasonmccallister commented on #81
This has been added in v2, thank you for the work you did on the original functionality!

[2021-02-05 19:12] #81 closed

[2021-02-05 19:14] jasonmccallister commented on #222
Changing PHP settings has been greatly improved in v2 and there is a new `nitro iniset` command to tweak settings on a per site basis. Please see the documentation for further details - https://craftcms.com/docs/nitro/2.x/php-settings.html

[2021-02-05 19:14] #222 closed

[2021-02-05 19:15] jasonmccallister commented on #225
Changing PHP settings has been greatly improved in v2 and there is a new `nitro iniset` command to tweak settings on a per site basis. Please see the documentation for further details - https://craftcms.com/docs/nitro/2.x/php-settings.html

[2021-02-05 19:15] #225 closed

[2021-02-05 19:16] jasonmccallister commented on #213
We released v2 with a greatly improved host editing capability and a transition to a Docker backend without the config. Please see the documentation for further details and an upgrade guide - https://craftcms.com/docs/nitro/2.x/

[2021-02-05 19:16] #213 closed

[2021-02-05 19:17] jasonmccallister commented on #117
With v2, the `apply` command will not prompt for host file changes if nothing has new has been added.

[2021-02-05 19:17] #117 closed

[2021-02-05 19:23] jasonmccallister commented on #167
While this is not "technically" complete, the following commands are now "context-aware" and will detect if you are in a sites directory and should be used as an alternative:

1. `nitro ssh`
2. `nitro craft`
3. `nitro queue`
4. `nitro xon`
5. `nitro xoff`
6. `nitro share`

This should resolve this issue, let me know if we are good to close this one out 👍

[2021-02-05 19:24] jasonmccallister commented on #235
This was resolved in the latest beta! Thank you!

[2021-02-05 19:24] #235 closed

[2021-02-05 19:29] jasonmccallister commented on #238
Can reproduce, will take a look. However, as a work around, you can run `nitro edit` to remove the site and `nitro apply` will handle the rest.

[2021-02-05 19:31] jasonmccallister commented on #180
@delixyr by next release, I really mean't v2 where we replaced Multipass with Docker. Here are the instructions for upgrading, Windows 10 is still a WIP... but mostly for WSL2 and Docker setup.. https://craftcms.com/docs/nitro/2.x/

[2021-02-05 19:39] dlindberg commented on #234
Thanks, this is shaping up to be an excellent update, hard to make a direct compare because I never tired the Multipass version on this system, but now that things are up and running it seems substantially smoother than version 1.

[2021-02-05 22:05] jasonmccallister commented on #239
@tomdavies wrapping up some work to resolve this an make it a little more flexible going forward.

https://user-images.githubusercontent.com/5354908/107094017-4c8d7a00-67d4-11eb-84e5-80241d68e1e4.mov

[2021-02-06 01:03] michaelroper commented on #167
Thanks Jason - I was just about to come back and find this issue and say that you absolutely NAILED IT! 🙌

[2021-02-06 01:03] #167 closed

[2021-02-06 07:56] bencroker commented on #105
Jason you champ, thanks for making Nitro 2 so so good!!

[2021-02-06 09:05] Jan10 commented on #233
@jasonmccallister thanks for the Feedback! I had mysql running via Brew.

[2021-02-06 13:53] hodgins96 opened #240 "[2.0.0-beta.2] /app/storage isn't writable by PHP. Please fix that."
### Description
When setting up new new craft project error occurs.
/app/storage isn't writable by PHP. Please fix that.
Can be fixed by chmod 777 but that shouldn't be the case

### Steps to reproduce

1. nitro create
2. nitro craft setup

### Additional info

- Nitro version: 2.00-beta.2
- OS: Pop!_OS 20.10 x86_64
- Kernal: 5.8.0-7630-generic
- Docker: 20.10.2

[2021-02-07 14:40] tomdavies commented on #239
Nice work 👍

[2021-02-07 15:12] ademers opened #241 "[2.0.0-beta.1] Error: Craft CMS requires the PDO_MYSQL driver to operate when running nitro composer update from host"
### Description

I have the following Craft CLI commands in the `scripts` section of my `composer.json` file:

[code]
When I run `nitro composer update` from my host machine, I get the following error:

[code]

Looks like error generated by any command that attempts to backup the DB (Craft CMS requires the PDO_MYSQL driver to operate). So, `@php craft db/backup` and `@php craft migrate/all`.

Thes

[2021-02-07 15:59] jasonmccallister commented on #241
@ademers this is somewhat by design, but not clearly documented. The `composer` command uses the official [composer image](https://hub.docker.com/_/composer/). We append the flag `--ignore-platform-reqs` to ensure composer can run commands like `install`, `update`, or `create-project` which was the original intent. However, your use case makes a lot more sense in the context of regular use.

There

[2021-02-08 15:43] jasonmccallister commented on #237
This was released with 2.0.0-beta.3. Thank you for the report!

[2021-02-08 15:43] #237 closed

[2021-02-08 15:56] jasonmccallister commented on #234
With [2.0.0-beta.3](https://github.com/craftcms/nitro/blob/develop/CHANGELOG-V2.md#200-beta3---2021-02-05) we are suggesting mariadb instead of mysql to resolve this issue. The team running on M1s is reporting that things are working as inspected.

[2021-02-08 19:44] jasonmccallister commented on #240
Thank you for the report @hodgins96. This is a little tricky to handle automatically across operating systems, specifically macOS and Linux due to the underlying container support. We have a section on [setting file permissions](https://craftcms.com/docs/3.x/installation.html#step-2-set-the-file-permissions) in the documentation. However, it would be nice to handle these permissions automatically.

[2021-02-08 21:14] MattWilcox opened #242 "Can't install on Manjaro Raspberry Pi"
### Description

Admittedly; this is the lowest of all priorities given the hardware and rareness of anyone running Manjaro on it; but...

[code]

### Additional info

- Nitro version: 2beta3
- OS: Manjaro Linux. ARM, Raspberry Pi 4
- Docker: From the package manager

[code]

[2021-02-08 21:16] MattWilcox commented on #242
(Why am I running on Raspberry Pi!? ... Well my personal iMac is from 2009 and I can't run OSX 10.13 or higher, so I don't have Docker for it...)

[2021-02-08 21:24] jasonmccallister commented on #242
**YES! THIS ISSUE MADE MY DAY!**

I'm running Ubuntu on my Raspberry Pi 4 and here is the best news... _It is supported_!

However, relating to [this issue](https://github.com/craftcms/nitro/issues/234) the MySQL image is not ARM compatible..

The current solution to work around this is to update your config for the database to look like the following:

[code]

Then run `nitro apply` to make sure

[2021-02-08 22:25] MattWilcox commented on #242
Amazing! I'll give that a try tomorrow, thanks very much! I've also figured out how to not need sudo for nitro commands thanks to a little Googling for following Docker configuration after initial install via the package manager.

I forget "real" MySQL is still a thing, I switched to Maria a long while back and just seem to forget some distros still mean actual MySQL and not an aliased command!

[2021-02-09 00:57] AugustMiller opened #243 "MySQL database name limitations not validated when adding site"
### Description

Just noticed that the setup wizard lets you provide invalid database names—but doesn't create them, failing silently.

### Steps to reproduce

1. Add a new site (`$ nitro add`), and specify `something-hyphenated` for the database name.
2. Continue setting up site
3. Attempt to import database into `something-hyphenated`

(See terminal I/O, below!)

### Additional info

- Nitro ver

[2021-02-09 12:34] jasonmccallister commented on #243
Thank you for the report! This has been resolved in https://github.com/craftcms/nitro/commit/452790f1de6c4c4ee1222af7a9092ffebb5d00c7 and will go out with the next release!

[2021-02-09 15:20] dlindberg commented on #241
I've been using `nitro ssh` and then running Composer commands from within the container to get around this issue.

I think documentation would need to be clear on it, but you could also use `--no-scripts`  (or allow passing the flag) on the execution to allow the update to complete. That, of course, is also not a perfect solution because it doesn't run the scripts, and those 3 commands are pretty

[2021-02-09 20:06] MattWilcox commented on #242
Boom, that works! Though now the https cert install is failing, but I'll raise that as a new bug if I can't work that out. Thanks Jason!

[2021-02-09 20:06] #242 closed

[2021-02-09 20:17] MattWilcox opened #244 "Automate SSL support on Linux"
### Description

Fails https cert copy on Manjaro Linux on Raspberry Pi4.

### Steps to reproduce

ran nitro init...

[code]

/tmp/nitro-cert304261744 does exist, but `/usr/local/share/ca-certificates` does not and i'm thinking the destination directory isn't being made via the above command.

I've made it myself and moved the cert - so that's there now, but the suggested update-ca-certificates is

[2021-02-09 20:25] jasonmccallister commented on #234
We just pushed [beta.4](https://github.com/craftcms/nitro/releases/tag/2.0.0-beta.4) that will check for any Arm-based device and select database images appropriately. M1 support, and Arm, has been greatly improved. Going to close this out! Thank you for the report!

[2021-02-09 20:25] #234 closed

[2021-02-09 20:25] jasonmccallister commented on #242
We just pushed [beta.4](https://github.com/craftcms/nitro/releases/tag/2.0.0-beta.4) that will check for any Arm-based device and select database images appropriately.

[2021-02-09 20:30] jasonmccallister commented on #170
Closing this ticket out as we just shipped [beta.4](https://github.com/craftcms/nitro/blob/develop/CHANGELOG-V2.md#200-beta4---2021-02-09) with the `nitro container new` command to interactively add custom containers.

[2021-02-09 20:30] #170 closed

[2021-02-09 20:34] jasonmccallister commented on #243
The `add` and `create` command are now validating database names in [beta.4](https://github.com/craftcms/nitro/blob/develop/CHANGELOG-V2.md#200-beta4---2021-02-09). We also added a final conditional to remove that pesky `?Database` database from the backup options.

[2021-02-09 20:34] #243 closed

[2021-02-09 21:35] MattWilcox commented on #244
Not sure I'm following you, but there is no such package in the Manjaro or any Arch based distro - `update-ca-certificates` appears to be Ubuntu specific.

https://wiki.archlinux.org/index.php/User:Grawity/Adding_a_trusted_CA_certificate

[2021-02-09 21:42] MattWilcox commented on #244
On Arch based Linux it appears the nitro.crt should be stored at `/etc/ca-certificates/trust-source/anchors` and then the utility should be run as `sudo update-ca-trust`

This appears to have run correctly - though I've not tested an actual Nitro project yet...

[2021-02-09 21:58] MattWilcox opened #245 "/app/config isn't writable by PHP. Please fix that."
### Description

Installed Nitro2beta3 on Manjaro ARM for Raspberry Pi4; ran `nitro create test` - all seems to work, but navigating to http://test.nitro I'm met with a browser error saying

`/app/config isn't writable by PHP. Please fix that.`

[code]

### Additional info

- Nitro version: 2beta3
- OS: Manjaro ARM; Raspberry Pi 4

... I may be going nuts, but `app/config` does not seem like a nor

[2021-02-09 22:07] jasonmccallister commented on #245
@MattWilcox this is a duplicate of #240. Not sure we are going to force permission settings on install for better cross-platform support. Going to close this out in favor of the other ticket who is also a Linux OS user :).

[2021-02-09 22:07] #245 closed

[2021-02-09 22:09] jasonmccallister commented on #245
@MattWilcox to adress this:

When a site is added to the container, its mounted path is `/app/<files>` so the error outputs the complete path inside of the container.

[2021-02-09 22:15] MattWilcox commented on #240
Yep, a manual `sudo chmod -R 777 .env composer.* config storage vendor web/cpresources` allowed me to install and run.

[2021-02-09 22:17] jasonmccallister commented on #240
Yeah, the main concern forcing those permissions is Windows/WSL2 support... The permissions get a little wonky in WSL... https://askubuntu.com/questions/911804/ubuntu-for-windows-10-all-files-are-own-by-root-and-i-cannot-change-it

[2021-02-09 22:18] jasonmccallister commented on #244
Alright, I might have to make this tricky to support multiple distros...

Can you provide the output of `lsb_release --description`?

On Ubuntu based devices it outputs the following:

[code]

I might be able to write a "finder" interface for the linux distro based on the description to make the commands more automatic..

I should probably be more clear on the errors (e.g. path does not exists (bu

[2021-02-09 22:21] MattWilcox commented on #240
Yeah, 777 is a bad code smell anyway. Ideally this would be fixed via User rather than just nixing any sort of permission protections which is what 777 is doing. But, I'm totally ignorant of how VMs work with mounted host file systems. All I know is that this is not an issue on OSX when running Nitro1 (which is a Ubuntu VM with the host filesystem mounted inside it?)

[2021-02-09 22:24] jasonmccallister commented on #240
On v1, Multipass and `sshfs` take care of the file permissions and we place sites into the `/home/ubuntu/`, in the Docker images we run as the `www-data` user to limit permissions... I'm sure we can get there, just want to be cautious.

[2021-02-09 22:27] MattWilcox commented on #244
[code]

I'm a little surprised it doesn't reference Arch, but then I'd also have expected yours to reference Debian.

And yes I found it odd it couldn't make those directories via a `sudo mv` but I believe that might be an optional flag, or just an issue with where it was trying to make the path. Either way, that was the wrong path for Arch based distros, and I didn't have an issue moving it with

[2021-02-11 01:48] KarlBishop opened #246 "Machine does not have an IP Address"
### Description

After running `nitro init` my default machine IP Address reports as "N/A"

### Steps to reproduce

1. Follow [other setup instructions](https://craftcms.com/docs/nitro/1.x/installation.html#windows-10-pro-with-hyper-v-enabled)
2. Run `nitro init`

### Additional info
My environment:
- Windows 10 Home
- Nitro 1.1.1
- Multipass 1.5.0+ (multipass-1.5.0+win-win64.exe)
- VirtualBox 6.1

[2021-02-11 01:54] KarlBishop commented on #246
Couple other things to note:
- After running `nitro init`, I can right-click Multipass in the taskbar and see "nitro-dev (Running)"
- I can also click "Open Shell" and get a PowerShell window with prompt `ubuntu@nitro-dev:~$`

[2021-02-11 14:07] jasonmccallister commented on #246
@KarlBishop thank you for reporting this issue. Unfortunately, on v1, running with VirtualBox is not really tested and we have officially started the process of moving from Multipass to a Docker based backend as Multipass and Windows had a lot of problems with networking and specifically Windows 10 Home support, which is your OS. See [this troubleshooting documentation](https://multipass.run/docs/

[2021-02-12 01:25] KarlBishop commented on #246
OK, thanks for the response. Hope the v2 Windows support is coming along nicely!

[2021-02-12 20:28] jasonmccallister commented on #2
This was included with the v2 betas, closing this ticket out! Thanks everyone!

[2021-02-12 20:28] #2 closed

[2021-02-15 13:20] alexr8 opened #247 "[2.0.0-beta.4] Restarting Nitro breaks MySQL?"
### Description
When i set up Nitro v2, I imported some databases, connected them up to my sites that I added via `nitro add`, and all worked fine. However, as soon as I restart Nitro (e.g. nitro restart, or stopping nitro and starting again later), MySQL ceases to function:

- All my sites display the error:  `Database Exception – yii\db\Exception
SQLSTATE[HY000]: General error: 1449 The user spe

[2021-02-15 13:41] alexr8 commented on #247
After further exploring, I think it might be the way in which I imported my databases that might be the cause. I had previously been running my import via Sequel Ace - i had an export of all db's from nitro v1 in one .sql file so i was importing that, and I had to suppress a few warnings about innodb tables - could this be the source of the issue? I'm now going through and manually importing fresh

[2021-02-15 13:43] jasonmccallister commented on #247
@alexr8 can you try clearing your local caches? That is a strange error but referencing localhost, which would not work in Docker (it needs the `db.database.nitro` hostname).

[2021-02-15 21:42] jasonmccallister commented on #244
@MattWilcox I don't have Manjaro but I'm fairly confident in the changes to the `trust` command mentioned above. Here is a linux arm build (marked as beta 3) but will be the next beta with the changes to certificate installation.

[nitro_linux_arm64.tar.gz](https://github.com/craftcms/nitro/files/5984253/nitro_linux_arm64.tar.gz)

[2021-02-15 22:55] MattWilcox opened #248 "PHP: Unable to load dynamic library?"
### Description

Tried checking out an existing working project in Nitro2 beta3, but after nitro ssh and cding to the right directory `composer install` fails with unexpected errors that I can't decipher why - plus it's unable to create required directories.

Nor can I use sudo composer install as the VM does not seem to recognise sudo as a command.

Additionally, I assume `nitro update` doesn't p

[2021-02-15 23:05] jasonmccallister commented on #248
@MattWilcox sorry about that issue, I'll be pushing up a fix to [craftcms/docker](https://github.com/craftcms/docker/actions/runs/569932829) that should fix that error. When that link is finished building, you can run `nitro update` to pull the latest image.

[2021-02-16 12:59] MattWilcox commented on #248
Thanks Jason, that is now working

[2021-02-16 12:59] #248 closed

[2021-02-16 19:46] jasonmccallister commented on #244
@MattWilcox beta 5 is out with changes to the certificate installation on linux machines. Closing this out. Thank you for the report!

[2021-02-16 19:46] #244 closed

[2021-02-16 19:47] jasonmccallister commented on #233
Going to close this out @Jan10! Thank you for the report!

[2021-02-16 19:47] #233 closed

[2021-02-16 22:36] jasonmccallister commented on #248
@MattWilcox can you do mea favor and triple check the output from this command on your machine?

[code]

[2021-02-17 08:56] MattWilcox commented on #248
No worries

[code]

[2021-02-17 15:22] alexr8 commented on #247
I think this can probably be closed - I've not reencountered the issue slowly reimporting databases one by one, rather than my single export from nitro 1 of all databases. Just for the record in case this pops up in future, how it got to that issue was:

- I'd exported a single sql file of all dbs from nitro v1 using `nitro db backup`
- deleted nitro v1 as per the uninstall directions in the docs

[2021-02-17 15:45] #247 closed

[2021-02-19 03:18] jasonmccallister commented on #239
This went out with the last beta, you should be able to run this command now!

[2021-02-19 09:53] tomdavies commented on #239
Confirmed fixed for me in beta 5

[2021-02-19 09:53] #239 closed

[2021-02-19 20:31] jasonmccallister commented on #240
@hodgins96 and @MattWilcox we are going to close this ticket out since different environments make this really tricky. Thank you for the report. If you are having file permissions issues this will walk you through the setup: https://craftcms.com/docs/3.x/installation.html#step-2-set-the-file-permissions

[2021-02-19 20:31] #240 closed

[2021-02-19 20:31] jasonmccallister commented on #231
Closing this ticket out

[2021-02-19 20:31] #231 closed

[2021-02-19 21:11] jasonmccallister commented on #241
The next release will change the composer command to use the `craftcms/cli:<ver>-dev` image as well as run the container in the nitro network. This solves the following:

1. Ensures the composer command can run without errors (missing php extensions)
2. Allows custom scripts that need to talk to databases to run.

It does remove the `--composer-version` flag in favor of the `--php-version` flag. W

[2021-02-20 14:00] MattWilcox commented on #240
What would the right user be though? I have no idea what Docker is doing, but setting a bunch of things to 777 isn't great, and does require adjusting GIT so that it does not store permissions; otherwise they're going to end up 777 on production.

[2021-02-22 11:49] toddpadwick opened #249 "Docker - Error: invalid mount config for type "bind": bind source path does not exist on a Mac"
### Description
1. I have upgraded Nitro from 1 to 2 following the instructions in the docs.
I have installed docker,
2. added docker to the list of applications which allowed full disc access in Mac system preferences.
3. I have also ensured the directory exists and is added to the list of shared files in docker settings.

I have explored multiple threads which reference this error – [one of whic

[2021-02-22 12:20] jskrivanek commented on #129
@jasonmccallister Was this released with beta 3?

[2021-02-22 13:16] jasonmccallister commented on #249
Hi @toddpadwick, that sounds like it might be a Docker setting that is causing the issue.

Can you open your **Docker Preferences** > **Resources** > **File Sharing** and verify that the path you are trying to add is included in the list? Also, can you provide the path to the site from your config file?

Here is a screenshot of mine file sharing settings for reference:

![CleanShot 2021-02-22 at 0

[2021-02-22 13:20] toddpadwick commented on #249
Hi @jasonmccallister

Here is my docker file sharing settings:

<img width="594" alt="Screenshot 2021-02-22 at 14 17 52" src="https://user-images.githubusercontent.com/36191462/108713795-0432c380-7519-11eb-9e89-ba2941ff501b.png">

and the site Nitro config is
[code]

[2021-02-22 13:35] jasonmccallister commented on #249
It looks like the preferences has `Sites` and the path added `sites`. Assuming Nitro grabbed the right path, try changing it in the Docker preferences and apply those changes.

[2021-02-22 13:40] jasonmccallister commented on #129
Hi @jskrivanek this was released with a beta of Nitro v1. We are actively working on Nitro V2 that is based on Docker instead of Multipass. If you are referring to v2 can you please create a new issue and describe any issues you are having?

[2021-02-22 13:48] toddpadwick commented on #249
No, I was in the directory and simply ran `nitro add`, and followed the steps. So does it mean I installed Nitro in the wrong place if it's not creating a relative path from my user directory? should I have installed or initiated it on my user directory instead of the root - I assumed it was a global installation.

The shared directory preference panel opens a file browser window, so no way to man

[2021-02-22 14:29] jasonmccallister commented on #249
It should still work but I think the issue is the case sensitive path in the Docker settings.

As far as adding the path, it's hidden but you can click into this field to add it and will probably need to remove the existing one that does not have the correct capitalization.

![CleanShot 2021-02-22 at 09 25 18](https://user-images.githubusercontent.com/5354908/108721526-14827880-74f0-11eb-88d7-1216

[2021-02-22 14:54] toddpadwick commented on #249
You were corret, it was due to capitalisation. However, _not with docker_, but with Nitro: 
I tried making the path in docker lowercase but that didn't work as the directory is in fact, capitalised. So instead, I manually overrode the auto-generated host path and changed `/users/toddpadwick/sites` to `/Users/toddpadwick/Sites`

So there may be a bug there whereby it flattens all paths to lowercase

[2021-02-22 15:29] jasonmccallister commented on #249
We don't flatten any paths, we use the go standard library to get the path names which is pretty well tested. Can you list the contents of your directory in terminal, and see if maybe the site is correct in the terminal output?

`ls -la` on your home directory?￼

[2021-02-22 15:50] toddpadwick commented on #249
[code]

I can confirm Users is also capitalised.

[2021-02-22 18:07] jasonmccallister commented on #249
Hmmm ok, when you ran `nitro add` did `cd` into the `~/Sites/` directory and use `nitro add <site-name>` or `cd` into `~/Sites/site-name` and run `nitro add`?

You also do not have any special attributes on the Sites directory (indicated by the trailing `@` symbol).

[2021-02-22 18:33] toddpadwick commented on #249
I `cd`'d into an already existing project directory (`madefair-api`), and then I ran `nitro add`.

No, i don't think I have any special attributes on the directory. But not sure exactly what you mean by this?

I also tried re-adding the project again just now and I can confirm it flattened the case again to `/users/toddpadwick/sites/madefair-api` rather than `/Users/toddpadwick/Sites/madefair-api`

[2021-02-22 20:00] jasonmccallister commented on #249
In your root directory, can you make two new directories and see if they show up using the `ls` command? I'm following instructions [from this post](https://apple.stackexchange.com/a/90425/85315).

e.g.:

[code]

I'm not sure how to check case sensitive drives in macOS anymore, they are making it harder :)

[2021-02-22 22:22] jamesmacwhite opened #250 "[2.0.0-beta.5] nitro destroy removes any docker containers present"
### Description

Running `nitro destroy` removed all Docker containers present on my system, even one's completely unrelated to Nitro itself, not sure if that was the intended result, but if so it's pretty dangerous and should be clarified.

[2021-02-22 22:25] jasonmccallister commented on #250
Hi @jamesmacwhite you are right and that is a bug, we are creating a filter for nitro containers but not passing it properly here: https://github.com/craftcms/nitro/blob/develop/command/destroy/destroy.go#L67

I'll push up that change and get a release out asap, thank you for the report and apologies for missing that!

[2021-02-22 22:46] jamesmacwhite opened #251 "General questions around Windows support with Nitro V2"
### Description

I'm currently using the Docker images at craftcms/docker as I'm on Windows and I know Nitro v2 doesn't support Windows currently. I'm curious though in terms of the Windows support, as based on my testing and experimenting after sacking off Nanobox and every other VM solution prior the key thing I found unless Docker is ran through WSL 2 i.e. with a real Linux kernel, the performa

[2021-02-22 22:50] jamesmacwhite commented on #250
Well glad that was found in the beta! Luckily it didn't kill the data of the non Nitro related containers, which a simple `docker-compose up` will sort.

[2021-02-22 23:10] angrybrad commented on #251
WSL2 will be required.

You can read the WIP docs for Nitro 2 and Windows here:

https://github.com/craftcms/docs/blob/feature/nitro2-windows/docs/nitro/2.x/installation.md

https://github.com/craftcms/docs/blob/feature/nitro2-windows/docs/nitro/2.x/windows.md

That last link covers performance. The latest Nitro release is fairly solid on Windows if you want to test it, but there are a couple more

[2021-02-22 23:10] #251 closed

[2021-02-22 23:15] jamesmacwhite commented on #251
Ah thanks @angrybrad. I wasn't looking hard enough for existing information on the topic clearly! Confirms what I thought around WSL2 and similar guidance for performance and recommendations.

I will certainly take a look at Nitro at some point, for now I am using the general Docker images at https://github.com/craftcms/docker which work well.

[2021-02-24 17:58] Tam opened #252 "[2.0.0-beta.4] 413 Request Entity Too Large"
### Description

Getting `413 Request Entity Too Large` when uploading a video file at 36.1 MB.

### Steps to reproduce

1. Create a volume (in my case using DO Spaces)
2. Upload a semi-large file

### Additional info

- Nitro version: 2.0.0-beta.4

[2021-02-24 23:15] jasonmccallister commented on #250
We just released 2.0.0-beta.6 with this change, should be available shortly!

[2021-02-24 23:15] #250 closed

[2021-02-24 23:16] jasonmccallister commented on #241
We just released 2.0.0-beta.6 with this change, should be available shortly!

[2021-02-24 23:16] #241 closed

[2021-02-24 23:16] jasonmccallister commented on #238
We just released 2.0.0-beta.6 with this change, should be available shortly!

[2021-02-24 23:16] #238 closed

[2021-02-25 00:48] angrybrad opened #253 "WSL hostname output text wonkiness"
### Description

If you run a command in WSL that modifies the hosts file, Nitro correctly detects you're running in WSL and outputs something like this:

[code]

Note the `\t` tab character and `[]` around the host names.

- Nitro version: 2.0 beta 6

[2021-02-25 00:51] angrybrad opened #254 "WSL SSL certs"
We need to take the output of `nitro trust --output-only` and save it to a file on the WSL filesystem (i.e. `~/caddy.crt`).

Then tell the user to open terminal on the windows host machine and run

    certutil -addstore -f "Root" \\wsl$\Ubuntu-20.04\home\brad\caddy.crt

We can get the name of the WSL instance from the `WSL_DISTRO_NAME` env var in WSL ("Ubuntu-20.04” in this case).

This is a one-

[2021-02-25 02:27] jasonmccallister commented on #252
@Tam I will take a look at the current limit and most likely increase those in the upstream Docker images.

[2021-02-25 02:28] jasonmccallister commented on #253
This looks like the Go code was not properly converted... I will take a look.

[2021-02-25 08:23] jamesmacwhite commented on #254
I'm glad this has been mentioned. I was testing this on Windows and noticed the docs said you need to run a command but didn't mention what. I ended up poking in the container and extracting the Caddy certs to install into my Windows Local Machine Certificate store. Anything to make it more straightforward for Windows welcome!

[2021-02-25 13:37] jasonmccallister commented on #254
Should this be a documentation thing or something we output in the terminal? I think it would be helpful to have the paths setup dynamically.

Also, I'm wondering if we should place this is the `.nitro` directory on the linux machine to keep things tidy. Can someone verify they can access a hidden directory using that share?

[2021-02-25 13:42] jamesmacwhite commented on #254
Doing a basic `dir` from Command Prompt at the \\wsl$ share works, so references file paths with certutil should have no issues in the .nitro directory I'd imagine.

[code]

[2021-02-25 13:46] jasonmccallister commented on #254
Awesome, thank you @jamesmacwhite! Can you also run an `env` command in the linux machine and verify the `USER` env is set?

[2021-02-25 13:48] jamesmacwhite commented on #254
@jasonmccallister Confirmed `USER` is present.

[code]

[2021-02-25 13:50] jasonmccallister commented on #254
Fantastic, thank you! Was pretty sure WSL would not deviate from the standard env... but you never know...

[2021-02-25 13:54] jamesmacwhite commented on #254
Ha ha, always good to never assume with anything Microsoft! Shout if you need any more WSL specific info, happy to help test. Nitro looks really promising, just needs a few upstream Docker parts resolving for me but the overall Nitro 2.x package is looking great.

[2021-02-25 16:48] MattWilcox opened #255 "OSX BigSur installation issue"
### Description

https://craftcms.com/docs/nitro/2.x/installation.html

`4. Move the binary into your path with sudo mv ./nitro /usr/local/bin.`

On a fresh install of a new OSX, this fails. Trying to cd to /usr/local/bin also fails with "not a directory"

- Nitro version: 2beta6
- OSX version: 11.2.1

[2021-02-25 16:51] jasonmccallister commented on #255
@MattWilcox can you provide the output of this command?

`echo $PATH`

[2021-02-25 16:54] MattWilcox commented on #255
[code]

OSX is also apparently zsh now rather than bash... I am not entirely happy about that.

[2021-02-25 16:58] MattWilcox commented on #255
[code]

Doesn't seem to be a symlink either - but I'm not used to zsh's output.

[2021-02-25 17:21] MattWilcox commented on #255
Willing to be that /bin didn't exist and the command has put the `nitro` file _as_ bin. Not got it booted at the moment, but will check... may need to pass a -p flag on the command to ensure if bin isn't there it gets created.

[2021-02-25 19:32] MattWilcox commented on #255
That appears to have been the issue - on a default new OSX 11 install, there is no /usr/local/bin directory.

Now I've manually made that the instruction works, but trying to run `nitro` results in

[code]

[2021-02-25 19:38] MattWilcox commented on #255
Right Click > Open allows that to run.
Then did `xattr -dr com.apple.quarantine /usr/local/bin/nitro`

Then got the following error...

[code]

[2021-02-25 23:19] angrybrad commented on #252
@Tam if you run `nitro update` to pull in the latest images, this should be resolve. Might as well update to the latest Nitro 2 beta release while you're at it. :P

https://github.com/craftcms/nitro/releases/tag/2.0.0-beta.7

[2021-02-25 23:19] #252 closed

[2021-02-25 23:19] angrybrad commented on #253
Resolved in https://github.com/craftcms/nitro/releases/tag/2.0.0-beta.7

[2021-02-25 23:19] #253 closed

[2021-02-25 23:19] angrybrad commented on #254
Resolved in https://github.com/craftcms/nitro/releases/tag/2.0.0-beta.7

[2021-02-25 23:19] #254 closed

[2021-02-26 10:36] MattWilcox opened #256 "OSX BigSur Panic: Runtime Error"
### Description

On a clean OSX 11.2.1, following the install instructions at https://craftcms.com/docs/nitro/2.x/installation.html gets me as far as nitro init; but something is horribly wrong at that point...

[code]

I have tried `nitro destroy` and running nitro init again, makes no difference.

### Additional info

- Nitro version: 2beta7
- DockerApp: 3.1.0
- OSX: 11.2.1
- Intel iMac 2020, i7

[2021-02-26 12:52] jamesmacwhite opened #257 "[2.0.0-beta7] WSL certutil message potentially wants new line break inserting"
### Description

Super picky and minor but the WSL certificate guidance does not have a new line after, which means the "certificates are now trusted" message gets wrapped with it in console. Example:

[code]

[2021-02-26 13:55] jamesmacwhite opened #258 "Detect WSL for correct hosts file path to be modified"
### Description

Currently Nitro 2.x under WSL will write hosts file contents to `/etc/hosts` within the WSL distribution, which has to be manually copied to C:\Windows\System32\drivers\etc\hosts.

Looking in hosts.go there is a Windows condition using runtime: https://github.com/craftcms/nitro/blob/develop/command/hosts/hosts.go#L40-L44 but this will evaluate to false as the runtime will appear a

[2021-02-26 14:31] jasonmccallister commented on #258
@jamesmacwhite thank you for the heads up, we are using that environment variable here: https://github.com/craftcms/nitro/blob/develop/pkg/certinstall/certinstall.go#L76 but can certainly take advantage of that in the hosts file.

It might make sense for WSL users to can both the WSL and Windows host files edited. The last time I looked into WSL it was not possible to edit the windows file, but I

[2021-02-26 14:32] jasonmccallister commented on #257
Ah, good catch @jamesmacwhite! I will fix that for the next release!

[2021-02-26 14:37] jamesmacwhite commented on #258
Ah, you might be right. So my test case fails even with sudo:

[code]

However, if the WSL session is "run as administrator", you can write to the hosts file with sudo. So unless the WSL has elevated privileges, Nitro isn't going to be able to write to hosts easily I don't think.

[2021-02-26 14:42] jasonmccallister commented on #256
@MattWilcox can verify you have databases defined in `~/.nitro/nitro.yaml`?

[2021-02-26 14:43] jasonmccallister commented on #255
Can you provide the output of `echo $PATH` to show what the default paths are on your machine?

[2021-02-26 14:44] MattWilcox commented on #256
I've had to fall back to Nitro1 as I had to get some work done on this machine: but I'm pretty sure it was actually blank when I checked it at the time - as in the entire file was empty. I thought `nitro init` would just repopulate that though?

[2021-02-26 14:48] MattWilcox commented on #255
[code]

It's in the path, but by default on this fresh machine, /usr/local didn't have a bin directory, and I _think_ it was totally empty. It now has a lib directory, but I've installed other things since then.

[2021-02-26 14:51] jasonmccallister commented on #256
Hmm, we would not overwrite if there was an existing file - it would destroy your config. Version 1 and version 2 use two different config files, can you provide the output of the `nitro.yaml` here? If its empty you can delete and run `nitro init` and it should resolve your issue...

[2021-02-26 14:55] MattWilcox commented on #256
Yep, nitro.yaml is completely blank. The file exists, but has no content.
Once the work day is done I'll try switching over to Nitro2 again, delete that file, and see how that goes. Thanks Jason.

[2021-02-26 14:56] jasonmccallister commented on #255
I wonder if Brew is adding that path as most of use have that running. I will look into this a little more.

[2021-02-26 14:57] jasonmccallister commented on #256
Ok great! I will see if I can find out why that file is blank... that is the first time hearing about this issue.

[2021-02-26 14:59] jasonmccallister commented on #258
Ok that makes a little more sense, if you run as an administrator it will write to the windows file though?

[2021-02-26 15:02] jamesmacwhite commented on #258
Yes if the WSL console was started with "run as administrator" and I then repeat the same command with sudo "write test" is appended to the Windows hosts file at C:\. The main requirement is an elevated session to begin with though.

[2021-02-26 15:13] jamesmacwhite opened #259 "Add support for project-level config files"
### Description

You are going to get tired of my name appearing here I'm sure!

Nitro 2 is nice and straight forward to provision environments with `nitro init` and `nitro add` but requires user interaction on various steps, due to the various choices and options. Choice is of course, great, but I was wondering if it has been considered letting Nitro essentially be guided non interactively perhap

[2021-02-26 15:19] MattWilcox commented on #255
Just for clarification; I'm not using Brew (I avoid it in general).

[2021-02-26 15:23] MattWilcox commented on #256
I'm trying to remember, but i think I messed up early on - there's no instruction to make sure that Docker is running after installing it, so I think I ran nitro init without having Docker running. It did error, but it may have been later down the line. Honestly can't remember what happened other than I had to go start Docker as it hadn't started itself post install, and maybe that got as far as c

[2021-02-26 15:46] jasonmccallister commented on #258
We had the same setting for running v1, maybe we should consider this as well @angrybrad?

[2021-02-26 18:17] jamesmacwhite commented on #257
@jasonmccallister Might also be worth clarifying certutil needs to be run as administrator. So an elevated Command Prompt/PowerShell session is needed. Maybe something like:

[2021-02-26 19:15] jasonmccallister commented on #256
This will be resolved in the next release as we now check for empty config files.

[2021-02-26 19:18] angrybrad commented on #258
I'll play around with this a bit.

[2021-02-27 00:52] angrybrad commented on #258
@jasonmccallister WSL1, if I recall, told you they definitely didn't want you to edit Linux files from Windows, but you could go the other way around. I believe WSL2 resolved most of those issues, though.

I guess the question is, will we be able to access `/mnt/c/Windows/System32/drivers/etc/hosts` from Golang to append whatever we want?

If so, I've got no problem updating the docs to require WS

[2021-02-27 09:41] jamesmacwhite opened #260 "[2.0.0-beta.7] Configured webroot always seems to be web for nginx?"
### Description

I don't know how well Craft 2 sites are technically supported with Nitro 2 but I decided to test it out, given I've already got some Docker based environments based on the Craft CMS docker images. It seems the webroot despite being set to public in the nitro site config, nginx has been configured to look within /app/web.

I get 404 on any requests when the webroot is "public", how

[2021-02-27 10:43] jamesmacwhite commented on #259
I guess an alternative would perhaps to store a copy of `~/.nitro/nitro.yml` specifically for the project in the source tree, with all the configuration written out, so `nitro init` and `nitro apply` can be used, without having to go through the configuration stages.

[2021-03-01 08:13] toddpadwick commented on #249
Okay, so it seems that although the paths are case sensitive, you cannot add two directories one lower and one upper. I tried to add both but it said `File Exists`. I don't know if that's helpful?

[2021-03-01 08:48] toddpadwick opened #261 "[2.0.0-beta.7] After restarting computer all Nitro sites return 503 - error in console - The Nitro CLI and gRPC versions do not match"
### Description
I had nitro running fine last week (apart from a slight issue with case sensitive paths mentioned in [this ticket](https://github.com/craftcms/nitro/issues/249) which I fixed by manually updating the paths in `nitro edit`. But since the weekend (and probably a few computer restarts) I can no longer run any Nitro sites. When running `Nitro apply` and `nitro restart`, Nitro appears t

[2021-03-01 12:11] jasonmccallister commented on #261
@toddpadwick the issue with the versions not matching will be resolved in the next release and it is not related to this issue. I'm still perplexed by your other issue #249 and the complete paths versus the relative paths (I have been unable to reproduce on multiple machines).

I found a bug when creating nginx sites that _might_ resolve the issue and included a build with a few bug fixes for you

[2021-03-01 12:13] jasonmccallister commented on #260
@jamesmacwhite can you verify your sites webroot is not set to "web". We check that and modify the configuration at the container start time. However, we have identified a bug that could cause errors during the process and already fixed for the next release.

Also, can you run `nitro logs` on the site and provide the output here?

[2021-03-01 12:45] jamesmacwhite commented on #260
Weirdly after provisioning the site again from scratch, the webroot is now respected and it's pointing to public. Not sure how it ended up at web in the first place, strange!

[2021-03-01 13:51] jasonmccallister commented on #260
It was most likely related to the bug identified last week and will be resolved in the next release.

[2021-03-01 14:15] jamesmacwhite commented on #260
Great. Nice that Nitro works with older Craft 2 projects as well!

[2021-03-01 14:58] jasonmccallister commented on #259
@jamesmacwhite we have had a discussion internally about this and think we have a good solution. We are going to sort out some details and discuss some specifics but we are most likely going to move to support storing a `nitro.yaml` in the project directory that can be versioned with the project to allow teams to share configs easily.

[2021-03-01 15:04] jamesmacwhite commented on #259
@jasonmccallister Thanks for this. I think that's the solution. For me it's basically have a single source for provisioning the environment, that's where Docker and the `docker-compose.yml` and `Dockerfile` are great to
guarantee the same environment each time. If Nitro can be similar, that would be ideal!

[2021-03-01 15:52] jamesmacwhite opened #262 "[2.0.0-beta.7] Caddy HTTP 502 error on specific site"
### Description

I've configured a few Craft sites as per my config here, real names and paths changed, but just for general purposes.

[code]

* Project 1: Craft 3 site
* Project 2: Craft 2 site
* Project 3: Craft 2 site.

Project 1 and 2 work fine, project 3 throws a 502 error when being accessed.

[code]

This is coming from the Caddy proxy container, the site is not able to get to the nginx co

[2021-03-01 15:58] jasonmccallister commented on #259
@jamesmacwhite yeah that makes sense, we are imagining it would work exactly the same way.

The initial concept is to keep the `sites` on the main `nitro.yaml` and add an existing `paths` that contains all of the project site specific details...

The main config file would look something like this:

[code]

The sites defined in `path` would take precedence over anything defined in `sites`. The pro

[2021-03-01 16:03] jasonmccallister commented on #262
@jamesmacwhite this has been resolved in https://github.com/craftcms/nitro/commit/ee22527c8cef844b7a426b5ad27231a23b4a4a36 and will be released with the next version.

The **tl;dr** is the permissions are not set correctly on the nginx config during `apply` command.

[2021-03-01 16:10] jamesmacwhite commented on #259
@jasonmccallister I like this! The paths option is a great way to handle this while allowing the standard prompt guided method.

The one area you can't directly specify in a site config is the DB backend, as it's a higher level configuration on the root, which isn't the end of the world, this can be provisioned in an initial `nitro init` as a first step. I tend to like to fix the MySQL version aga

[2021-03-01 16:15] jamesmacwhite commented on #262
@jasonmccallister Thanks for the quick response, sorry I didn't realise they were related! I can see some perm related errors in the Docker console window now you mention it.

Very kind of you to build a new binary, I just look at the command exec as root into the Docker container and ran `chmod 644 /etc/nginx/conf.d/default.conf` looking at the commit and that's fixed it.

Thanks for info!

[2021-03-02 08:08] toddpadwick commented on #261
Hi @jasonmccallister  seems to work now after replacing that nitro file :)
Thanks a lot!

[2021-03-02 11:26] jamesmacwhite opened #264 "[2.0.0-beta.7] WSL on Windows write permissions issue with ./craft migrate/create"
### Description

I don't think this is specific to Nitro, more likely the Docker layer as I know this happens on Docker generally as well. WSL in particularly struggles with the permissions setup due to the Docker container using `www-data`. This makes commands that perform write actions like `./craft migrate/create` fail.

[code]

This happens with `nitro ssh` or `nitro craft`. The only solution

[2021-03-02 11:49] jamesmacwhite opened #265 "[2.0.0-beta.7] nitro self-update fails without elevated privileges"
### Description

Running `nitro self-update` without sudo errors with a permission denied error, because it can't copy the new binary to `/usr/local/bin`, would it be possible to check for elevated privileges before attempting the command or similar to how the hosts file is modified, ask to be elevated when the new binary needs to be copied?

[code]

[2021-03-02 11:56] jasonmccallister commented on #264
@jamesmacwhite can you try running `php craft migrate/create test` instead of using the `./` syntax?

[2021-03-02 12:00] jasonmccallister commented on #265
@jamesmacwhite thank you for the report, I'm not sure if we should check/require elevated permissions as there are installations that do not require sudo.

I would resort to the `self-update` command as more of a last resort, we are contemplating adding .deb files for the builds to make the process of installing/updating easier on Linux distributions so I would be curious to hear your thoughts.

[2021-03-02 12:10] jamesmacwhite commented on #265
Me being lazy, I've just been using `nitro self-update` to replace the beta binaries, rather than having to manually extract a tar and mv the binary! Interesting it's not required on all environments. I figured because of the path being /usr/local/bin it would need to be elevated, this was on WSL, as you probably know I use.

Package management would be interesting. Although, `nitro self-update` w

[2021-03-02 12:15] jamesmacwhite commented on #264
Same with using php command format, trying with `nitro ssh`. Ultimately this a docker level issue I believe. I'm not sure what the permissions situation is like on real unix i.e. macOS and Linux hosts, but it's mostly down the user context in the container I believe, having `--user 1000:1000` when using docker exec works. However for most operations you don't need to set this.

[2021-03-02 12:37] jasonmccallister commented on #265
I'm all about being lazy when it comes to updating and the `self-update` command is exactly what that is for :)

We use a tool called goreleaser that makes all of these integrations easy for us to add. Specifically the `npmfs` tool which supports all of the common distros... In fact I added it this morning to build on the next release: https://github.com/craftcms/nitro/commit/b23fa702d1c761f580771

[2021-03-02 13:23] jamesmacwhite commented on #265
Ah nice! Offload that complicated mess to some other library, it's the way forward! That's what the cloud is all about right?! Package versions is certainly a good way forward then, I may still use nitro self-update, because again.. lazy ha ha.

[2021-03-02 14:47] toddpadwick opened #266 "DB engine suddenly vanished from Nitro while browsing Craft CMS admin, after an operation timed out"
### Description
I was browsing a Craft admin running on a Nitro container, when suddenly I had a operation timeout error after running very slow. when I refreshed, I then was shown the craft `Craft CMS can’t connect to the database with the credentials in config/db.php.` error.

I tried running `nitro db ssh` to investigate but the DB engine `mysql-8.0-3307.database.nitro` had vanished which is a

[2021-03-02 14:51] jasonmccallister commented on #266
@toddpadwick are you on our community discord? Can you DM me if you are. We have had some strange reports specifically for mysql, which has been notoriously "misbehaving" on Docker images (even their official). Can you also go to Docker -> Settings -> Resources and provide the CPU, RAM, and Disk space you have allocated to Docker?

[2021-03-02 15:37] jamesmacwhite commented on #266
FYI the mbind errors with MySQL 8 are general noise and a known issue with Docker, so don't worry too much about those: https://github.com/craftcms/docker/issues/20

I can't offer any insightful information on the root cause, but didn't want anyone to go down a rabbit hole on the mbind errors.

[2021-03-02 15:41] toddpadwick commented on #266
Hi @jasonmccallister . I don't have discord... I just tried to register but I got the 'based on the information provided we can't allow you to register error' so I gave up.

Here are my Docker settings:
<img width="507" alt="Screenshot 2021-03-02 at 16 40 30" src="https://user-images.githubusercontent.com/36191462/109673159-08dd2480-7b76-11eb-8606-7df4baa384bb.png">

[2021-03-02 16:50] jasonmccallister commented on #266
@toddpadwick can you bump uptake memory to something like 4 or 6 GB? That can cause mysql containers to panic... Once you set the memory and run apply, you have to run `nitro start` to get the containers back up.

Let me know if that resolves it for you.

[2021-03-02 17:11] toddpadwick commented on #266
Excellent, that worked @jasonmccallister. Thanks!

[2021-03-02 17:17] jasonmccallister commented on #266
Great will note this to add to the documentation!

[2021-03-02 17:17] #266 closed

[2021-03-02 19:01] jasonmccallister commented on #261
This has been released in the latest beta!

[2021-03-02 19:01] #261 closed

[2021-03-02 19:01] jasonmccallister commented on #262
This was released in the latest beta!

[2021-03-02 19:01] #262 closed

[2021-03-02 19:01] jasonmccallister commented on #260
This was released in the latest beta!

[2021-03-02 19:01] #260 closed

[2021-03-02 19:02] jasonmccallister commented on #257
This was released with the latest beta!

[2021-03-02 19:02] #257 closed

[2021-03-02 19:03] jasonmccallister commented on #246
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:03] #246 closed

[2021-03-02 19:03] jasonmccallister commented on #229
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:03] #229 closed

[2021-03-02 19:03] jasonmccallister commented on #224
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:03] #224 closed

[2021-03-02 19:03] jasonmccallister commented on #218
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:03] #218 closed

[2021-03-02 19:03] jasonmccallister commented on #216
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:03] #216 closed

[2021-03-02 19:04] jasonmccallister commented on #215
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:04] #215 closed

[2021-03-02 19:04] jasonmccallister commented on #210
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:04] #210 closed

[2021-03-02 19:04] jasonmccallister commented on #209
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:04] #209 closed

[2021-03-02 19:04] jasonmccallister commented on #205
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:04] #205 closed

[2021-03-02 19:05] jasonmccallister commented on #181
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:05] #181 closed

[2021-03-02 19:05] jasonmccallister commented on #182
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:05] #182 closed

[2021-03-02 19:05] jasonmccallister commented on #180
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:05] #180 closed

[2021-03-02 19:05] jasonmccallister commented on #175
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:05] #175 closed

[2021-03-02 19:06] jasonmccallister commented on #174
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:06] #174 closed

[2021-03-02 19:06] jasonmccallister commented on #152
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:06] #152 closed

[2021-03-02 19:06] jasonmccallister commented on #203
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 19:06] #203 closed

[2021-03-02 19:07] jasonmccallister commented on #20
With Nitro 2, we have a new setup and should make sure we update the documentation on how to use HMR and web pack.

[2021-03-02 19:09] jasonmccallister commented on #264
Can you perform an `ls -la` on the WSL2 terminal and with the `nitro ssh` command and provide the output here?

[2021-03-02 19:10] jasonmccallister commented on #256
This was released with the latest build!

[2021-03-02 19:10] #256 closed

[2021-03-02 19:11] jasonmccallister commented on #249
Can you go into your sites directory and run `pwd` and provide the output?

[2021-03-02 19:12] jamesmacwhite commented on #264
[code]

[2021-03-02 19:13] jasonmccallister commented on #189
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2). We made it a lot easier to run commands in the sites containers by adding the [`ssh`](https://craftcms.com/docs/nitro/2.x/commands.html#ssh) command and the [`craft`](https://craftcms.com/docs/nitro/2.x/commands.html

[2021-03-02 19:13] #189 closed

[2021-03-02 19:15] jasonmccallister commented on #169
With Nitro 2 and Docker, we added the ability to run any `craft` command with [`nitro craft`](https://craftcms.com/docs/nitro/2.x/commands.html#craft). We still do not have the ability to define "cron" jobs but this is one more step towards making working with a queue locally easier.

[2021-03-02 19:21] jasonmccallister commented on #264
Does it show the same user and group when running the `ls -la` command in WSL2?

[2021-03-02 19:31] jamesmacwhite commented on #264
No it will be under the WSL user so in my case `jameswhite:jameswhite`

[2021-03-02 19:50] jamesmacwhite commented on #264
https://user-images.githubusercontent.com/8067792/109705960-48186f00-7b90-11eb-8e1d-87e377e1539d.mp4

Quick demo with a shell. I use Windows Terminal because of it's full Unicode support (so emojis show up!), rather than a plain WSL bash terminal. It doesn't matter for this, as the error is coming from PHP I believe.

[2021-03-02 19:57] jasonmccallister commented on #264
Hmm ok, there might be an easier way to detect this going forward. We can set the user here: https://github.com/craftcms/nitro/blob/main/command/ssh/ssh.go#L169

It defaults to `www-data` or if you pass the `--root` flag it will use the `root` user. We might be able to detect is this is linux/WSL and switch it to the `1000` user/group (you are right that is the `www-data` user in the docker image)

[2021-03-02 20:02] ademers commented on #20
I've been struggling to get any kind of HMR, BrowserSync working with the Nitro 2 beta, so very much looking forward to seeing some documentation soon. This is the only thing keeping me from switching from Homestead to Nitro. 🙏

[2021-03-02 20:14] jamesmacwhite commented on #264
Could be an option, although, I'm not fully aware of the ramifications setting the user context for the overall container interaction i.e. `nitro ssh`. I assume this is specific to WSL2 because of the Docker WSL integration, so I wouldn't want to pollute Nitro with Windows hacks. I know this happens with vanilla Docker containers too through WSL.

This might need a bit more investigation, I'm not

[2021-03-02 21:17] khalwat commented on #20
imo a good approach would be this basically: https://nystudio107.com/blog/run-your-node-js-apps-buildchains-via-docker

The approach I took was to have the container mount the dir, and you do ```make docker``` and then ```make npm xxxx``` so you use NPM scripts as an avenue to run whatever you want, e.g. ```make npm install``` or ```make npm run dev``` or ```make npm run build```

This is a contai

[2021-03-02 21:41] jasonmccallister commented on #20
We do support have support for [`nitro npm <command>`](https://craftcms.com/docs/nitro/2.x/commands.html#npm) with Nitro 2.

By default, it uses the upstream `node:<version>-alpine` image from Docker Hub and places the current directory into the container. We are most likely going to add support for defining the node version per site in a future release and support something like `nvm`.

However,

[2021-03-02 21:55] jasonmccallister commented on #259
@jamesmacwhite I updated the title to reflect the feature that came out of this discussion. Hope it still makes sense!

[2021-03-02 21:55] jamesmacwhite commented on #259
Makes sense to me! Thank you.

[2021-03-02 21:56] #169 closed

[2021-03-02 21:58] jasonmccallister commented on #18
We have a pretty solid Nginx configuration with Nitro 2 that is now based on the [craftcms/docker](https://github.com/craftcms/docker) images so I'm not sure this is needed anymore?

[2021-03-02 22:03] jasonmccallister commented on #185
We just released Nitro 2 where we switched from Multipass to Docker and added a ton of new features. Please see the [announcement for more details](https://craftcms.com/blog/nitro-2).

This issue was specific to Multipass so we are going to close this out. Please see the documentation on upgrading from [Nitro 1](https://craftcms.com/docs/nitro/2.x/upgrade.html).

[2021-03-02 22:03] #185 closed

[2021-03-02 22:18] khalwat commented on #20
Yeah we were trying the `nitro npm <arg>` command, which works fine for running things in the container, but WDS needs a port exposed for HMR to work.

Is there a way to manually expose a port?

[2021-03-03 08:47] michaelroper opened #268 "PHP not using ENV ini values?"
### Description

So today I hit the stupid `max_input_vars` error when saving a matrix field. Now, the error message mentioned I'd hit the limit of _2000_, but I know that the default nitro setting is 5000, but if I look on the `/admin/utilities/php-info` page, I see this:

Why might it be using the `2000` value, and not the `5000`?

I tried the same with the `memory_limit` value, by using `nitro

[2021-03-03 13:12] jasonmccallister commented on #268
@michaelroper does your nitro.yaml have the memory provided on your site? Under sites.site.php.setting?

[2021-03-03 13:22] michaelroper commented on #268
@jasonmccallister it has the 768M value that was put there by `nitro iniset`
[code]

[2021-03-03 13:23] jasonmccallister commented on #268
I see what's happening, I'll get a fix out this morning. Sorry about that!

[2021-03-03 13:23] sidneywidmer commented on #218
Thanks for the great work with v2.0, everything works as expected :fire:

[2021-03-03 13:42] #268 closed

[2021-03-03 13:46] jasonmccallister commented on #268
@michaelroper just tagged 2.0.3 that fixes this issue.

If you can remove the `php` settings manually from your `nitro.yaml` file and after upgrading run `nitro upgrade` then `nitro iniset` you should have values that are using `_` between the names (e.g. `display_errors`) and the settings you have not modified should not longer be there.

The build takes around 5 minutes to complete. That should

[2021-03-03 14:02] michaelroper commented on #268
aha! i did notice the lack of underscores when i looked at the yaml, but figured they were just mapped through, because the env vars were correct...

thanks for the quick fix! confirmed that it does work... though a small confession - at first I thought it didn't work, because the value was still the same... and then I realised I had a .user.ini file in the web folder (for settings on heroku).. an

[2021-03-03 14:07] jasonmccallister commented on #268
That is such a happy coincidence... we planned on adding that support in the future but did not realize that it was already working so... 🎉

[2021-03-03 18:17] jasonmccallister commented on #20
A running container can't edit the exposed ports or environment variables without creating a new container. The `node` image does not expose a port in the Dockerfile so we might need to make our own image or support proxying a default port to each of the sites... We have some ideas but will nail the specifics down soon!

[2021-03-03 22:04] jamiematrix opened #269 ""Error: unknown database engine detected from file" when importing from phpMyAdmin"
### Description
I'm desperately trying to replace MAMP and Nitro 2 is looking just the thing! I was hoping to migrate existing sites over to Nitro based ones so thought I'd do the usual phpMyAdmin export of an existing DB then import into a Nitro site.
No joy. Have tried a couple of different DBs (even a fresh Craft install) and get the above error.

I'm using the phpMyAdmin export as WHEN I get N

[2021-03-03 22:14] OneMohrTime opened #270 "Nitro fails to show version, updates – but appears to still work?"
### Description

I followed the installation instructions, and completely removed multipass from my Mac. I installed through `homebrew`, and when I checked the version number, I got:
[code]

Naturally, I just tried to re-update, but I'm up-to-date
[code]

I'm not sure what config file its referencing, as there isn't one mentioned in the [instructions](https://craftcms.com/docs/nitro/2.x/updating.h

[2021-03-03 22:36] jasonmccallister commented on #269
@jamiematrix can you provide the file extension and the first 50 lines of the database file? We try to detect the engine (mysql or postgres) before running the import.

The first 50 lines should include some keywords we are looking for.

[2021-03-03 22:46] mach1media commented on #121
Just ran into this issue with Nitro v2.0.3.

My existing project's web root is `html` but Nitro didn't give me a prompt to specify... just throws an error.

[code]

[2021-03-03 22:48] jasonmccallister commented on #270
@OneMohrTime the `version` command is used to get the version of Docker, Nitro API (gRPC), and the CLI version.

From the error message above, it appears you did not run `nitro init` which is why it cannot talk to the API that does not exist.

To get the CLI version from Nitro, you can run `nitro -v`.

Perhaps we should update the `version` command to suggest running `start` or `init` to make it m

[2021-03-03 22:49] jasonmccallister commented on #121
@mach1media can you create a new issue and show the contents of that directory?

[2021-03-03 22:53] jamiematrix commented on #269
Extension is .sql
First 50 lines:
[code]
I've found a work around by creating the DB using TablePlus, then importing there. Most of the time it seems to work and connect (a few times Craft would't connect to MySQL)

[2021-03-03 22:57] jasonmccallister commented on #269
Ok, thank you. I will work on getting a fix out for this ASAP (most likely in the next couple of days).

[2021-03-03 22:59] mach1media opened #271 "nitro add throws error if web root is named 'html'"
### Description

`nitro add` throws unrecoverable error if web root does not use one of the common names in docs, ex: `public`, `public_html`, or `web`.

[code]

### Steps to reproduce

1. Navigate to `sitename.local` existing project's root
2. Run `nitro add` and see the following output...

[code]

3. Expecting prompt like `Enter the webroot for the site [web]:`

### Additional info

- Nitro ver

[2021-03-03 23:01] jasonmccallister commented on #271
That makes sense, we should not return an error but it might make sense to add that as part of the detection... Right now we support the following:

- web
- public
- public_html

I don't think its too much to add `html` but we should not throw an error if we can't find one automatically.

[2021-03-04 01:48] OneMohrTime commented on #270
Totally got it after that. I wasn't paying full attention during the switchover, I should have read more closely 🤦

[2021-03-04 04:36] kblizeck opened #272 "`nitro: command not found` on install using curl command"
### Description
- Following [Documentation here](https://craftcms.com/docs/nitro/2.x/installation.html#installing-nitro) for installing Nitro

### Steps to reproduce

1. Installed Docker Desktop 3.1.0 (made sure it was running)
2. Opened an iTerm window and ran `bash <(curl -sLS http://installer.getnitro.sh)`
3. Receive below message

[code]

### Additional info

- Nitro version: N/A
- Docker vers

[2021-03-04 10:25] kevinmu17 commented on #20
I'm trying to understand this but i can't seem to find how this can be done.

I have my project folder, did `nitro add` followed by `npm run hot`. This is with webpack&HMR. But i'm getting all sorts of errors like: net::ERR_CERT_AUTHORITY_INVALID or net::ERR_CONNECTION_REFUSED. Is this because of the PORT issue?

[2021-03-04 14:12] andrewmenich commented on #20
By default, the webpack dev-server runs on http://, unless specified otherwise with the `https` config option. Are you accessing your dev site via https://? That would explain the errors you mentioned above.

Regarding your first question, `host.docker.internal:<webpack-port>` is what you would use in your template or asset plugin (like Twigpack or Asset Rev). This is because `localhost` on your h

[2021-03-04 15:12] angrybrad opened #273 "Add support for Xdebug Cloud API token"
### Description

Similar to how we currently support Blackfire?

[2021-03-04 15:22] jasonmccallister commented on #270
@OneMohrTime the next release will check if the `init` command has been run and prompt the user to run `init` before continuing.

![CleanShot 2021-03-04 at 10 20 27@2x](https://user-images.githubusercontent.com/5354908/109986113-76529780-7cd3-11eb-91c2-8bbaace2358f.png)

[2021-03-04 15:30] jasonmccallister commented on #272
@kblizeck it might be the space in your path that is causing the error, can you try running the install command from your home directory and not `Local Sites`?

[2021-03-04 15:52] toddpadwick opened #274 "[2.0.0-beta.7] Craft can't connect to database in when installing plugins but browsing the site and the admin seem to work fine"
### Description
I can navigate the admin fine so craft is certainly accessing the database for some tasks. But when I try installing plugins both in the admin and in the terminal I get the following error:

[code]

### Steps to reproduce

1. Require plugin via composer
2. Try installing plugin via terminal or in admin
3. installation fails

### Additional info

- Nitro version: [2.0.0-beta.7]
- Do

[2021-03-04 15:54] jasonmccallister commented on #274
@toddpadwick it appears that you are running `php` from your host machine?

Can you verify your .env file is pointing to the `<db>.database.nitro` and has the right credentials?

[2021-03-04 16:52] OneMohrTime commented on #270
Great solution!

[2021-03-04 17:39] #271 closed

[2021-03-04 17:39] #269 closed

[2021-03-04 17:39] #270 closed

[2021-03-04 17:47] jasonmccallister commented on #271
This was released with 2.0.4. Please let me know if this is still an issue but it should be resolved!

[2021-03-04 17:48] jasonmccallister commented on #270
This was released with 2.0.4!

[2021-03-04 17:48] jasonmccallister commented on #269
This was released with 2.0.4 so it should detect your database engine now, it will also not throw an error if it cannot determine the engine.

[2021-03-04 20:43] artmem opened #275 "Database not created with 'nitro add', errors when trying to add later with 'nitro db add' or mySQL GUI"
### Description
Running a  new install of Docker and Nitro. 'Nitro add' seems to work -- asks if I want to add a database, asks for the name, says it was created, etc. But it doesn't seem to be creating the databases.

When I load the site, I get a 503 error.
If I run 'nitro db remove', there are no databases:
`  … removing nitro Error: rpc error: code = Internal desc = error removing database: Ex

[2021-03-05 08:40] naboo opened #276 "[FR] Add "nitro php" as command"
### Description
It would be nice to be able to run the php command through the nitro command as you would with "nitro craft".

### Why?
As an example. I had this Craft site with a Laravel independent "module". In Laravel you have this "artisan" CLI as you do with Yii/Crafts "craft" CLI. I had to locally install PHP in my distro to run it. It would be nice to have this native inside Nitro from the

[2021-03-05 09:33] steverowling opened #277 "nitro composer commands fail when there is a space in a directory name in the path to the project"
### Description

When there is a space in a directory name in the path to the project, running `nitro composer` commands, e.g. `nitro composer install`, the following error is thrown:

[code]

The site works fine and `nitro craft` commands all seem to work correctly, it's just the `nitro composer` commands that seem to be affected.

### Steps to reproduce

1. Install nitro and use `nitro add` to a

[2021-03-05 12:36] toddpadwick commented on #274
Yes it is. I can create entries and make changes in the admin which means the creds must be correct, no? I just can't install plugins.

[2021-03-05 14:36] jasonmccallister commented on #276
Thank you for the suggestion, I think this makes a lot of sense to add. You can still run the `artistan` command by adding another step:

1. `nitro ssh`
2. `php artisan`

Ideally this would work exactly the same as the `craft` and `queue` commands by being "site aware" and defaulting to a help style output (e.g. `nitro php` would run `php -v`).

We will take a look at setting this up and testing l

[2021-03-05 16:02] toddpadwick commented on #274
Done some more tests - I updated to the latest version, and I also tried switching back to my old set up (MAMP) and that worked fine.
So I can confirm there is an issue with Nitro not allowing db connections to php plugin installs. Despite edits to the admin and adding entries etc working fine.

[2021-03-05 21:03] musicaljoeker opened #278 "Unable to use Composer 1"
### Description

In the Nitro 2 composer documentation, it says it's possible to [specify version 1](https://craftcms.com/docs/nitro/2.x/composer.html#specifying-a-composer-version) by using `nitro composer --composer-version=1 install`.

### Steps to reproduce

1. `cd` to a project with nitro.
2. Try running the `nitro composer --composer-version=1 install` command.
3. See the failure messages

#

[2021-03-05 21:17] jasonmccallister commented on #278
@musicaljoeker we will have to get the composer documentation updated, that was a last minute change to simplify installation problems with Craft CMS and required PHP extensions.

However, each of the sites come with composer preinstalled. If you need to downgrade to version 1, you can perform the following:

1. `nitro ssh --root`
2. `composer self-update --1`
3. `exit`

After completing this step

[2021-03-05 22:09] musicaljoeker commented on #278
Thanks for the really quick and helpful response and for the workaround.

[2021-03-05 23:31] mattstein opened #279 "Windows hosts file editing steps missing for `create` and `add` commands"
### Description

These [really good docs](https://craftcms.com/docs/nitro/2.x/windows.html#permissions-and-manual-setup-steps) promise Nitro will output steps for manually editing `etc\hosts` in Windows:

This is true only for the `apply` command, but not when running `create` or `add`. I would expect that Nitro would output these steps any time hostnames need to be updated, regardless of the comm

[2021-03-06 00:03] jasonmccallister commented on #274
Hmmm, I’ve seen this before. With MAMP shut down can you double check your environment file and also clear your caches?

[2021-03-06 00:04] jasonmccallister commented on #279
I’m pretty sure I know what this is and will look into it soon.

[2021-03-06 16:10] umkasanki opened #280 "[Windows/WSL2] Permission issue on nitro create / nitro composer install"
### Description
I get an error when trying to execute `nitro create` or` nitro composer install`.

### Steps to reproduce

1. Install Nitro
2. Try to create 1st project

### Additional info

- Nitro version: 2.0.3
- Docker version: 3.2.1
- Windows 10 / WSL2

[code]

[code]

[2021-03-06 19:58] mattstein commented on #18
I could personally live without it, but there are cases where it’d be nice to test something nginx- or Apache-dependent locally rather than resorting to another dev environment or just crossing your fingers in staging/production.

I use the example of [Blitz’s static cache setup](https://putyourlightson.com/plugins/blitz#nginx) because I expect that’s fairly common in the community.

But again: a

[2021-03-07 08:49] jamesmacwhite commented on #280
For Windows, you will encounter permission issues because of the way Docker and WSL integration is. It's actually a WSL/Docker level problem not specific to Nitro as you'll encounter the same issues with php-fpm containers with Docker generally. The quickest way to resolve is to do `chmod 777` on certain paths:

https://craftcms.com/docs/nitro/2.x/windows.html#permissions-and-manual-setup-steps

I

[2021-03-07 08:54] jamesmacwhite commented on #279
Hopefully if possible and based on further investigation, the ambition in the future would be for Nitro to be able to commit the `/etc/hosts` content directly to the Windows system hosts file too, as the `/mnt/c/` path is exposed through WSL, the only caveat is an elevated WSL terminal is needed to be able to do this, as even with sudo without the process being elevated to begin with from the Wind

[2021-03-07 15:12] umkasanki commented on #280
Thanks.
Yes, I understand.
There is no question when you deploy an existing project in Nitro. But when creating a new project, when the composer.lock file does not exist yet, this is not very convenient. Because after running the 'nitro create' command, I should remember to add write permissions before proceeding to next steps...

[2021-03-08 10:55] pom-pom commented on #275
I'm having the exact same issue as described, also on a Mac

[2021-03-08 13:46] jasonmccallister commented on #275
@artmem and @pom-pom, I have identified the issue and will resolve this with the next release.

[2021-03-08 13:48] jasonmccallister commented on #280
@umkasanki can you provide the output of `ls -la` in your directory where you are running `create` and `composer` commands?

[2021-03-08 14:02] umkasanki commented on #280
@jasonmccallister
![изображение](https://user-images.githubusercontent.com/496132/110331314-02482480-8030-11eb-8218-50b67b8c12d1.png)

[2021-03-08 14:06] jasonmccallister commented on #280
How was the `test-project` directory created?

[2021-03-08 14:11] umkasanki commented on #280
@jasonmccallister
test-project and test-project2 crated by `nitro create project-name` command

[2021-03-08 14:19] jasonmccallister commented on #280
Thank you, I will look into the best way to resolve this going forward.

For now, you can run `sudo chown -R mishkin:mishkin test-project` to set the permissions based on your user.

[2021-03-08 14:22] umkasanki commented on #280
Thanks

[2021-03-08 18:42] jasonmccallister commented on #275
To fix this now, you can run the following commands, which should have been run during the init process. You should only have to do this once!

1. `nitro db ssh`
2. `mysql -uroot -pnitro -e "CREATE USER IF NOT EXISTS 'nitro'@'localhost' IDENTIFIED BY 'nitro';"`
3. `mysql -uroot -pnitro -e "GRANT ALL PRIVILEGES ON *.* TO 'nitro'@'%';"`
4. `mysql -uroot -pnitro -e "GRANT ALL PRIVILEGES ON *.* TO 'ni

[2021-03-08 19:29] MattWilcox opened #282 "PDO Drivers are limited?"
### Description

Yii supports PHP PDO and ought to be able to connect to many database types. I was using the Connect plugin to try to connect to an MSSQL database externally; but it looks like the Nitro images only include PDO drivers for mysql and pgsql; which means it's not possible to use Connect or Yii with other database types.

https://github.com/nystudio107/craft-connect/issues/11

Would i

[2021-03-08 21:50] jasonmccallister commented on #282
@MattWilcox Craft does not support MSSQL out of the box so we do not install the drivers for interacting with that type of database.

If you are on Nitro 2, you can run `nitro ssh --root` and install additional packages with `apk add <package>`. A complete list of packages is [available here](https://pkgs.alpinelinux.org/packages).

It does not appear there is a mssql package in Alpine (I have not

[2021-03-08 22:09] jasonmccallister commented on #282
I did find this instruction from the Microsoft documentation for setting the drivers in Alpine Linux: https://docs.microsoft.com/en-us/sql/connect/php/installation-tutorial-linux-mac?view=sql-server-2017#installing-the-drivers-on-alpine-311-and-312

[2021-03-08 22:30] MattWilcox commented on #282
Yeah, I'm only after the PDO driver. The database is offsite and off server, but the docs would indicate that Yii2 should be able to connect to MSSQL no issue; the problem appears to be only that Nitro does not ship with the PDO Drivers for anything other than mysql and pgsql.

[2021-03-09 09:55] emarthinsen commented on #280
FWIW, I'm running into the same issue using Craft Nitro on Ubuntu. The group and owner for all created files is `emarthinsen"emarthinsen`, so my user account. I get the same error if I run `nitro composer install`. The same error popped up when I initially ran `nitro create test-site`.

For me, having Nitro make the permissions "just work" would be an amazing win.

[2021-03-09 11:36] MattWilcox commented on #282
Thanks for looking into this Jason. I've not managed to get the drivers installed manually as there's some issue with the scripts MS provide...

[code]

Not to mention this "would be ephemeral" as the nitro ssh --root warning mentions.

I don't think working with MSSQL is a go, and this is clearly outside of the scope of Nitro and Craft's goals at the moment.

[2021-03-09 11:36] #282 closed

[2021-03-09 19:52] angrybrad commented on #255
Resolved in docs here: https://github.com/craftcms/docs/commit/4c401645bf71ac8cf8f36164709b10296d835b27

[2021-03-09 19:52] #255 closed

[2021-03-09 20:13] #275 closed

[2021-03-09 20:13] #276 closed

[2021-03-09 20:13] #277 closed

[2021-03-09 20:13] #279 closed

[2021-03-09 20:16] jasonmccallister commented on #265
@jamesmacwhite not sure if we are going to require sudo permissions to run this command as it enforces the binary to require sudo permissions.

Alternatively, we are entertaining the idea of creating a small apt repository to allow `apt-get install nitro` so we most likely will not force sudo users before running this command.

Did `sudo nitro self-update` work for you?

[2021-03-09 20:18] jasonmccallister commented on #264
Just a quick update, I'm diving into Docker's bind mount documentation and trying to find an automated way around this, it might be as simple as detecting if the OS is Linux and providing the `user` with the group @jamesmacwhite mentioned.

[2021-03-09 20:18] jamesmacwhite commented on #265
Yes. Doing `sudo nitro self-update` works. I'll condition myself to just prepend sudo before it, so it's fine. I wondered if it was something required all on environments but sounds like it isn't, so could just be an additional Windows specific reference in the docs perhaps.

[2021-03-09 20:21] angrybrad commented on #272
Fixed in https://github.com/craftcms/nitro/commit/e1da66122b225744a09e0ce9fe775f6415847165

The installer will now work if it is run from a working directory that has spaces in the path.

[2021-03-09 20:21] #272 closed

[2021-03-09 20:21] jasonmccallister commented on #223
Closing this as resolved!

[2021-03-09 20:21] #223 closed

[2021-03-09 20:23] jasonmccallister commented on #274
@toddpadwick is there a chance the db credentials were cached and MAMP was still running? Also what OS are you running where you are seeing this issue?

[2021-03-09 20:24] jamesmacwhite commented on #264
Thank you for your continued investigation. From what I know it's certainly at the Docker level. Same issue occurs if you just use the Craft CMS docker images standalone without Nitro, but this isn't specific to Craft CMS either. I assume it is related to the PHP-FPM process running under www-data in the container and then essentially writing to host filesystem with a UID that isn't able to write.

[2021-03-09 21:09] kblizeck commented on #272
Thank you @angrybrad!

[2021-03-09 22:22] lindseydiloreto opened #283 "`nitro start myproject.nitro`"
I've recently been trying (and failing) to start only a single project using the following command...

[code]

I soon came to discover that `nitro start` does not work like that, and the project specification was being ignored.

Could it though? It would be awesome if we could only start a single project at a time (and its related dependencies).

[2021-03-09 22:26] lindseydiloreto opened #284 "`nitro switch myproject.nitro`"
Along the same lines as #283, it would be awesome if we could easily `switch` between active projects...

[code]

Running that would:

 1. Stop the current project
 2. Start the new project

This would be really helpful in keeping the number of active containers to a minimum. Let me know what you think!

[2021-03-09 22:36] mattstein commented on #284
Have done some thinking about this and would prefer something that doesn’t specifically limit you to running one project at a time. FWIW my preference would be to combine this FR with #283:

- Add a `nitro start-site` command for specifically starting the site you’re looking at, or prompting for one if it’s not clear from your current context (`pwd`).
- Add a `nitro stop-site` command for doing th

[2021-03-09 23:35] lindseydiloreto commented on #284
I'm mostly on board with this @mattstein, except that it doesn't address the central issue. If you _want_ to be running only a single project (and its dependencies), what is the optimal way to switch between projects?

Yesterday, I [asked in Discord](https://discord.com/channels/456442477667418113/456448961679589386/818555031841407060) what is the best way to handle multiple Docker containers, and

[2021-03-09 23:53] lindseydiloreto commented on #284
Lol, no worries! It probably ties in even better with my other FR.

Well... if I can't figure out a way to restrict her to "one site at a time", then I can report back in a few months about the cumulative impact. 😄

[2021-03-10 02:51] emarthinsen opened #285 "`nitro npm install` should accept flags"
The title sums it up, but the exact use case is that I wanted to install some npm packages as dev dependencies. Passing the `-D` flag generates an error.

[2021-03-10 08:26] jskrivanek opened #286 "Can't remove database: "rpc error""
### Description

Would like to remove a database via `$ nitro db remove`.

Error message after executing the command above:
```… removing Database Error: rpc error: code = Internal desc = error removing database: unable to start the command: fork/exec /usr/bin/mysql: invalid argument```

### Steps to reproduce

1. `$ nitro start`
2. `$ nitro db remove`

### Additional info

- Nitro version: 2.0.5

[2021-03-10 12:04] kevinmu17 commented on #20
If https config option is off in webpack I get: net::ERR_SSL_PROTOCOL_ERROR
If https config option is on in webpack i get: net::ERR_CERT_AUTHORITY_INVALID

I did run this Nitro command: https://craftcms.com/docs/nitro/2.x/commands.html#trust

I am using Asset Rev. There was a little documentation in the config
[code]

So here is where it starts to feel like magic for me... in the .ENV file i have

[2021-03-10 14:02] jasonmccallister commented on #286
@jskrivanek did you happen to create your environment on an earlier version of Nitro?

The command is saying the mysql tool is not installed, you might be able to run `nitro update` to pull the latest Docker images from Docker Hub and Nitro will recreate the containers for you. That should resolve it but let us know if it does not!

[2021-03-10 14:03] jasonmccallister commented on #285
Hi @emarthinsen! We are making some big changes to how the `npm` command works in the next release to better support webpack and HMR. This is something we will include with the next release!

[2021-03-10 14:26] jskrivanek commented on #286
@jasonmccallister Correct, did `nitro update` now and restarted (though `nitro update` is automatically executed after `nitro self-update`). Now I get an extended error:

[code]

[2021-03-10 17:54] sidneywidmer opened #288 "Xdebug and Linux: host.docker.internal"
### Description
Currently xdebug does not work on linux since xdebug.client_host is hardcoded to `host.docker.internal` which does not exist in docker for linux.

Since docker version 20.10 it's possible to add it manually: https://github.com/docker/for-linux/issues/264#issuecomment-714253414 so this could potentially be a simple fix.

I also tried to overwrite it in a custom .user.ini which didn'

[2021-03-11 10:28] howells opened #290 "CORS issue with images"
### Description

This is no doubt a problem with me not understanding how nitro really works but when using it heedlessly I get CORS issues when accessing an image via node which I don't have with MAMP:

`Access to image at 'http://example.nitro/images/neuro.fluoro3.png' from origin 'http://0.0.0.0:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the req

[2021-03-11 15:16] mattstein opened #291 "Windows `trust` command suggestion includes newline and cruft"
### Description

When running `nitro trust` in WSL2, this exact output is printed as shown:

[code]

If one literally copies the following as instructed, disappointment will follow:

[code]

But the line should obviously read:

[code]

### Steps to reproduce

1. Make sure Nitro is running in Windows and open an Ubuntu shell.
2. Run the `nitro trust` command.
3. Observe output as stated above.
4. R

[2021-03-11 17:29] theduxinlux commented on #280
Additional workaround comment.
using Windows 10 with WSL Ubuntu 20.04
I set up my working directory in the Linux directory system as per the recommendation.
I ran `nitro create tutorial`
This gets stuck at the composer.lock as per this issue.
What I then did was
`cd tutorial`
`touch compose.lock` # as it doesn't exist
`mkdir vendor` # as it also doesn't exist yet
`cd ..` # to go back up to do a la

[2021-03-12 04:25] lindseydiloreto commented on #259
This sounds fantastic! I just have two questions...

 - Would it work with `nitro create`?
 - Would it handle each question/answer individually?

In other words, could we pre-fill certain values (like which PHP version to use), while leaving other values to be specified at runtime (like database name and local URL)?

[2021-03-12 13:49] jasonmccallister commented on #290
@howells in the Docker image that is used for Nitro sites, we allow CORS here: https://github.com/craftcms/docker/blob/main/nginx/dev.default.conf#L23

Can you verify you are on the latest version of Nitro with `nitro version`? You may need to run `nitro update` to get the latest Docker images.

[2021-03-12 13:51] jasonmccallister commented on #288
@sidneywidmer I see where this is an issue and will get resolved with the next release! Sorry about that.

The Xdebug documentation can be a little hard to read but the environment variable takes precedence.

[2021-03-12 15:03] mattstein commented on #259
@lindseydiloreto I’d imagined the behavior for `nitro add` grabbing answers from the (future) project YAML, prompting only for the answers it needs (or any that are invalid in the YAML). If you didn’t know about the feature, `nitro add` would still behave as it does currently.

I guess I’d expect the same behavior from `nitro create`, but I’m just thinking out loud.

[2021-03-12 15:24] jamesmacwhite commented on #291
Possible regression from: https://github.com/craftcms/nitro/issues/257

[2021-03-12 15:40] jasonmccallister commented on #288
@sidneywidmer looking into this, does the host `host-gateway` resolve while inside a container using `nitro ssh --root` (`ping` is not available as the `www-data` user)?

[2021-03-12 15:46] jasonmccallister commented on #259
I think these are related but not the same. Using `nitro add|create` is the way to generate a config, project specific or not. Having a project `nitro.yaml` with the basic information is somewhat different as someone already generated the config.

Would it make sense to add `nitro add|create --defaults` that will would do the following:

1. Assign the hostname based on the directory (append a `.ni

[2021-03-12 16:35] mattstein commented on #259
This is where I think of it differently: as a developer I’m not interested in making a config but in spinning up a site to work with.

I don’t care about the config, I run `add` or `create` to get a running site and don’t want to deal with prompts every time if I already know the answers. I’d rather provide answers in some way Nitro understands, otherwise I’ll have to detail them in setup instruct

[2021-03-12 17:41] sidneywidmer commented on #288
No, this is just a special string that gets resolved to the hosts IP if used in the `--add-host` parameter. Just to double check i tried to ping it (as root) and as expected I get `ping: bad address 'host-gateway'`. Together with said add-host param it can be used to make `host.docker.internal` as domain name available inside docker containers on linux.

[2021-03-12 17:46] lindseydiloreto commented on #259
I agree with @mattstein... if `--defaults` is referring to a set of defaults that **I specifically set**, then that sounds good. But if it's just making a bunch of assumptions about "the latest" version of everything, that won't really cover it.

For example. we use PHP 7.4 for every single project. We're not ready to jump into PHP 8. So for the defaults, we'd need to be able to specify PHP 7.4. S

[2021-03-12 17:52] lindseydiloreto opened #292 "Alternate TLD suffix"
By default, Nitro assumes that we want our local URLs to end in `.nitro`. Would it be possible to override the default TLD?

For example, we use the common practice of having a `.test` suffix. It would be great if we could specify that as the default!

I love that Nitro will automatically assume the folder name for the local URL. If we could specify the TLD, it would make that feature even more he

[2021-03-12 17:54] lindseydiloreto commented on #259
Tangentially related to #292...

If we could set a default local TLD, that would also be amazing!

[2021-03-12 18:05] jamesmacwhite commented on #292
I believe this is possible through environment variables.

https://craftcms.com/docs/nitro/2.x/customizing.html#nitro-environment-variables

`NITRO_DEFAULT_TLD`

[2021-03-12 18:07] jasonmccallister commented on #292
@lindseydiloreto... @jamesmacwhite literally beat me to the punch there!

You can add the following to your `~/.zshrc` file to set the environment variable:

[code]

That will be used the next time to open your shell!

[2021-03-12 18:09] mattstein commented on #292
Oh come on. Actually knew something and showed up three minutes too late.

[2021-03-12 18:16] lindseydiloreto commented on #292
Ahh, fantastic! Can that same approach be used to address #259?

[2021-03-13 00:58] #292 closed

[2021-03-15 09:50] jamiematrix commented on #291
Will this also fix the same message displayed when running `nitro init` using WSL? Assuming init process also runs `nitro trust` at the completion stage?

[2021-03-15 13:09] jasonmccallister commented on #291
@jamiematrix yes that is correct. The `init` command calls the `trust` command right after so fixing it there will resolve both.

[2021-03-15 14:43] stenvdb opened #293 "Specify database name in db import command"
Would be handy to be able to specify the database name in the nitro db import command. That way it would be a single command without the extra prompt and is easier to integrate with some pipeline / deployment process.

[2021-03-15 15:07] jasonmccallister commented on #293
@stenvdb would something like `nitro db import --name mydb my backup.sql` and having it skip the prompt work?

[2021-03-15 15:31] stenvdb commented on #293
Yes exactly! I have a bash script that fetches a remote db and imports it, this would help.

[2021-03-16 04:58] lindseydiloreto opened #294 "`cpresources` directory in the wrong place"
### Description

It seems like Nitro is determined to put a `cpresources` directory at the `path`, instead of at the `webroot`. Not sure if there's a bug in Nitro, or if I'm just doing something wrong.

[code]

Whenever I load a page of the CP, it incorrectly creates and/or updates this directory...

[code]

... instead of the expected directory...

[code]

It's possible that there's a mistake on

[2021-03-16 14:42] toddpadwick commented on #274
Hi @jasonmccallister  i am on Mac Catalina 10.15.7.

I have also updated to Nitro 2.0.5.

I haven't run MAMP in a few days now and have cleared the craft Cache in the admin. I have also tried clearing the composer's cache. But I still can't install or update composer plugins in the command line. As before, I have no problem accessing the craft admin and saving entries however, which confirms the D

[2021-03-16 15:06] mattstein opened #295 "Zsh command completion does not work"
### Description

Nitro’s command completion for Zsh on macOS does not work [as described in the docs](https://craftcms.com/docs/nitro/2.x/commands.html#completion) and craftcms/docs#170.

It looks like this is because the zsh command script output is for a command called `zsh` when it should be for a command called `nitro`. So whether you follow the instructions to write a `~/.zsh/completions/_nit

[2021-03-16 17:41] olets opened #296 "specify ARM64 mysql image to support m1 machines"
### Description

`nitro init` has an M1 check which says MariaDB must be used.

`pkg/setup/setup.go` includes a note pointing to https://docs.docker.com/docker-for-mac/apple-m1/. The official recommendation there is to specify ARM64:

On other projects this has worked without a hitch for us, for example in docker-compose.yaml adding

[code]

to a "`mysql`" service.

Not sure how best to translate

[2021-03-16 18:34] watershed commented on #125
Just noting that the Nitro 2 version of Ryan's [doc link above](https://github.com/craftcms/nitro/issues/125#issuecomment-626220557) is now at:

https://craftcms.com/docs/nitro/2.x/usage.html#connecting-to-the-database

[2021-03-16 18:43] olets opened #299 "instruct users to run the init command after installing"
### Description

The docs (craftcms.com/docs/nitro/2.x/installation.html#macos-via-brew) say to run nitro init after installing. It would be helpful if Homebrew reported that as well.

[2021-03-16 20:02] olets commented on #233
@jasonmccallister I hit this too, likewise with Homebrew services. In my case the conflict was with redis:

[code]

To me this is a bug. My team currently uses an own-rolled docker-compose solution for Craft development. Our setup includes a redis service and a mysql service, and neither conflicts with host Homebrew services.

[2021-03-16 23:28] angrybrad commented on #295
Fixed for next release.

[2021-03-16 23:28] #295 closed

[2021-03-17 03:45] danieladarve opened #297 "Be able to use shared SSH keys"
### Description
I have a project that has a private repository, when I run composer install, it fails.
Using a docker-compose.yml i usually can add my shared keys like so
[code]
It would awesome if nitro could implement something similar in the nitro yml like:
[code]

[2021-03-17 09:47] aloco opened #298 "can´t disable opcache via Nitro CLI"
### Description

Hi,

we experienced some issues with opcache configuration. We enabled opcache via `nitro iniset` and `opcache_enable`. We experienced issues with PHP files which were not invalidated and therefore wanted to disable opcache. After going through the configuration steps, opcache is still enabled. It seems like the container env vars are not updating correctly since `PHP_OPCACHE_ENAB

[2021-03-17 13:11] jasonmccallister commented on #298
I can confirm this and will get started on a fix for the next release.

[2021-03-17 13:13] aloco commented on #298
Thanks a lot!!

Can you also confirm that PHP files in opcache are not invalidating? Do you need more information on this?

[2021-03-17 13:16] jasonmccallister commented on #298
I have not checked the invalidation yet, but the docker container is not recreated when the setting is changed. To work around this now you can perform the following steps:

1. Update the setting to disable opcache (should update the `nitro.yaml`)
2. Manually remove the container (using Docker Desktop or `docker container rm -f <yoursite.nitro>`)
3. Run `nitro apply` to recreate the container

[2021-03-17 16:01] jasonmccallister commented on #294
@lindseydiloreto do you have an environment variable where you are setting the path?

[2021-03-17 16:08] jasonmccallister commented on #296
Hi @olets! We discussed hard coding the platform into the Docker request as this forces the container to use emulation but decided against forcing ARM64 platforms to emulate architectures for a better experience. The real issue with mysql is they have not published an ARM tag like mariadb and many other images (see the following screenshots).

I think we will eventually have to update Nitro to def

[2021-03-17 16:14] jasonmccallister commented on #233
@olets to avoid confusion, we try to utilize default ports for services. This reduces the need for someone to make additional configuration changes to their code or GUI. We do have a way to [customize default ports](https://craftcms.com/docs/nitro/2.x/customizing.html#how-to-customize-nitro-s-defaults) for users who need to run something like redis outside of Nitro. If you need to keep a redis ins

[2021-03-17 16:44] lindseydiloreto commented on #294
[code]

On my other projects (where I don't seem to be having this issue), the variables are called `CONFIG_SITEURL` and `CONFIG_SITEPATH` respectively. I believe those are the Craft defaults names... does Nitro reference `CONFIG_SITEPATH` explicitly?

[2021-03-17 17:10] olets commented on #296
That all makes sense.

Is there a possibility where the decision could be left to the user? Maybe instead of showing M1 users "You can't use MySQL" the message could be something along the lines of

and if the user says yes then add `platform: linux/x86_64`? Without that, until MySQL ships full support Nitro may not be an option for MySQL shops where there are any M1 users. (Though hopefully that

[2021-03-17 17:38] jasonmccallister commented on #294
Nitro sets only PHP specific settings and uses the `.env` to load what you set. Are there any aliases for the web/root?

[2021-03-17 17:41] lindseydiloreto commented on #294
Not sure if this is what you're asking, but these are my Craft aliases in `config/general.php`...

[code]

[2021-03-17 17:43] jasonmccallister commented on #297
@danieladarve I really like this idea. I have not seen the `secrets` key on the `docker-compose.yaml` file before, are you using Docker Swarm locally? Docker does not support secret creation without Swarm.

[2021-03-17 18:27] #288 closed

[2021-03-17 18:27] #291 closed

[2021-03-17 18:27] #298 closed

[2021-03-17 22:03] danieladarve commented on #297
@jasonmccallister you can use secrets without swarm, they work similar to how define volumes
See [Docs](https://docs.docker.com/compose/compose-file/#secrets) and [PR](https://github.com/docker/compose/pull/4368)

https://medium.com/trabe/use-your-local-ssh-keys-inside-a-docker-container-ea1d117515dc

[2021-03-17 22:09] jasonmccallister commented on #297
Ahh ok, using a volume makes sense... I tried through `printf somesecret | docker secret create my_secret -` and got the following:

[code]

Will have to look into this some more, thank you!

[2021-03-18 05:27] lindseydiloreto commented on #294
I got this all sorted out! It was a fundamental misunderstanding of what the `/app` directory was mapped to.

[code]

In this context, the `/app` directory would be mapped to `~/Sites/projects`. Once I realized that, I was able to correct my `webroot` accordingly.

Thanks for all of your help getting this cleared up @jasonmccallister! 🍺

[2021-03-18 05:27] #294 closed

[2021-03-18 05:47] lindseydiloreto opened #300 "[FR] Prompt to set the `path`"
Here is a Nitro config from a [loosely related thread](https://github.com/craftcms/nitro/issues/294#issuecomment-801637989)...

[code]

When adding a new Nitro site, you will see the following prompt:

[code]

**Can we get a similar prompt for the `path`?**

[code]

Those two values obviously go hand-in-hand. Looking at the config example above, it's clear that specifying a `webroot` of `public` b

[2021-03-18 07:46] michaelroper opened #301 "nitro craft command doesn't accept flags"
Not sure if this related to one of the other issues you mentioned that you're already working on (#285), but the `nitro craft` command doesn't seem to accept passing flags through either?

It doesn't work from my local machine:
[code]

but from within the container works as expected:
[code]

### Additional info

- Nitro version: 2.0.6
- Docker version: 20.10.5 (the engine version, right?)

[2021-03-18 12:09] aloco opened #302 "opcache not invalidating when working with twig files"
### Description

With opcache enabled, PHP file changes are recognized as expected and are invalidating the opcache. However, when making changes in twig files, it seems like those are not recognized. The HTML output stays the same. When disabling opcache, changes are always recognized

### Steps to reproduce

1. enable opcache
2. make changes in a twig file
3. changes are not visible

### Additio

[2021-03-18 12:26] jasonmccallister commented on #300
Hmmm, the add command accepts an argument for the path. You can use `nitro add ~/Sites` and it will use the path provided. Not exactly what you're asking for but wondering if that would work for your use case?

[2021-03-18 13:35] jasonmccallister commented on #302
Can you [disable template caching](https://craftcms.com/docs/3.x/config/config-settings.html#enabletemplatecaching) and see if the changes are updated?

[2021-03-18 13:36] jasonmccallister commented on #301
Just pushed this up for the next release, also added the same to the `queue` command. Will go out with the next release!

[2021-03-18 13:40] jskrivanek commented on #302
How do I disable opcache with nitro?

[2021-03-18 13:49] aloco commented on #302
Unfortunately still no changes are updating

[2021-03-18 13:53] jasonmccallister commented on #302
@jskrivanek the opcache extension is installed but not enabled by default. If you enable opcache using `iniset` you can disable it in the same way.

![image](https://user-images.githubusercontent.com/5354908/111637426-ca7b7280-87cf-11eb-8e7e-7ba3a1ff1593.png)

[2021-03-18 13:58] jasonmccallister commented on #302
@aloco I just tried and I am getting the same thing. I know Twig has its own template caching. I'm going to ask someone who knows more than I do (aka Brad) and chat with him about it this morning because I know we had this discussion in the past.

[2021-03-18 14:11] jasonmccallister commented on #302
@aloco can you answer the following questions so we can perform some investigation?

1. What is the average response time (network tab in the browser) for the users page with opcache **enabled**?
2. What is the average response time (network tab in the browser) for the users page with opcache **disabled**?
3. How much RAM and CPU are assigned to Docker Desktop (_Settings -> Resources_)?
4. What pa

[2021-03-18 14:41] ademers opened #303 "Add command to remove custom containers"
### Description

Add a command `nitro container remove` or `nitro container rm` to remove custom containers created via the existing `nitro container new` command. This command should remove the relevant key/value pairs in the `nitro.yaml` file, so that the containers don't get recreated.

See Discord: https://discord.com/channels/456442477667418113/707324026577485934/821858164877819995

Thanks fo

[2021-03-18 15:22] jasonmccallister commented on #303
Just pushed this change up and it will go out with the next release! The next release will also include a lot of aliases for commands (e.g. `nitro container remove` can be called with `nitro container rm`).

[2021-03-18 15:25] jasonmccallister commented on #302
I found a way to make this work, but may require an upstream change in Craft. Discussing with the team to verify it will not break other changes as expected.

I made this change locally and enabling opcache I can see response times consistently below 300ms with fast updates to Twig templates! 🥳

[2021-03-18 15:37] peteheaney opened #304 "No database engine options when adding a site"
### Description

When adding a site, when it asks "Select the database engine", there are no options listed.  I can't get past this point.

<img width="358" alt="Screenshot 2021-03-18 at 15 27 30" src="https://user-images.githubusercontent.com/29060670/111652045-a71bec00-87fe-11eb-8303-79c349191d0e.png">

Possibly relevant: during installation of Nitro, I answered Yes to "Would you like to use MyS

[2021-03-18 15:40] jasonmccallister commented on #299
Thanks for pointing this out @olets! We have it ready for the next release!

[2021-03-18 15:52] jasonmccallister commented on #304
@peteheaney can you provide your `nitro context --yaml` output?

[2021-03-18 16:28] peteheaney commented on #304
[code]

Thanks

[2021-03-18 16:30] jasonmccallister commented on #304
Are you running a mysql database locally with another development tool? It seems it did not create the database or the proxy container. Can you change the port on the database to 3307 and run `nitro apply`?

[2021-03-18 16:32] jasonmccallister commented on #258
I'm pretty sure we can close this issue out with the changes we have made to the 2.0.x releases?

[2021-03-18 16:34] peteheaney commented on #304
Yes, I'm running Valet.  Sorry, I should have mentioned that.

I've tried changing the port to 3307 and running `nitro apply`.  I get the error:

[code]

[2021-03-18 16:48] jasonmccallister commented on #304
Ahh ok that makes sense, Nitro needs port `80`, `443`, and `5000` for the proxy and Valet is going to interfere with setting up Nitro. You can stop Valet and try `nitro init` again. You can also use the `portcheck` command to see which ports are conflicting.

If you need to have Valet running (not recommended) you can[ customize the default following this article](https://craftcms.com/docs/nitro/2

[2021-03-18 16:58] peteheaney commented on #304
I disabled Valet and that seems to have done the trick.  It seems something on my machine is already using port 6379 as well so I got an error for redis. But that's OK, I can work that one out now I know what I'm looking for!

Ultimately I won't have Valet running, but I'm working on sites at the moment so can't get rid of Valet until I've got Nitro up and running.

Thanks for your help!

[2021-03-18 16:58] #304 closed

[2021-03-18 17:35] lindseydiloreto commented on #300
This is actually using `nitro create` to spin up a customized starter Craft site in a brand new Nitro container.

[2021-03-18 17:39] olets commented on #296
PS I see I misread the Docker official recommendation. Change my initial sentiment from "this is not what Docker recommends" to "my team hasn't had any problem with emulation in mysql containers." Of course that still doesn't mean _no one_ will have a problem — you're definitely right that simply quietly hardcoding it isn't a good solution.

[2021-03-18 20:14] ademers commented on #286
On 2.0.6, and was getting `removing example_craft3 Error: rpc error: code = Internal desc = error removing database: Exit Status: 1` I did what you suggested above and was able to then run command without error.

[2021-03-19 03:05] danieladarve commented on #169
But what if you also work in other platforms?
Is the intention that craftnitro is only to be used for craftcms?

[2021-03-19 16:03] jasonmccallister commented on #169
@danieladarve while Nitro is tuned for Craft we also support other frameworks. Here are a couple ways you can use other frameworks with Nitro:

1. You can create a Laravel project `nitro composer create-project laravel/laravel example-app`
2. Adding sites with `nitro add` will detect webroots besides `web` such as Laravel, Yii, or Symfony projects
3. We added `nitro php` to allow people to run any

[2021-03-19 16:05] tamlyn commented on #177
For Nitro 2.0 which is based on Docker, you can get Twigpack working with the following config, assuming you're running Webpack on the host.

In `twigpack.php`:

    'devServer' => [
        'manifestPath' => 'http://host.docker.internal:8080/',
        'publicPath' => 'http://localhost:8080/',
    ],

In `webpack.config.js`:

    devServer: {
      disableHostCheck: true
    },

[2021-03-19 17:01] jayhlee opened #305 "File/image uploading issues: "Does not appear to be an image""
### Description
When I try to upload an image, I get error stating that `The file "/app/storage/runtime/temp/myimage-6054d5e1566465.0909298.jpg" does not appear to be an image.` The file is definitely an image, however. I set the permissions on my "storage" folder to 777 (in case it was a permissions issue), but that didn't resolve the issue. Adding an image directly within my assets folder and th

[2021-03-19 17:06] angrybrad commented on #305
Are you using PHP 8?

[2021-03-19 17:33] angrybrad commented on #305
Also, probably worth updating to the latest 2.0.6 release - you're still running a beta version.

[2021-03-19 18:04] jasonmccallister commented on #300
In that case, the path is defined and created for you as part of the download. There are quite a few options on the create command, might be worth looking at `nitro create -h` for more details.

[2021-03-19 18:21] jayhlee commented on #305
@angrybrad Yes, running PHP 8. I also just upgraded to Nitro 2.0.6 (and restarted Nitro), but that didn't seem to iron out the issue.

[2021-03-19 18:40] jayhlee commented on #305
@angrybrad Just downgraded to PHP 7.4 and all seems to work. I guess it's a PHP 8 thing.

[2021-03-19 19:18] angrybrad commented on #305
You're probably uploading an image in a format that GD doesn't support and Imagick doesn't have an official PHP 8 release yet because of https://github.com/Imagick/imagick/issues/358

So you'll probably need to stick with PHP 7.x for now.

[2021-03-19 19:18] #305 closed

[2021-03-19 20:52] lindseydiloreto commented on #300
That sounds promising! Except it doesn't look like there are any other flags beyond `-h, --help`...

[code]

Can I also use any flags destined for `composer create-project`? And if so, how could I steer the `nitro.yaml` to reflect my desired `path` and `webroot`?

I am [mounting an entire development folder](https://craftcms.com/docs/nitro/2.x/usage.html#mounting-your-entire-development-folder), w

[2021-03-20 17:51] yanickrecher opened #307 "Nameserver issue, when request a host with CURL"
### Description
When try to request a host(in this example ws-vakanz.sopweb.ch) via CURL i get a error by using curl_error()
`Could not resolve host: ws-vakanz.sopweb.ch`.

That never happen with Nitro(multipass) or Homestead/Vagrant.

I found out it has something to do with the configured nameserver in docker, so i changed the nameserver in  /etc/resolv.conf to 8.8.8.8 (instead of 127.0.0.11)
Aft

[2021-03-22 10:00] aloco commented on #302
Hi Jason,

I made some tests with one of our sites in development mode. Currently there is no eagerloading, cache tag etc. configured

1) What is the average response time (network tab in the browser) for the users page with opcache **enabled**?
opcache **enbaled**
- Frontend Home single: 2.0-2.2 seconds
- Frontend Simple sprig component: 0.2 seconds
- CP Dashboard: 1 second
- CP Settings: 0.6 sec

[2021-03-22 12:25] johnwbaxter commented on #280
I have this also and I'm on linux desktop, not WSL.

[2021-03-22 12:28] johnwbaxter opened #308 "Craft install error - Function must be enabled in php.ini by setting 'xdebug.mode' to 'develop'"
### Description

I'm on Pop_Os 20.10

I ran `nitro create` and after installing the site ( i had permissions issues too https://github.com/craftcms/nitro/issues/280 ) I then ran through the craft installed and it got the install part and then failed with this error:

[21-Mar-2021 16:55:12 UTC] PHP Warning:  Function must be enabled in php.ini by setting 'xdebug.mode' to 'develop' in /app/vendor/yi

[2021-03-22 14:02] jasonmccallister commented on #308
@johnwbaxter I'm going to look into this this week, It did not prevent you from using Nitro though since it was a warning right? I'll be using my Pop_Os computer most of this week to also focus on the permissions issues as well. Do you have xdebug enabled on that site by chance?

[2021-03-22 16:36] jasonmccallister commented on #308
Can you verify your ErrorException.php class in your vendor folder matches this? https://github.com/yiisoft/yii2/blob/master/framework/base/ErrorException.php#L50

[2021-03-22 16:40] johnwbaxter commented on #308
Yep, it does!

[2021-03-22 23:04] benface commented on #214
@jasonmccallister I am experiencing this with Nitro 2. More specifically, when trying to install Craft in an empty database:

[code]

It's weird that it's trying to connect to `tcp://localhost:6379`, because I have this config in `app.php`:

[code]

and these in `.env`:

[code]

No `localhost` anywhere.

[2021-03-22 23:42] benface commented on #214
Huh, weird, looks like it was a file system sync issue. The changes I made to `.env` were not visible in the VM for some reason. A `nitro restart` fixed it. Nevermind me!

[2021-03-23 02:40] cbad-mvd opened #309 "Nitro 2 and missing databases"
### Description
My system crashed while docker/nitro was open. After a reboot and restarting docker/nitro it appears all my databases are missing. Here's the response when trying to do nitro db commands:

» nitro db ssh
Select a database to connect to:
Enter your selection:

No databases to select from. Before the crash, there were four or maybe five databases. Any ideas on how to proceed?

### St

[2021-03-23 11:36] jasonmccallister commented on #309
@cbad-mvd your databases are stored in volumes, so unless to ran `nitro destroy` or manually pruned the Docker system, it should still be there. Can you run `nitro start` and verify it creates all of the sites and databases you have defined in your `nitro.yaml`?

[2021-03-23 11:37] jasonmccallister commented on #214
Glad to hear that @benface!

[2021-03-23 13:49] cbad-mvd commented on #309
I agree it seems like they should be there, but I can't access them any longer. Here is the result from nitro start:

`» nitro start
Starting Nitro…
  … starting craftpro.nitro ✓
  … starting craftsolo.nitro ✓
  … starting promark.nitro ✓
  … starting redis.service.nitro ✓
  … starting mysql-5.7-3306.database.nitro ✓
  … starting nitro-proxy ✓
Nitro started 👍`

I haven't run nitro destroy, but I d

[2021-03-23 13:55] jasonmccallister commented on #309
By default, `nitro remove` does not remove the database to make sure we protect any data and prevent accidental deletion.

Can you run `docker volume ls`? You should have volumes with the same name as the databases.

Also, can you run `docker container ls` and verify the mysql database container is running?

[2021-03-23 14:11] sidneywidmer commented on #288
Thanks for fixing the issue - I just tested it out and I could successfully debug with phpstorm :+1:

Keep up the good work, I really like the direction this project is going :rocket:

[2021-03-23 14:19] brandonkelly opened #310 "`create` doesn’t set DB_USER & DB_PASSWORD env vars if you skip creating a DB"
### Steps to reproduce

1. Run `nitro create`
2. When asked whether a DB should be created, enter `n`

### Expected behavior

The `.env` file should have the following values;

[code]

### Actual behavior

The `.env` file has the following values:

[code]

[2021-03-23 14:34] brandonkelly commented on #310
Ditto for `DB_SERVER`.

[2021-03-23 14:49] cbad-mvd commented on #309
[code]
and
[code]
No database names there and it doesn't appear the database engine container is running either (unless I'm missing something).

Thanks for looking at this!

[2021-03-23 15:32] jasonmccallister commented on #309
The good news is that you have a volume for the databases, the fact the database does not show up means it's not running.

1. Are you on macOS, Linux, or WSL?
2. If running Docker Desktop, how much RAM and CPU are allocated to the docker virtual machine (_preferences > resources)_?
3. Can you send the output of `docker container ls -a` (will show all containers regardless of their current status)?

[2021-03-23 19:57] cbad-mvd commented on #309
I'm running macOS Catalina. Number of CPUs is 4. The memory was at 2 GB with a swap file of 1 GB. I upped memory to 4 GB with a swap file of 1.5 but didn't make a difference.
[code]
I just ran an update on Docker Desktop and ran this output just after I did a nitro start. It does show the mysql exiting right away.

[2021-03-24 08:56] tamlyn opened #311 "Nitro SSL cert is only valid 12 hours"
### Description

Every morning when I try to access my local Craft Nitro site I get an "Invalid certificate" warning page in Chrome. I have to run `nitro trust` to generate a new cert. But the cert it generates is only valid for 12 hours.

![image](https://user-images.githubusercontent.com/115310/112281660-36e9ec00-8c7e-11eb-82e3-6570acb40667.png)

### Steps to reproduce

I'm guessing this doesn't

[2021-03-24 09:38] jamesmacwhite commented on #311
You aren't the only one, I've noticed this as well for WSL. Restarting or stopping and starting Nitro also resolves it. I assume it's down to the Caddy Automatic HTTPS feature:

https://caddyserver.com/docs/automatic-https

I believe they are deliberately short life certs.

[2021-03-24 09:50] jamesmacwhite opened #312 "Craft 2: Calling console/yiic fails when using environment variables for db.php"
### Description

This is a probably a bit of unique case, but for Craft 2 calling console/yiic under Nitro doesn't work, as it cannot connect to the database. I am using environment variables in the config/db.php but I don't believe the environment variables are available to the console request, as all the db parameters are blank. If I hard code this in the db.php it works:

[code]

The environmen

[2021-03-24 11:21] aloco commented on #280
Hi we also have this issue with linux desktop,

talked to a colleague who worked on https://github.com/allaboutapps/go-starter where they had a similar issue. They worked around the problem by setting a specific user https://github.com/allaboutapps/go-starter/blob/master/Dockerfile#L134

Not sure if this is the same root cause of the problem, but this article might summarize the issues around it h

[2021-03-24 12:17] jamesmacwhite commented on #280
Yes, it is due to the UID/GUID being 1000 which is www-data, but the host will be a username like `jameswhite:jameswhite`. In most cases it works for reading, but writing is a problem.

Running chmod 777 basically makes any user be able to read/write any file, but the problem is when directories or files like composer.lock don't exist initially from a project setup.

I think the only way is for th

[2021-03-24 12:18] cbad-mvd commented on #309
Any update on this, need more info?

[2021-03-24 12:46] jasonmccallister commented on #311
@tamlyn @jamesmacwhite is correct, this is the Caddy server setting short lived TLS.

To resolve this, use `nitro restart` and the certificates will be renewed.

We will be making some changes to the Caddy server with the next release, I will look to see if there is a way to increase the duration.

[2021-03-24 12:52] jasonmccallister commented on #280
@aloco we have pushed a change that resolves this for linux users, we will be verifying today to make sure everything is good to go so it can go out with the next release.

What @jamesmacwhite mentioned is part of the resolution, we grab the user information dynamically on Linux and tell the container to connect/execute as that host user https://github.com/craftcms/nitro/blob/develop/command/ssh/s

[2021-03-24 12:55] jasonmccallister commented on #312
@jamesmacwhite maybe its worth looking at the code where Craft calls dotenv and adding it to the console file that loads PHP? Its been a really long time since I looked at Craft 2 but I will try to dig up an installation and ask someone on the team if they have the same issue.

[2021-03-24 13:13] jamesmacwhite commented on #312
@jasonmccallister Ah, having a minor brain failure. Yes, I can just include the vendor and DotEnv load in my console/yiic before it's called. I assume previously the env vars have been available without this, but because of the Docker container being split, the env vars aren't set in the PHP container.

Don't worry, I think I have a fix, thanks!

[2021-03-24 13:13] #312 closed

[2021-03-24 13:13] jasonmccallister commented on #309
@cbad-mvd when you updated the RAM and restarted Docker, did you run `nitro start` again? Is the container still showing the exit status?

[2021-03-24 14:05] aloco commented on #302
Hi Jason,

can you point out where to make those changes so we can temporary get this boost as well till it finds it way into a release?

Thank you!

[2021-03-24 14:25] cbad-mvd commented on #309
Yes, that output was provided after increased the RAM and then performed a nitro start. It exits on during initialization. I just tried it again with the same results. Maybe the docker log for the mysql container will help. Here it is at the point the errors start. If the full log would be more helpful, I can provide it.
[code]
Let me know if something more would help...

[2021-03-24 14:27] jasonmccallister commented on #309
That is a strange error I will need to lookup, do have a lot of databases in the container?

[2021-03-24 14:30] cbad-mvd commented on #309
I think I have five maybe six. Maybe it has something to do with running nitro db remove to get rid of a couple databases?

[2021-03-24 14:57] jasonmccallister commented on #309
Can you run `docker logs mysql-5.7-3306.database.nitro >> db_logs.txt` and send the complete output?

[2021-03-24 15:19] cbad-mvd commented on #309
That command would output the full logo to screen but the file only included log items with the [Note] tag. So I included the full log as well in case it is useful. See attached.
[db_logs_full.txt](https://github.com/craftcms/nitro/files/6198304/db_logs_full.txt)
[db_logs.txt](https://github.com/craftcms/nitro/files/6198305/db_logs.txt)

[2021-03-24 18:06] #307 closed

[2021-03-24 18:07] yanickrecher commented on #307
I changed nothing and today everything is working.

[2021-03-25 14:27] cbad-mvd commented on #309
It appears my databases are unrecoverable and I need to start over with Nitro. Shall I just do a nitro destroy to kill everything? Should I start over with a fresh copy of Docker as well, or will the destroy adequately clean it out?

Ideally going forward, I would like each site to be isolated from one another. Then if something like this happens again in the future, it only affects the site I'm c

[2021-03-26 12:34] jasonmccallister commented on #309
@cbad-mvd to be frank, I'm not sure why the MySQL container data is corrupted. I read a little to see what I could find and this seemed relevant. We have had other people have the same issue with too little RAM and MySQL, but upping the resources and a restart helped.

If you are unable to get the database backup and running, I would recommend the following:

1. Remove the container with `docker c

[2021-03-26 12:39] jasonmccallister commented on #302
@aloco after a ton of debugging and investigation with @angrybrad, we have determine this is not a Craft upstream issue but an issue related to the opcache settings, specifically the [validate timestamp options](https://www.php.net/manual/en/opcache.configuration.php#ini.opcache.validate-timestamps).

We are going to make a change to our docker images to set it as an argument and environment varia

[2021-03-26 15:06] cbad-mvd commented on #309
@jasonmccallister after not hearing back I went the nitro destroy route. It had errors connecting to the mysql server, but that was no surprise.

I then did a nitro init and since the nitro.yaml file was still there, it was painless. I imported my backup DBs and things just worked. I only lost data for the one site that was being actively worked on. So all in all not too bad.

There are two databa

[2021-03-26 17:32] aloco commented on #302
@jasonmccallister @angrybrad thank you guys for looking into this! Looking forward when we can set this via `nitro iniset`, but for now this works for me!

[2021-03-26 18:47] jasonmccallister commented on #309
@cbad-mvd those a defaults for the system, you can use the nitro database if you like. Glad you got it working, there is also the `nitro db backup` command to get a quick backup or you can use the control panel utility to back up.

Each site is its own container and isolated, but the databases are shared to reduce resource usage. @mattstein created a nice graphic on the [how it works](https://craf

[2021-03-26 18:48] #309 closed

[2021-03-29 14:26] angrybrad opened #314 "PHP 8's GD library isn't compiled to support JPGs"
### Description

You can't upload JPGs using PHP 8 in Craft using Nitro. You'll get this error:

If you check phpinfo output, there should be a "JPEG Support: enabled" property, but it's missing.

This is unfortunate as Imagick also doesn't work in PHP 8: https://github.com/Imagick/imagick/issues/358

### Additional info

- Nitro version: 2.0.6
- Docker version: 3.2.2

[2021-03-29 15:10] khalwat commented on #314
re: Imagick, this is not working for you? https://github.com/Imagick/imagick/issues/358#issuecomment-768586107

[2021-03-29 15:14] khalwat commented on #314
To fix this for GD change this: https://github.com/craftcms/docker/blob/main/8.0/Dockerfile#L53

[code]

to this: https://github.com/nystudio107/docker-images/blob/master/php-prod-base/php-8.0-alpine/Dockerfile#L60

[code]

[2021-03-29 17:06] jasonmccallister commented on #314
We have an existing issue on the Docker images here: https://github.com/craftcms/docker/issues/25

I'll try to squeeze that into a release ASAP, working on the release for tomorrow right now.

[2021-03-29 17:32] Paulexe opened #315 "Image transforms format webp/jpg broken"
Hi,

image transforms with target format webp/jpg are broken for me:

`TypeError
call_user_func_array(): Argument #1 ($callback) must be a valid callback, function "imagejpeg" not found or invalid function name`

`1. in /app/vendor/pixelandtonic/imagine/src/Gd/Image.php line 672`

Same problem as in #314 ?

### Steps to reproduce

1. Use image transform with target format webp/jpg

### Additional

[2021-04-02 16:57] angrybrad commented on #314
This was resolved upstream in the docker images. You can run `nitro update` to pull them in.

[2021-04-02 16:57] #314 closed

[2021-04-02 17:16] angrybrad commented on #315
This should be resolved in the upstream Docker images if you want to `nitro update`.

Going to go ahead and close, but if you still run into it, comment back and we'll re-open.

[2021-04-02 17:16] #315 closed

[2021-04-02 20:31] mattstein opened #318 "Can’t provide valid port for web-based UI using `container new` command"
### Description

I’m using `nitro container new` to spin up a [phpMyAdmin](https://www.phpmyadmin.net/) container for some docs I work on. A strange port is suggested and I know I want a web-based UI.

Everything goes great when I answer `Y` for exposing the suggested port and `Y` again for the UI:

[code]

If I decline to expose 1025 (because what is it?) **and** answer `Y` for a web-based UI thi

[2021-04-03 15:32] mattstein opened #321 "`remove` command does not remove container without running `apply` a second time"
### Description

After running `nitro remove` you have to run apply **again** to see the container removed even in you answer `Y` for `Apply changes now [Y/n]?`.

Notice the (just-added) `Removing test.nitro` here:

[code]

Yet the apply output doesn’t include a `Cleaning up...` step that removes the container. It’s still there:

[code]

But running `apply` again does what you’d expect:

[code]

I

[2021-04-05 02:46] gsumpster opened #323 "Add ElementaryOS to distribution list for certificate installation"
### Description
Hi! I recently tried to install Nitro on my ElementaryOS machine and haven't been able to move past installing the certificates when running `nitro init`.

Here's the error that I'm getting:
[code]

I believe adding 'elementary OS' to [this](https://github.com/craftcms/nitro/blob/745954976450c93ebe1c2fdeeb47045e2f3b0d2f/pkg/certinstall/certinstall.go#L100) line in certinstall.go sh

[2021-04-05 14:35] mattstein opened #325 "[FR] Command to remove database engine"
### Description

There should be a command to remove a database container, because I trust Nitro to help me remove anything it helps me add.

Right now I can hand-edit `~/.nitro/nitro.yaml` to remove the relevant `databases` entry and run `apply`, and it works despite the slightly uncomfortable output:

[code]

Output could have been my fault, but I’d _know_ who bug from PEBKAC if I was using `nit

[2021-04-05 17:01] micahmorgan1 opened #326 "webroot retains previous value after change"
### Description
I added a site with the wrong webroot (whlc.nitro), so I deleted and reinstalled the site with the correct webroot (web).  It shows correctly now in config webroot:web, but it throws a 404.  But when I make a whlc.nitro folder, it will launch from there.

### Steps to reproduce

1.Install with incorrect webroot
2. delete site
3. reinstall site with same name/location setting webroo

[2021-04-05 20:06] gsumpster commented on #323
Fixed with #324, closing!

[2021-04-05 20:06] #323 closed

[2021-04-05 21:01] jasonmccallister commented on #326
@micahmorgan1 I can confirm this and will work on getting this corrected!

[2021-04-06 02:25] jasonmccallister commented on #326
This will go out with the next release, you may have to recreate the containers to get the new labels.

[2021-04-06 10:35] therealpecus commented on #18
I have a few use cases:
- porting rules that a production website implements as .htaccess
- rewriting static assets for immutability (e.g. `styles.234fss43.css` to `styles.css`)

The best approach (I do not know if it's feasible) would be for nginx to include by default a `nginx.local.conf` file from the user craft or web directory (and fail silently if not available). This allows to have the cont

[2021-04-06 13:05] jasonmccallister commented on #18
@therealpecus I think this approach makes a lot of sense and matches what we have setup for PHP extensions (https://craftcms.com/docs/nitro/2.x/php-settings.html#manually-overriding-php-settings).

I made these changes locally:

1. Modified the `default.conf` at `/etc/nginx/conf.d/default.conf` (will need to be updated in https://github.com/craftcms/docker and https://github.com/craftcms/nitro/blo

[2021-04-06 16:04] #293 closed

[2021-04-06 16:04] #301 closed

[2021-04-06 16:04] #303 closed

[2021-04-06 16:04] #299 closed

[2021-04-06 16:04] #302 closed

[2021-04-06 16:04] #326 closed

[2021-04-06 16:10] jasonmccallister commented on #264
Just released 2.0.7 with better support on Linux and WSL2 machines.

[2021-04-06 16:10] #264 closed

[2021-04-06 16:10] jasonmccallister commented on #280
Just released 2.0.7 with better support on Linux and WSL machines.

[2021-04-06 16:10] #280 closed

[2021-04-06 16:10] jasonmccallister commented on #308
Just released 2.0.7 with better support on Linux machines.

[2021-04-06 16:10] #308 closed

[2021-04-06 16:10] jasonmccallister commented on #283
Just released 2.0.7 with this change!

[2021-04-06 16:10] #283 closed

[2021-04-06 17:57] lindseydiloreto commented on #283
Awesome, thanks @jasonmccallister! 🍺

[2021-04-06 20:37] lindseydiloreto opened #327 "[FR] Automatically redirect to `https`"
I absolutely _love_ the fact that Nitro includes `https` compatibility "out of the box"! ❤️

Is there any way to have each site **automatically redirect** to the `https` version of the site? Or perhaps have a config setting with a value of `yes`/`true` to redirect by default?

[2021-04-06 23:39] solutiondrop commented on #297
Jason, I'm here from the Discord question I asked. Here's my use case.

I use FortRabbit and their workflow which uses their Craft Copy Plugin for deployment. The connection to FortRabbit requires an SSH key. That said, I have a workaround by just installing a few of the plugin requirements like mysqldump directly to my local environment instead of doing it from the Nitro container. I guess it wou

[2021-04-07 08:53] jamesmacwhite commented on #327
I'm going to present a scenario where this might need some caution. If you use something like browsersync or front end loader that proxies the site, forcing HTTPS means this will likely fail without the certificates in the path with manual configuration. Allowing plain HTTP without forcing means you can still proxy HTTP without issues.

If forcing HTTPS it should be a configurable option in my opi

[2021-04-07 14:59] jasonmccallister commented on #20
@mattstein I beleive with version 2.0.7 and [these docs](https://craftcms.com/docs/nitro/2.x/node.html#configuring-node-server-ports) we can mark this as completed? Should we maybe include a tutorial on how to setup webpack with Nitro specifically?

[2021-04-07 15:14] jasonmccallister commented on #325
@mattstein I think `nitro db destroy` makes more sense as it is something that is destructive and potentially could result in data loss.

[2021-04-07 15:22] jasonmccallister commented on #327
I think an option makes the most sense, however it would be nice to have it per site.

What is there was a new configuration option that looked something like this:

[code]

That way it is specific to each site but should default to `false` to avoid potential issues for people trying to run node/npm in the container like @jamesmacwhite pointed out above.

[2021-04-07 16:06] mattstein commented on #20
@jasonmccallister I’d call this completed. The example on that page you linked to really is all you’d need to change with webpack’s configuration to have HMR working in a simple webpack setup [like the starter blog project uses](https://github.com/craftcms/starter-blog).

I’m guessing the more confusing part will be addressing common _combinations_ of things like Craft + Asset Rev + Laravel Mix or

[2021-04-07 16:07] khalwat commented on #20
@mattstein you spelled "Twigpack" wrong :)

[2021-04-07 16:23] ademers commented on #20
Craft + Laravel Mix + Twigpack! 🚀

[2021-04-07 16:43] lindseydiloreto commented on #327
I think that's mostly good (though I would prefer it to default to `true`). I agree that it should be configurable.

Can "Force HTTPS?" be a question asked during the project setup?

[2021-04-07 17:08] mattstein commented on #20
Closing now that Nitro exposes ports making this possible. If anybody’d like to chime in [over here](https://github.com/craftcms/docs/issues/193) with whatever they commonly use for front end development with Craft, please do! Will address further documentation separately.

[2021-04-07 17:08] #20 closed

[2021-04-07 19:25] kevinmu17 commented on #20
Somehow `Depending on your front end build setup, you may also need to provide your site with a base URL for the node server. In this case, it would mean changing http://localhost:8080 to http://starterblog.nitro:3000` this works for the front-end, but when trying to access /admin it gives a `net::ERR_ABORTED 404 (Not Found)` on every craft cms resource (cpresources)

Yes please! :)

[2021-04-07 19:43] mattstein commented on #20
@kevinmu17 It sounds like you changed Craft’s site URL, which is different.

If you’re using webpack-dev-server (or a project that wraps it), you’re using webpack to run a separate, live process with a different hostname and/or port specifically for serving built JS+CSS. The browser can talk to that freely if it’s running directly on your host machine, or via port 3000/3001 if you’re running it in

[2021-04-07 22:47] jasonmccallister commented on #311
@tamlyn there is no way to increase the certificates creating for sites past 12 hours when creating local certificates.

However, I did read your original issue description incorrectly the first time. The certificate imported during `nitro trust` is the root certificate and we don't import the individual site certificates. Simply running `nitro restart` will refresh to certificates and the `nitro

[2021-04-07 22:54] jasonmccallister opened #331 "Update npm and composer commands to use site containers"
### Description

Right now, both of the `npm` and `composer` commands create a temporary container based on the path of the command. This is useful for running these commands on directories that will never be related to a "site" in Nitro context. However, the 80 percent use case is to run `npm` or `composer` within the context of a site. Therefore these commands should be more "site aware" but fal

[2021-04-08 06:47] gsumpster commented on #297
+1, this was something I did with Nitro V1, by copying my key into the VM and using Craft Copy in there, it’s definitely something I’m missing with V2. I’m wondering if the Craft Copy piece of this issue might be solved with another container to run that plugin, instead of bloating the Craft container with all the potentially unnecessary requirements that Craft Copy has.

[2021-04-08 17:06] mholt commented on #311
Browsers are notorious for not re-negotiating TLS connections when you leave tabs open, thus trying to reuse the same TLS cert. Guess they aren't cut out for short-lived certificates. (You can always verify with `curl -v` whether a cert is _actually_ trusted. The Caddy logs will also tell you if/when they get renewed. If you see a renewal but the browser still gives you an error, it's probably the

[2021-04-09 12:32] kevinmu17 commented on #177
To what are you referring here as **host**?

[2021-04-09 14:36] tamlyn commented on #177
@kevinmu17 I mean the Docker host or in other words your local machine outside of Docker.

[2021-04-09 14:46] kevinmu17 commented on #20
Well, i just tried that with the starter blog but with no working results.

system info:
1. nitro version 2.0.7
2. NPM version 7.5.6
3. NODE version 14.15.1

`git clone https://github.com/craftcms/starter-blog.git .`

`rm -rf .git`

`cp .env.example .env`

`composer install`

`./craft setup`

`nitro add`

`npm install`

`npm run hot`

This doesn't work right away, so apply changes from the [docs](

[2021-04-09 15:16] kevinmu17 commented on #177
Thanks for clearing that up. What command are you using for running the dev server? I can't get it to work buy you pointed me in the right direction already, because it's now workingish ha!

[2021-04-09 15:42] mattstein commented on #20
@kevinmu17 It doesn’t look like you’re running `npm install` or `npm run hot` within the container (after `nitro ssh`).

That said, I’m having an issue right now with the `node-sass` binding with Nitro 2.0.7, node 14.16.0, and 6.14.11 that definitely wasn’t a problem when I was testing for the docs update—where HMR was working like you’d expect. Looking into that and will follow up when I figure o

[2021-04-09 16:16] kevinmu17 commented on #20
FYI: i've update node-sass with sass 1.32.8 because of deprecation [sass page](https://sass-lang.com/blog/libsass-is-deprecated) also see [NPM](https://www.npmjs.com/package/node-sass)

I've managed to get it all working now!

twigpack.php config:
[code]

webpack.config.js:
[code]

Hope this helps more people :D

[2021-04-09 17:37] mattstein commented on #20
@kevinmu17 It turns out I was fine and missed setting my own `DEFAULT_SITE_URL` to `http://starterblog.nitro` (not http**s**)—so we can ignore [this comment](https://github.com/craftcms/nitro/issues/20#issuecomment-816772940).

It also still seems like you’re running your `npm` commands from your host machine and not the Nitro container—and the only way `http://test.nitro:8080/` could possibly be

[2021-04-09 17:56] mattstein commented on #20
So from the top, the starter blog should work—HMR included—following these steps:

1. `nitro create craftcms/starter-blog starterblog.nitro`.
2. `nitro craft install` [follow prompts]
3. Edit `.env` and set `DEFAULT_SITE_URL` to `http://starterblog.nitro`.
4. Edit `webpack.config.js` and
    - set `config.devServer.port` to `3000`
    - add `config.devServer.host` and set it to `'0.0.0.0'`
5. `nit

[2021-04-09 20:20] benface opened #332 "Version of Composer should be persisted (stored in site config in nitro.yaml)"
I had a problem with my Docker installation and lost all my containers, so I had to recreate them with `nitro init`. Thanks to `nitro.yaml`'s declarative config, the new containers are identical to the old ones *except* for the version of Composer. I have some sites that aren't compatible with Composer 2, so I had followed the documented steps for [downgrading to Composer 1](https://craftcms.com/d

[2021-04-10 06:22] michaelroper opened #333 "nitro composer command having issues on 2.0.7"
### Description
Since upgrading to 2.0.7, I haven't been able to run the `nitro composer update` command, because it errors like this:

[code]

However, if I `nitro ssh` and run `composer update` from within the container, it works fine - and no mention of xdebug either. The nitro.yaml for my site specifically has `xdebug: false` in it, so I'm not sure if that has just been accidentally enabled fo

[2021-04-12 15:25] jasonmccallister commented on #333
@michaelroper we are going to be making seem changes to the `composer` and `npm` commands in #331. Closing this out in favor of that issue.

[2021-04-12 15:25] #333 closed

[2021-04-12 15:26] jasonmccallister commented on #311
After some research, we are going to close this ticket out as we cannot increase the lifespan of certificates locally.

[2021-04-12 15:26] #311 closed

[2021-04-12 17:01] jasonmccallister commented on #332
Hi @benface! We gave this some thought and since [composer 1 is now considered EOL](https://blog.packagist.com/deprecating-composer-1-support/) and there are instructions to downgrade to version 1 in Nitro, we are not going to support defining the composer version on a sites configuration.

[2021-04-12 17:01] #332 closed

[2021-04-13 11:42] kevinmu17 commented on #20
Hi Matt, thanks for clarifications!

I followed your steps 1-1. So when I am running hot with `nitro ssh` I'm getting this error:

[code]

I'm on MacOS 11.2.3

When doing `npm run hot` outside of nitro, it kinda works, but not how it's supposed to. The browser refreshes on every save no matter what I do.

[2021-04-13 16:12] toddpadwick commented on #274
Hi @jasonmccallister  I have updated to latest versions and am still getting this problem - i cant update craft with Nitro set up. But I can browse the admin, edit and save entries etc. Despite clearly having successful connection to db via admin, anything via the terminal does not:
[code]

[2021-04-14 18:02] clarknelson opened #334 "Issue Pulling Database with Craft Scripts"
### Description
I would like to use these scripts (https://github.com/nystudio107/craft-scripts) to manage the database and assets between my live and development environments. When I try to connect to use pull_db.sh, I get this message: 'mysqldump: Got error: 1044: Access denied for user 'nitro'@'%' to database 'mydatabase' when selecting the database`.

It seems like I am able to connect fine us

[2021-04-14 21:22] lindseydiloreto commented on #283
Finally got a chance to test this in the real world, and it worked perfectly! Thanks again! 👏

[2021-04-14 21:25] lindseydiloreto commented on #284
Now that #283 is done, this might actually be a fairly easy addition! Basically all I'm asking for is this...

[code]

... to simply be a wrapper for this...

[code]

That would stop all running Nitro containers, then start just that specific Nitro container (and any related containers).

[2021-04-15 16:12] jasonmccallister commented on #334
@clarknelson took a quick look at the script, looks like you need to set the server hostname for the database to your information from `nitro context`.

[2021-04-15 17:55] lindseydiloreto opened #335 "[FR] Please don't re-alphabetize YAML (or delete comments)"
### Description

Every time a new project is added, the YAML file gets completely rewritten. It takes all of my projects and re-alphabetizes them (after I had intentionally sorted them). On a related note, it also erased all of my comments. 😕

Can we have the "add project" process be a little less intrusive? Maybe just append new projects to the end of the file?

[2021-04-15 23:54] clarknelson commented on #334
I believe my problem was I did not have `php-mysql` installed

[2021-04-15 23:54] #334 closed

[2021-04-16 17:45] lindseydiloreto opened #336 "`nitro stop` shouldn't throw error if no containers are running"
### Description

When running `nitro stop` from the command line, it's job is to stop all running Nitro containers (whatever they may be).

However, if no containers were running to begin with, it's actually throwing an error...

[code]

If no containers were running in the first place, it should just **finish successfully**. Because it did what it set out to do... close all running Nitro containe

[2021-04-20 17:31] mattstein commented on #20
That’s definitely not what should be happening, @kevinmu17. I’ve watched a few others run through [these instructions](https://github.com/craftcms/nitro/issues/20#issuecomment-816855187) successfully and I’m not sure what we’re missing.

It’s also weird that [you can access `test.nitro:8080` from your macOS host machine](https://github.com/craftcms/nitro/issues/20#issuecomment-816795017), because

[2021-04-20 20:48] jayhlee opened #337 "Connected to imported database not working"
### Description
I'm trying to migrate an existing site to use Nitro. I created and imported an existing database successfully using `nitro db import` and set all the correct `.env` values. But when I go to the Craft Control Panel, it takes me to the fresh install page. Seems like the db connection isn't being recognized.

I'm not sure if it's related, but when I try to `nitro db backup`, I get an

[2021-04-20 21:44] jasonmccallister commented on #327
I took a look at adding this functionality and I have it partially working. However, there is an upstream change in Caddy that we need before we release this feature (along with some further tests) https://github.com/caddyserver/caddy/pull/4033.

[2021-04-20 22:43] lindseydiloreto commented on #327
Ok sweet, thanks for looking into it!

[2021-04-20 22:59] angrybrad opened #339 "`nitro extensions` wonky behavior"
### Description

After some random sampling, it seems that _none_ of the extensions the command accepts get enabled for php-fpm and _some_ of the extensions get enabled for the cli.

For example, nitro.yaml

[code]

Utilities->PHP Info from the Craft control panel doesn't list either (other than unrelated author credits).

If you `nitro ssh` into the site, you get nothing for `xsl`:

[code]

But y

[2021-04-21 06:03] walshmichael commented on #297
+1, it would be great to use private composer repositories when `nitro composer install` through either ssh (shared public keys) or https using the local `~/.composer/auth.json` to authenticate.

Is there another way to achieve this so we can continue to use the `nitro composer` convenience method?

[2021-04-21 06:39] walshmichael commented on #297
+1, it would be great to use private composer repositories when `nitro composer install` through either ssh (shared public keys) or https using the local `~/.composer/auth.json` to authenticate.

Is there another way to achieve this so we can continue to use the `nitro composer` convenience method?

[2021-04-21 18:34] #336 closed

[2021-04-21 18:40] lindseydiloreto commented on #336
Sweet, thanks @jasonmccallister! 👍

[2021-04-21 21:12] mattstein opened #342 "`nitro add` can’t be retried if Docker wasn’t running"
### Description

If you attempt to add a site when Docker isn’t running, starting Docker and retrying `nitro add` will fail with an error:

This makes it impossible to add the desired site+hostname unless you remove the `sites` entry from `~/.nitro/nitro.yaml`, run `nitro apply`, and try again.

I’d expect Nitro to write a new `sites` item in its YAML only if it can successfully add the site, and

[2021-04-22 18:00] jasonmccallister commented on #18
We just tagged [1.2.7](https://github.com/craftcms/docker/blob/main/CHANGELOG.md#127---2021-04-22) of the Docker images where `dev` containers will look for configuration file at `/app/nitro.conf`. If you are using a web root other than `web` for the sites container it will not get picked up until the next release of Nitro.

[2021-04-23 19:20] angrybrad opened #343 "Include SVGO, JPEGOPTIM, CWEBP, and OPTIPNG libraries"
### Description

Enough image manipulation plugins in the Craft ecosystem use the SVGO, JPEGOPTIM, CWEBP, and OPTIPNG libraries that we should consider including them by default.

Adding this to the Nitro repo, but not sure if we do it in Nitro itself or upstream in the docker images.

Currently, the only solution is to SSH into the site container and add them via NPM, Homebrew, etc. ephemerally,

[2021-04-26 09:55] dualhub commented on #284
One observation regarding this issue - on my Mac, com.docker.hyperkit uses approximately 4.5GB of RAM whether I have any containers running or not. That's basically the Linux virtual machine that is needed for Docker to run on Mac OS.

So I'm not sure how much of a performance hit there will be in having 10 Nitro sites running or just 1?

[2021-04-27 15:54] jasonmccallister commented on #337
@jayhlee can you provide the `DB_*` configuration from your `.env`?

[2021-04-27 19:13] jasonmccallister opened #344 "Support custom Dockerfile for site containers"
### Description

While the images used for Nitro sites provide most of what users need, there are times when a custom Dockerfile is useful to better mimic a production environment locally but still get all the benefits from Nitro such as the automatic HTTPS and database features. Nitro should have an advanced use case to handle user provided Dockerfiles.

There should be two main changes to suppor

[2021-04-27 19:14] jasonmccallister commented on #259
Adding this to the [2.1.0](https://github.com/craftcms/nitro/milestone/4) milestone and giving more thought to this before we being working on it.

[2021-04-28 10:36] seandelaney commented on #133
Any update on using custom configuration?

Looking to set `innodb_strict_mode = 0` for a project.

[2021-04-28 22:12] jayhlee commented on #337
Sure. I actually destroyed everything and re-created everything, and everything seems to work now. However, I still get the same errors when I try to run `nitro db backup` and `nitro db remove`.

[code]

[2021-05-03 18:25] mattstein opened #345 "`nitro container new` does not create environment variable file"
### Description

When adding a container with the `nitro container new` command, I’m prompted to create a file for adding environment variables. If I accept, via `Y` or <kbd>return</kbd>, Nitro reports that this file was created:

[code]

No file is created regardless of my choice or what Nitro reports. So while I’d expect `~/.nitro/.phpmyadmin` to be created, for example, no new files are added t

[2021-05-03 18:26] mattstein commented on #321
FWIW I’ve just realized this is also true for `nitro container remove`.

[2021-05-03 19:31] mattstein commented on #345
I am withdrawing this issue because it is a lie and I am an idiot.

The file is not there with `ls ~/.nitro`, because it is a hidden file. `ls -la ~/.nitro`, however, reveals that it **is** there.

[2021-05-03 19:31] #345 closed

[2021-05-03 20:04] khalwat opened #346 "Dynamically spin project containers up / down"
Currently, Nitro is all or nothing in terms of starting up projects in typical usage (yes, I know there's a command for starting a single site).

I think there might be a better way to handle it.

Since Nitro already has a proxy running, and knows about all of the sites on the machine, it'd be nice if containers associated with a project are lazily started up when any request for that project hits

[2021-05-03 20:06] mattstein commented on #321
Note to future self: update [this article](https://craftcms.com/knowledge-base/custom-nitro-container) when the fix for the issue is released.

[2021-05-03 20:07] khalwat opened #347 "Nitro Deploy"
The ability to spin up a new project to work on in local dev is only a part of the battle; I'd then also like to be able to just type:

[code]

or

[code]

...or the like to take the local stuff I have, and deploy it to a remote server. Perhaps the ability to pick and choose what gets deployed too (code, database, static assets, etc.)

Might require some additional work on the remote server end of

[2021-05-03 20:12] khalwat opened #348 "Nitro Up... Shrink wrap the devops"
A fantastic feature of Docker is that you can "shrink wrap" the devops of a project as config. So I can onboard someone by telling them to just pull down a Git repo, and type a single command, e.g.:

[code]

or
[code]

...or the like, and it'll do everything that needs doing to spin up the local dev environment.

With Nitro currently, people have to clone the project down, have Nitro installed, an

[2021-05-04 14:30] jasonmccallister opened #349 "Add a UI to manage Nitro"
### Description

Having a CLI to manage Nitro helps keep the portability across platforms but it would be nice to have some sort of UI to manage Nitro. There are a lot of ideas on what this should look like (a macOS menu bar, a simple platform specific application, or an electron application). We should avoid platform specific UIs as this would increase the support and maintenance burden.

Instead

[2021-05-04 14:31] jasonmccallister commented on #346
Just a few thoughts on this...

The `nitro start my-site.nitro` will only spin up the proxy, databases, and individual site to reduce the number of web containers running, but those do not consume as much resources (~ 150-200 Mb) as the databases.

We did discuss this functionality at first, but because the proxy container is running inside of the Docker network there are two ways to handle this f

[2021-05-04 14:40] jasonmccallister commented on #347
We have given this a lot of thought internally and had quite a few discussions about something similar, nothing to share yet though :)

[2021-05-04 14:42] jasonmccallister commented on #337
@jayhlee can you run `nitro version` and send the output?

[2021-05-04 15:14] khalwat commented on #348
Right, this is what I'm referring to. With a pure Docker setup, it's easy to automate all of this, which makes onboarding wonderful. I'm glad you have plans for it.

Currently, there's no way automated way to do this.

A feature that all of the various database containers offer is a [designated directory](https://onexlab-io.medium.com/docker-compose-mysql-database-seed-3bcbdfc51e8b) where if the d

[2021-05-04 15:14] khalwat commented on #347
Yep, I figured

[2021-05-04 15:22] khalwat commented on #346
Or more simply, `nitro start` could just start the proxy?

Sites could have a flag in terms of how they are started: `lazy` (the default) or `eager` and it'd always load any `eager` sites, and `lazy` sites would be loaded in as needed, and also spun down when not in use.

Site that are `lazy` spin up only when a http request comes in that the proxy intercepts.

If the databases are all in one cont

[2021-05-04 15:29] jasonmccallister commented on #348
This makes a lot of sense and I have done the [same in the past](https://stackoverflow.com/questions/43322033/create-database-on-docker-compose-startup/59653823#59653823). However, this is not a Docker feature and more of an image specific feature and there is no guarantee all images will have the same functionality. Nitro is setup to treat database containers as shared resources and forcing a see

[2021-05-04 15:39] khalwat commented on #348
Yeah, I'm thinking the shared database containers might be rethought -- for this reason, and also for memory/performance concerns.

People will accumulate dozens of projects over time, but typically only work on one or two of them at a time. I'm not sure the shared tenancy of the database container makes sense, but probably you have other reasons for doing that.

Having things degrade over time as

[2021-05-04 20:53] angrybrad commented on #348
If I'm following, once https://github.com/craftcms/nitro/issues/259 is implemented, you're saying there should be a single command you can run that starts Nitro (if it isn't running), and automatically creates/updates the environment you just imported for ease of use? (automatic database importing aside)

[2021-05-04 21:01] angrybrad commented on #346
My first reaction is auto-spinning up and down of containers and garbage collection is a bit of over-engineering?

What's the use-case that we're trying to solve?

Containers are generally lightweight resource-wise. I can't think of a case where someone ran into a Docker resource limitation and shutting down all of their containers except for one resolve it for them.

[2021-05-04 21:19] khalwat commented on #346
I've sat there and watched and waited as people fired up Nitro with dozens of projects... and it took longer than seemed reasonable for the one project they wanted to work on.

And then with them all running, it's taking up more memory and CPU cycles than is needed for just the one project they wanted to work on.

So the use-case we're trying to solve is:

- startup time
- memory usage
- CPU usage

[2021-05-04 21:21] khalwat commented on #348
Right, for onboarding people, they should be able to do:

[code]

...and everything would "just work" (database considerations aside) with it configuring all of the containers needed, any custom containers, everything. Wrapping the devops up with the project as config, just like you can do with a `docker-compose.yaml` file

[2021-05-05 16:56] jayhlee commented on #337
[code]

[2021-05-05 16:58] brandonkelly commented on #348
Sounds like we’re on the same page – this is basically the goal with #259. Will close this out in favor of that one.

[2021-05-05 16:58] #348 closed

[2021-05-06 12:08] jasonmccallister commented on #133
Hi @seandelaney! This functionality was implemented with V1. Since we have moved V2 to Docker this will change how we implement the change. If you don't mind, can you create a new issue to request this feature so we can better track it?

[2021-05-06 12:14] jasonmccallister commented on #342
Ok, so I looked into this and found the root cause. When running the `apply` with the `PostRunE` action on the `remove` command (or any command that runs `apply` after completion, the subsequent commands `PostRunE` does not appear to run as expected.

The code to run the clean up functionality is a `PostRunE` on the `apply` command and is [invoked here](https://github.com/craftcms/nitro/blob/devel

[2021-05-06 12:40] jasonmccallister commented on #321
@mattstein just fixed this in https://github.com/craftcms/nitro/commit/a086070219a2dae5904a06a8618486d1e7963bc2

Any command that called `apply` after would have been impacted.

[2021-05-06 12:51] jasonmccallister commented on #318
Just pushed the change that should resolve this here https://github.com/craftcms/nitro/commit/7ac8bd667ecc58facbe60f98d7e1dbff0200f539

@mattstein can you pull and build to verify its working as intended?

[2021-05-06 13:02] jasonmccallister commented on #274
@toddpadwick are you running the `craft` command outside of the container and on your host mahcine? The path contains your /Users directory which does not exist in the container.

[2021-05-06 13:10] jasonmccallister commented on #337
@jayhlee can you provide the output of `docker system info`?

[2021-05-06 14:39] jayhlee commented on #337
[code]

[2021-05-06 15:43] mattstein commented on #321
Built locally and confirm joy with `nitro container remove`. 👍

[2021-05-06 15:50] mattstein commented on #318
Works great @jasonmccallister, thank you! 👍

[2021-05-07 18:48] seandelaney opened #350 "Changing MySQL Configuration Variables via my.cnf"
### Description

Following on from https://github.com/craftcms/nitro/issues/133, it would be nice if we could apply custom configurations to MySQL databases, overriding `/etc/mysql/my.cnf` with settings like `innodb_strict_mode = 0`.

[2021-05-11 16:35] toyflish opened #351 "nitro add does not create database"
### Description
I brew installed nitro, ran nitro init for setting up nitro, ran nitro add from inside craft project directory, typed in  database name, database creation was confirmed 💪.
Could not import database exit with error, logged into mysql container with mysql-cli, only informaition_schema and nitro db present. But my "oneworld" db was missing.

        $ nitro init
        Setting up Nit

[2021-05-13 15:52] mattstein commented on #342
@jasonmccallister I’m not sure what to do with that information. Do you need anything from me or was that more of a note to self?

[2021-05-13 21:59] MrKrar opened #352 "Add Debian to distribution list for certificate installation"
### Description
Hello,
Using `nitro init` on Debian (WSL2) throws an error, the distribution seemingly not recognized for the certificate installation.
[code]
I found out the issue is similar to #323, but "Debian" seems to be missing in this [line](https://github.com/craftcms/nitro/blob/develop/pkg/certinstall/certinstall_linux.go#L102)?

[2021-05-14 07:34] smockensturm opened #353 "CMS 2.x datatabase connection"
### Description
Craft can’t connect to the database with the credentials in craft/config/db.php.
Can, however, connect to database with [this standalone php script](https://gist.github.com/mattstein/c4a42e16989bcd488ce969d96fc8598b) so creds check out.

What might cause this? drivers? extensions?

### Steps to reproduce

1. Try to fire up Craft CMS
2. Fire up the standalone php script

### Additio

[2021-05-14 12:30] shornuk commented on #351
I've just installed Nitro and I'm getting this too.

[2021-05-14 13:12] ben-callaway commented on #353
Also experiencing something like this, but with:

Craft CMS: 3.6.14
PHP: 7.4
MySQL: 8.0
Nitro CLI: 2.0.7
Nitro gRPC: 2.0.7
Docker API: 1.41 (1.12 min)
Docker CLI: 1.41

Error: "No primary site exists"

[2021-05-14 14:21] jasonmccallister commented on #353
@smockensturm can you provide the full stacktrace, specifically the error message?

@ben-callaway does the database have content in it and the table prefix is correct?

[2021-05-14 14:23] smockensturm commented on #353
2021/05/14 14:12:22 [error] [exception.CDbException] SQLSTATE[HY000] [2002] No such file or directory
2021/05/14 14:12:22 [error] [application] CDbConnection failed to open the DB connection.
2021/05/14 14:12:22 [error] [application] CDbConnection failed to open the DB connection.
2021/05/14 14:12:22 [error] [exception.CDbException] SQLSTATE[HY000] [2002] No such file or directory
2021/05/14 14:12

[2021-05-14 14:26] jasonmccallister commented on #353
@smockensturm what are the db credentials ports defined in your `.env`?

[2021-05-14 14:30] smockensturm commented on #353
[code]

[2021-05-14 14:33] smockensturm commented on #353
default table prefix 'craft'

[2021-05-14 14:37] jasonmccallister commented on #353
Looks like there is a space at the end of the database name?

[2021-05-14 14:42] smockensturm commented on #353
i think that is a typo here. sorry.

array(
        'server'        => 'mariadb-10.5-3306.database.nitro',
		'user'          => 'nitro',
        'password'      => 'nitro',
        'database'      => 'dpl_prod'
    ),

[2021-05-14 14:49] jasonmccallister commented on #353
Can you `nitro ssh` and run `php -m` and provide the output? It appears the error is being [thrown because an extension](https://github.com/craftcms/cms/blob/master-v2/src/etc/behaviors/AppBehavior.php#L890)...

[2021-05-14 14:51] jasonmccallister commented on #351
Can you run `nitro ls` and verify the database container is running?

@shornuk are you also using mysql v8?

[2021-05-14 14:51] smockensturm commented on #353
[PHP Modules]
bcmath
blackfire
Core
ctype
curl
date
dom
fileinfo
filter
ftp
gd
hash
iconv
imagick
intl
json
libxml
mbstring
mysqli
mysqlnd
openssl
pcre
PDO
pdo_mysql
pdo_pgsql
pdo_sqlite
Phar
posix
readline
redis
Reflection
session
SimpleXML
soap
sodium
SPL
sqlite3
standard
tokenizer
xdebug
xml
xmlreader
xmlwriter
Zend OPcache
zip
zlib

[Zend Modules]
Xdebug
Zend OPcache
blackfire

[2021-05-14 14:52] ben-callaway commented on #353
Yes, exact copy of what's live and running on MySQL 8. No table prefix used.

[2021-05-14 15:05] ben-callaway commented on #353
Solved by using default port, thanks @jasonmccallister

[code]

[2021-05-14 15:08] ben-callaway commented on #351
I can vouch for @shornuk, yes he is. Fresh install of Docker, Nitro and MySQL 8, PHP 7.4. Valet still present (not sure if that makes any difference).

[2021-05-15 09:56] toyflish commented on #351
reinstalled with mysql 5.7 , same behaviour as described above. looks like all run

    nitro ls
    Hostname                               Type              Status
    mysql-5.7-3306.database.nitro          database          running
    nitro-proxy                            proxy             running
    oneworld.nitro                         site              running

when I try adding a databas

[2021-05-17 17:34] mizziness opened #354 "Add Support for Yarn"
### Description

Currently, Nitro supports `npm` out of the box, but requires a few extra steps if your project uses `yarn`:

Workaround:

[code]

And you'll need to do this, or run a script to do it, each time you recreate the containers.  It would be very nice if `npm` and `yarn` were both supported options.

[2021-05-17 18:18] mizziness commented on #353
Also having the same issue, also was able to work around with the default port, `3306`, even though I have `3307` configured:

[code]

`mysql-8.0-3307.database.nitro`

[2021-05-17 18:28] ben-callaway commented on #353
I believe the docs are going to change to make it clearer but…

“…the port is for external to allow you to use a GUI and run multiple databases/versions. Internally (meaning in the Docker network) it uses the default port (5432/3306) on the container since they are individual containers/ip addresses within the network”

So 3306 for .env but 33061 (or in your case 3307) for TablePlus, sequel pro et

[2021-05-18 12:27] jasonmccallister commented on #352
Resolved this in https://github.com/craftcms/nitro/commit/0b6d2bf04e2ede714ccd00c8add78b16417a2caf for the next release.

[2021-05-18 13:05] jasonmccallister commented on #310
Resolved in https://github.com/craftcms/nitro/commit/668eb465748ed8bfcb709c0a7a47c3179000c87a. We will still prompt the user to update the `.env` file but will set all the environment variables we know about/are default.

[2021-05-18 14:32] mizziness commented on #353
That would probably be good because right now it is confusing as all heck.

[2021-05-18 14:45] smockensturm commented on #353
any movement on the suspected driver issue @ben-callaway ?

Amusing anecdote: we have an Expression Engine 2.11.9 install running in the Nitro environment. We can shoehorn **that** into connecting, but not an old Craft. :)

[2021-05-18 15:17] jasonmccallister commented on #353
@mizziness and @ben-callaway prepping a release that will include the following on `nitro ls` output. Not perfect but it is a start.

![Screenshot from 2021-05-18 11-12-11](https://user-images.githubusercontent.com/5354908/118677301-28c1d300-b7ca-11eb-9466-811a9fb2d1e5.png)

@smockensturm that is really confusing, it should work as expected. I am going to ping someone on the team running 2.x and a

[2021-05-18 15:46] ademers commented on #353
I'm having same issue as https://github.com/craftcms/nitro/issues/353#issue-891691548. However, using mySQL instead of mariaDB. Also ran `db-test.php`, and no errors:
[code]

[2021-05-18 16:42] mattstein opened #355 "[FR] Add site argument for alias command"
### Description

Missed this one in [2.0.7](https://github.com/craftcms/nitro/blob/develop/CHANGELOG.md#207---2021-04-06)! Since `nitro alias` first prompts you for a site, it might as well behave like other commands and allow you to specify one as an argument.

Current:

[code]

Proposed support for maximum joy:

[code]

[2021-05-18 17:38] angrybrad commented on #353
@ademers can you share your nitro.yaml file (edit out any sensitive bits) with just the Craft 2 site and i'll see if i can reproduce locally with that

[2021-05-18 17:47] ademers commented on #353
@angrybrad Here ya go:

[code]

[2021-05-18 18:26] angrybrad commented on #353
@ademers guessing it's because in your `config/db.php` you're using `'port'=33061` and it should be `'port'=3306`.

33061 would be the external port the MySQL container is exposed on and 3306 is the internal one - it's explained a bit in the docs here: https://craftcms.com/docs/nitro/2.x/how-nitro-works.html#databases

And Jason's recent `ls` change (which will be in the next release https://githu

[2021-05-18 18:57] ademers commented on #353
@angrybrad I don't actually have a port specified in `config/db.php`, so I assume it's using the default which I assume is `3306` (?). I don't see any mention of `port` at https://craftcms.com/docs/2.x/installing.html#step-4-tell-craft-how-to-connect-to-your-database.
[code]
I tried adding `'port' => '3306'` to the above, but no change.

[2021-05-18 22:19] angrybrad commented on #353
@ademers issue was unrelated to ports, but we tracked it back to multi-environment configs not working in Craft 2 under Nitro, because it checks `$_SERVER['SERVER_NAME']` by default for the multi-env keys and that's coming back as ` _` in Nitro.

Likely because of  https://github.com/craftcms/docker/blob/main/nginx/default.conf#L4 in the upstream Docker images.

As a workaround for now, you can de

[2021-05-18 23:26] jasonmccallister commented on #310
Released with v2.0.8.

[2021-05-18 23:26] #310 closed

[2021-05-18 23:26] jasonmccallister commented on #321
Released with v2.0.8.

[2021-05-18 23:26] #321 closed

[2021-05-18 23:26] jasonmccallister commented on #325
Released with v2.0.8.

[2021-05-18 23:26] #325 closed

[2021-05-18 23:27] jasonmccallister commented on #318
Released with v2.0.8.

[2021-05-18 23:27] #318 closed

[2021-05-19 14:23] jasonmccallister commented on #352
Released in 2.0.8, let me know if you have any issues!

[2021-05-19 14:23] #352 closed

[2021-05-19 17:58] angrybrad commented on #18
For 2.0.9 we're going to improve on this so that if a nitro.conf exists at the root of the project, you'll be able to override the entire default server block (similar to what's in https://github.com/craftcms/nitro/blob/develop/command/apply/internal/nginx/nginx.go) instead of an include in the middle of it.

We'll need to document the few required configs from that block that are required for nit

[2021-05-19 18:09] angrybrad commented on #353
Another solution for this would be once https://github.com/craftcms/nitro/issues/18 is implemented, you can override the server name in the server block so `$_SERVER['SERVER_NAME']` is populated properly.

[2021-05-19 18:11] smockensturm commented on #353
Hi @angrybrad wondering if you are including the OP in these remedies, or am I just THAT special?

[2021-05-19 18:31] angrybrad commented on #353
@smockensturm

1) Are you using multi-environment config in `config/db.php`?
2) Are you specifying a port in `config/db.php`?

[2021-05-19 18:34] jasonmccallister commented on #355
I think this is working as expected? I just tried this on the latest build and got the following:

[code]

I don't think it has the autocomplete of site names though, is that what you mean? Also the documentation for `nitro help alias` is not showing you can add a site argument.

[2021-05-19 18:37] smockensturm commented on #353
@angrybrad

1. yes
2. no

[2021-05-19 18:38] mattstein commented on #355
You’re right @jasonmccallister, my mistake. Only difference is providing a site argument doesn’t list the existing aliases. Which would technically be a different issue/FR. Closing!

[2021-05-19 18:38] #355 closed

[2021-05-19 18:38] angrybrad commented on #353
@smockensturm It applies to you, then. :)

See https://github.com/craftcms/nitro/issues/353#issuecomment-843603882 for a workaround

[2021-05-19 19:37] jasonmccallister commented on #355
I can try to update the online documentation and look at the aliases not printing as well.

[2021-05-19 20:00] mattstein commented on #355
I fixed the docs: https://craftcms.com/docs/nitro/2.x/commands.html#alias

[2021-05-19 23:36] angrybrad opened #356 "`nitro self-update` should default to the current major version"
Currently if you `nitro self-update` on Nitro v1, you'll get the latest v2 release, which is wholly incompatible with v1.

We should default so that `self-update` sticks to the current major version and add a flag (ala Composer) so that you'd need to explicitly specify you want to jump a major version going forward.

i.e. `nitro self-update -version=2` or some such.

[2021-05-20 18:43] khalwat commented on #344
This seems to imply a monolithic site container?

So Node would be installed _in_ this container, not in a separate container?

[2021-05-20 22:49] jasonmccallister commented on #344
@khalwat that is somewhat accurate. The idea is the container is yours for whatever you want to install in it, as long as it is listening on port 8080 (maybe configurable) to allow the proxy to pass traffic. In theory, this could be any application - not just a Craft installation.

There are a few benefits to this approach:

1. If you are shipping to production and using a container image, you can

[2021-05-21 10:08] baukevanderlaan opened #359 "Ports are not available: unable to list exposed ports"
### Description

I consistently get this error after a long wait: `Error: unable to start the container, Error response from daemon: Ports are not available: unable to list exposed ports: Get "http://unix/forwards/list": context deadline exceeded (Client.Timeout exceeded while awaiting headers)`

I’m on MacOS 10.15, have a fresh install of Docker and Nitro, and it doesn't matter which database I s

[2021-05-21 12:49] jasonmccallister commented on #359
@baukevanderlaan do you have anything running on port 3306? You can try `nitro portcheck 3306` to test the port. It might also be running as part of MAMP or another local development tool so its best to have those turned off. However, that error code is a weird combination of HTTP and socket parameters.

I did find [this issue](https://github.com/docker/for-win/issues/9273) which suggests it worke

[2021-05-21 13:25] rellafella opened #360 "Support for vite configuration"
### Description
Working through [Andrew Welsh's article](https://nystudio107.com/blog/using-vite-js-next-generation-frontend-tooling-with-craft-cms) about using Vite for local dev with Craft. I feel like this config is very close to working but have run into a CORS issue, but can't seem to figure out why.

There is a heap of information here, but please let me know if I have missed anything that y

[2021-05-21 14:53] baukevanderlaan commented on #359
@jasonmccallister Thanks for helping!

`nitro portcheck` says port 3306 is still available. I then rebooted my computer, uninstalled and reinstalled Docker and still get the same error.

[2021-05-21 15:06] jasonmccallister commented on #360
@rellafella when you access the site directly, can you inspect the headers in the network tab and provide the output?

[2021-05-21 17:53] mattstein opened #361 "[FR] Improve `nitro iniset` boolean prompts"
### Description

Nitro’s `iniset` command prompts with a question for the desired setting, and its auto-suggestions for boolean values are `true` or `false`.

Example:

[code]

These should be `Y/n` answers because:

1. We’re answering a “should we” question, and it’s more natural for humans to answer “yes” or “no”.
2. It would be more consistent with the rest of Nitro’s `Y/n` prompts.
3. It reduc

[2021-05-21 18:29] khalwat commented on #360
Maybe you'll find some hints here? https://nystudio107.com/docs/vite/#local-development-environment-setup

As for CORS, Vite by default:

https://vitejs.dev/config/#server-cors

Sets it up to allow access from any origin. So your error is a little puzzling.

[2021-05-21 21:48] rellafella commented on #360
#### Response headers (app.js)
HTTP/1.1 200 OK
Server: Caddy
Date: Fri, 21 May 2021 21:33:15 GMT
Content-Length: 0

This is what has me puzzled too, I have tried playing around with the server.cors options too with no luck.

I'll see how I go trying to incorporate Andrew Menich's dev server config from mix and let you know on here if there is anything different.

[2021-05-22 17:31] proimage opened #362 "`npx` support?"
### Description
According to the latest [Laravel Mix docs](https://laravel-mix.com/docs/6.0/installation), the command to compile things has changed from `npm run ____` to `npx mix`. While Nitro supports `npm`, it doesn't appear to support `npx`.

[2021-05-23 08:17] toyflish commented on #351
Since I‘m not into go I just can give hints. So I think [this command](https://github.com/craftcms/nitro/blob/5cde2606097bcddfc0e6baa07ce8dcb4d7b1b4fd/command/apply/internal/databasecontainer/databasecontainer.go#L249) is not executed by setting up the database container:

    {"mysql", "-uroot", "-pnitro", fmt.Sprintf(`-e GRANT ALL PRIVILEGES ON *.* TO '%s'@'%s' WITH GRANT OPTION;`, "nitro", "%")

[2021-05-23 13:23] proimage opened #363 "Server push?"
### Description
Does Nitro currently support server push? If not, can it? Pretty please? ;)

Once implemented, the Craft side of things is trivially simple. This code, for example, makes use of the Craft session cookie (using the [Craft Cookies plugin](https://plugins.craftcms.com/cookies)) to push the main CSS and JS files along with the HTML on a user's first visit, while presuming that their br

[2021-05-23 13:34] rellafella commented on #360
Update:
I got this setup with mix 6 as per Andrew Menich's article without any CORS errors. Can't  seem to see any discernible difference between the configurations, apart from the obvious.

That was following almost an identical configuration, obviously leveraging Twigpack instead though. But still the same process of `nitro ssh` then `npm run dev` in there. Files were being served from http://lo

[2021-05-23 17:58] khalwat commented on #360
I think Vite might use a web socket for some of this -- not sure how that'd impact anything tho.

[2021-05-24 02:40] rellafella commented on #360
I am not really sure what to do with this information but it might be useful to the issue.

In Andrew M's article he recommends using curl to debug the location of the webpack manifest so out of interest I thought I would try a similar thing with Vite.

If I run `curl -I 'http://localhost:3000/src/js/app.js'` I am getting a bunch of headers that are not present in the browser. Including `Access-Co

[2021-05-24 04:33] khalwat commented on #360
@rellafella set:

[code]

I'm pretty sure that what's happening is since you have that on, it's testing:

[code]

...to see if the Vite dev server is running. Since you have it set to:

[code]

...this is going to fail, because it's doing this _inside_ of the Docker network. The address in there _will not be_ the same as the `VITE_DEV_SERVER_PUBLIC` address. It'll be an internal Docker networking

[2021-05-24 05:05] rellafella commented on #360
Have tried toggling `checkDevServer` but it doesn't seem to have any effect.

[2021-05-24 05:07] khalwat commented on #360
It definitely will have an effect... if you tell it to check for the dev server, and it can't connect to it, it will fall back on the production build.

[2021-05-24 05:14] rellafella commented on #360
Sorry, yes in that respect it does have an effect, but it doesn't seem to change anything for the CORS issue.

I have tried a few different values for `devServerInternal` but it seems as though "http://localhost:3000" is the only one that will resolve if I try pinging it while the dev server is running.

[2021-05-24 15:36] jasonmccallister commented on #362
@proimage I'm taking a guess that this is related https://discord.com/channels/456442477667418113/707324026577485934/845745476003430490

We are making some changes to the base images that Nitro uses to better support things such as controlling the node versions which will also mean the npx command can be included. In your Discord message you were trying `nitro npx` but `nitro ssh` and the instruct

[2021-05-24 15:38] jasonmccallister commented on #363
@proimage because the server push seems to be for specific paths (I might be wrong) this would only be useful on a per site basis. When #18 is implemented you should be able to customize the nginx config to add server push support.

[2021-05-24 15:42] jasonmccallister commented on #356
Since we use the GitHub API, there is not r[eally a clean way to filter prereleases from a normal release](https://docs.github.com/en/rest/reference/repos#list-releases) (as a filter) and requires  manually parsing the JSON response. There is a bool key for the release "type" `prerelease` that when we use something like `--dev` it finds the first prerelease and also verifies its greater than the c

[2021-05-24 16:32] angrybrad commented on #356
Yeah, we'd have to do something like this.

[2021-05-25 10:59] brandonkelly opened #364 "Use `--` to delimit options/flags that should be passed to Craft/Composer/npm"
Nitro commands that accept options/flags that should be passed to another command within a container (`craft`, `composer`, and `npm`), should support passing a `--` delimiter before listing any options that should be passed along to the sub-command.

For example, If I want to run `craft migrate/up` with `--track=craft` from Nitro’s `craft` command, I should be able to specify that like so:

[code]

[2021-05-26 01:37] MLCochrane opened #365 "`nitro create` should prompt the user to install Craft after spinning up containers"
### Description
Currently when using `nitro create` it's not terribly clear that you still need to install Craft afterwards. Wondering if this might be helpful for new users to nitro, docker and/or Craft as going through the docs as well as prompts from `create` don't mention the final piece of the puzzle.

Couldn't seem to find any note following the docs here: [Project Setup](https://craftcms.co

[2021-05-26 08:19] proimage commented on #363
The path-specific server push you're talking about looks like [the method covered here](https://medium.com/@mena.meseha/http-2-server-push-tutorial-d8714154ef9a), under the "Fourth, Nginx implementation" heading.

However, if you scroll down to the "Sixth, the backend implementation" heading, there's an alternate method shown that appears to be much more reliant on the file headers. That's the met